:javascript


  //scroll to top
  $('.scrollToTop').click(function(){
    $('html, body').animate({scrollTop : 0},800);
    return false;
  });

  // Keeps hidden the things that should be hidden by the checked checkboxes
  // had to move this code snippet from smslan.erb.js otherwise rows are counted and then hidden, so all rows are hidden and not ignore those that will be hidden. This code snippet has to be executed before the one below, that is why I moved it here.
  $('input:checked').each(function() {
    $('td:contains("' + $(this).val() + '")').parentsUntil(".smsloanoverview").hide();
  });
  // Counts number of loans shown and informs user after they have changed the dropdown in the smsloaninterface. Didn't work so good to put in application.js or smslan.js.erb
  rowCount = $('.anti_border_spacing tr:visible').size();
  $('.bold-text.nr_of_loans').text(rowCount + " st lån visas");

  //http://stackoverflow.com/questions/7831712/jquery-sort-divs-by-innerhtml-of-children
  //Change order of loantimegroup based on first loan in group. Only applies ot 1 year loantime group.
  //$("button.btnSort").click(function() {


  firstborn1 = $("#1").find(".sms_costnew_searchresult:first").text();
  firstborn2 = $("#2").find(".sms_costnew_searchresult:first").text();     
  firstborn3 = $("#3").find(".sms_costnew_searchresult:first").text();
  firstborn4 = $("#4").find(".sms_costnew_searchresult:first").text();
  firstborn5 = $("#5").find(".sms_costnew_searchresult:first").text();
  firstborn6 = $("#6").find(".sms_costnew_searchresult:first").text();
  var iNum1 = parseInt(firstborn1);
  var iNum2 = parseInt(firstborn2);
  var iNum3 = parseInt(firstborn3);
  var iNum4 = parseInt(firstborn4);
  var iNum5 = parseInt(firstborn5);
  var iNum6 = parseInt(firstborn6);

  if (iNum6 < iNum1) {
    $("#1").appendTo("#6");
  }
  if (iNum6 < iNum2) {
    $("#2").appendTo("#6");
  }
  if (iNum6 < iNum3) {
    $("#3").appendTo("#6");
  }
  if (iNum6 < iNum4) {
    $("#4").appendTo("#6");
  }
  if (iNum6 < iNum5) {
    $("#5").appendTo("#6");
  }
  if (iNum6 < iNum6) {
    $("#6").appendTo("#6");
  }

  // adds " kr"
  //$('.sms_costnew_searchresult').append(" kr");

  //});



.row
  .scrollToTop Scrolla till toppen
.row
  .barshowgroup
    %ul#horizontal-list-groupbar
      %li.fonts.group_bar_options.group_14d 14 dagar
      %li.fonts.group_bar_options.group_21d 21 dagar
      %li.fonts.group_bar_options.group_30d 30 dagar
      %li.fonts.group_bar_options.group_60d 60 dagar
      %li.fonts.group_bar_options.group_90d 90 dagar
      %li.fonts.group_bar_options.group_1y 1 år
      %li.barshowgroup_correction
        = form_tag smslan_path, :method => "get", id: "search_form_dropdown", remote: true do
          = select_tag :search1, options_for_select([["14 dagar", "1",], ["21 dagar", "2"], ["30 dagar", "3"], ["45 dagar", "4"], ["60 dagar", "5"], ["90 dagar", "6"], ["1 år", "7"]], params[:search1]), :class => "smsdropdown hidden-smsdropdown", :onchange => "$(this).parent('form').submit();", :prompt => "Välj löptid på lånet"
          = select_tag :search2, options_for_select([["500 kr", "1"], ["1000 kr", "2"], ["2000 kr", "3"], ["3000 kr", "4"], ["4000 kr", "5"], ["5000 kr", "6"], ["6000 kr", "7"], ["7000 kr", "8"], ["8000 kr", "9"], ["9000 kr", "10"], ["10000 kr", "11"], ["15000 kr", "12"], ["20000 kr", "13"], ["25000 kr", "14"], ["30000 kr", "15"]], params[:search2]), :class => "barshowgroup_dropdown smsdropdown", :onchange => "$(this).parent('form').submit();", :prompt => "Belopp"

.row.row-padding-fix
  .span1
  .span10
    .center_element2
      %ul#smsloan_options_chosen
        %li Sökresultat för:
        %li.bold-text= @smsamount_visible_info_for_user2
        %li.bold-text= @smsamount_visible_info_for_user
        //%li med löptid på 
        //%li.bold-text= @smstime_visible_info_for_user2
        //%li.bold-text= @smstime_visible_info_for_user
    .center_element2
      .bold-text.nr_of_loans

    .center_element2
      = form_tag smslan3_path, :method => "get", id: "search-form", remote: true do
        = button_tag(type: 'submit', class: "btn btn-info btn-info") do
          %i.icon-white.icon-list
          Visa lånöversikt igen

    #sortThis
      #1.table14d.first-top
        %h2.table14d.hulk-box#table_id2 14 dagar
        %table#table_id2#table14d.ex1.anti_border_spacing
          %tbody.smsloanoverview
            - @plucker14.each do |bank, min_loanamount, max_loanamount, plucker, plucker2, max_amount_new_borrower, invoice_fee, application_fee, mobile_friendly_site, min_age, low_credit_score, cost_free_loan, cost_free_loan_amount, new_borrower_5K, new_borrower_10K, no_uc, skef_member, bankid, open_on_saturdays, open_on_sundays, weblink|
              %tr
              - @cost_debtor = number_to_currency(plucker, strip_insignificant_zeros: true, locale: :fr)
              - @cost_newdebtor = number_to_currency(plucker2, strip_insignificant_zeros: true, locale: :fr)
              - @cost_debtor_texted = "Redan kund " + @cost_debtor.to_s
              - if plucker.nil? && plucker2.nil?
              - else
                - if plucker.nil?
                  - @cost_debtor_texted = "-"
                - if plucker2.nil?
                  - @cost_newdebtor = "-"
                %td.smsloangiver_searchresult.td_fix_mobileformat= bank.to_s.html_safe

                %td.sms_info_list_mobileformat.td_fix_mobileformat
                  %ul.sms_info_list
                    %li
                      %p
                        %strong> Lånebelopp
                        \: 
                        - @smsloan_minamount = min_loanamount
                        - @smsloan_maxamount = max_loanamount
                        = @smsloanminandmaxamount = @smsloan_minamount.floor.to_s + " - " + @smsloan_maxamount.floor.to_s + "kr"
                    %li
                      %p
                        %strong> Åldersgräns
                        \: 
                        = excerpt(min_age, 'år', radius: 3, omission: '')
                    %li
                      %p
                        %strong> SKEF-medlem
                        \:
                        = excerpt(skef_member, 'Ja', radius: 0, omission: '')
                        = excerpt(skef_member, 'Nej', radius: 0, omission: '')
                    %li
                      %p
                        %strong> Lån trots betalningsanm.
                        \:
                        //= Smsloan.second.low_credit_score
                        = low_credit_score.slice!(/(?:Ja|JA|Nej|NEJ)/)
                    %li
                      %p
                        = no_uc[/"(.*?)"/, 1]
                %td.check_if_empty.sms_costs_mobileformat.td_fix_mobileformat
                  %ul
                    %li
                      .sms_costnew_searchresult= @cost_newdebtor
                  %ul#horizontal-list
                    %li
                      .sms_costold_searchresult= @cost_debtor_texted


                %td.sms_ansokbutton_mobileformat.td_fix_mobileformat= weblink.to_s.html_safe
                %td.hidden-smslan= max_amount_new_borrower
                %td.hidden-smslan= invoice_fee
                %td.hidden-smslan= application_fee
                %td.hidden-smslan= mobile_friendly_site
                %td.hidden-smslan= min_age
                %td.hidden-smslan= low_credit_score
                %td.hidden-smslan= cost_free_loan
                %td.hidden-smslan= cost_free_loan_amount
                %td.hidden-smslan= new_borrower_5K
                %td.hidden-smslan= new_borrower_10K
                %td.hidden-smslan= no_uc
                %td.hidden-smslan= skef_member
                %td.hidden-smslan= bankid
                %td.hidden-smslan= open_on_saturdays
                %td.hidden-smslan= open_on_sundays
      #2.table21d.first-top
        .table21d.hulk-box#table_id2 21 dagar
        %table#table_id2#table21d.ex1.anti_border_spacing
          %tbody.smsloanoverview
            - @plucker21.each do |bank, min_loanamount, max_loanamount, plucker, plucker2, max_amount_new_borrower, invoice_fee, application_fee, mobile_friendly_site, min_age, low_credit_score, cost_free_loan, cost_free_loan_amount, new_borrower_5K, new_borrower_10K, no_uc, skef_member, bankid, open_on_saturdays, open_on_sundays, weblink|
              %tr
              - @cost_debtor = number_to_currency(plucker, strip_insignificant_zeros: true, locale: :fr)
              - @cost_newdebtor = number_to_currency(plucker2, strip_insignificant_zeros: true, locale: :fr)
              - @cost_debtor_texted = "Redan kund " + @cost_debtor.to_s
              - if plucker.nil? && plucker2.nil?
              - else
                - if plucker.nil?
                  - @cost_debtor_texted = "-"
                - if plucker2.nil?
                  - @cost_newdebtor = "-"
                %td.smsloangiver_searchresult.td_fix_mobileformat= bank.to_s.html_safe

                %td.sms_info_list_mobileformat.td_fix_mobileformat
                  %ul.sms_info_list
                    %li
                      %p
                        %strong> Lånebelopp
                        \: 
                        - @smsloan_minamount = min_loanamount
                        - @smsloan_maxamount = max_loanamount
                        = @smsloanminandmaxamount = @smsloan_minamount.floor.to_s + " - " + @smsloan_maxamount.floor.to_s + "kr"
                    %li
                      %p
                        %strong> Åldersgräns
                        \: 
                        = excerpt(min_age, 'år', radius: 3, omission: '')
                    %li
                      %p
                        %strong> SKEF-medlem
                        \:
                        = excerpt(skef_member, 'Ja', radius: 0, omission: '')
                        = excerpt(skef_member, 'Nej', radius: 0, omission: '')
                    %li
                      %p
                        %strong> Lån trots betalningsanm.
                        \:
                        //= Smsloan.second.low_credit_score
                        = low_credit_score.slice!(/(?:Ja|JA|Nej|NEJ)/)
                    %li
                      %p
                        = no_uc[/"(.*?)"/, 1]
                %td.check_if_empty.sms_costs_mobileformat.td_fix_mobileformat
                  %ul
                    %li
                      .sms_costnew_searchresult= @cost_newdebtor
                  %ul#horizontal-list
                    %li
                      .sms_costold_searchresult= @cost_debtor_texted


                %td.sms_ansokbutton_mobileformat.td_fix_mobileformat= weblink.to_s.html_safe
                %td.hidden-smslan= max_amount_new_borrower
                %td.hidden-smslan= invoice_fee
                %td.hidden-smslan= application_fee
                %td.hidden-smslan= mobile_friendly_site
                %td.hidden-smslan= min_age
                %td.hidden-smslan= low_credit_score
                %td.hidden-smslan= cost_free_loan
                %td.hidden-smslan= cost_free_loan_amount
                %td.hidden-smslan= new_borrower_5K
                %td.hidden-smslan= new_borrower_10K
                %td.hidden-smslan= no_uc
                %td.hidden-smslan= skef_member
                %td.hidden-smslan= bankid
                %td.hidden-smslan= open_on_saturdays
                %td.hidden-smslan= open_on_sundays
      #3.table30d.first-top
        .table30d.hulk-box#table_id2 30 dagar
        %table#table_id2#table30d.ex1.anti_border_spacing
          %tbody.smsloanoverview
            - @plucker30.each do |bank, min_loanamount, max_loanamount, plucker, plucker2, max_amount_new_borrower, invoice_fee, application_fee, mobile_friendly_site, min_age, low_credit_score, cost_free_loan, cost_free_loan_amount, new_borrower_5K, new_borrower_10K, no_uc, skef_member, bankid, open_on_saturdays, open_on_sundays, weblink|
              %tr
              - @cost_debtor = number_to_currency(plucker, strip_insignificant_zeros: true, locale: :fr)
              - @cost_newdebtor = number_to_currency(plucker2, strip_insignificant_zeros: true, locale: :fr)
              - @cost_newdebtor4 = @cost_newdebtor.to_s
              - @cost_debtor_texted = "Redan kund " + @cost_debtor.to_s
              - if plucker.nil? && plucker2.nil?
              - else
                - if plucker.nil?
                  - @cost_debtor_texted = "-"
                - if plucker2.nil?
                  - @cost_newdebtor4 = "-"
                %td.smsloangiver_searchresult.td_fix_mobileformat= bank.to_s.html_safe

                %td.sms_info_list_mobileformat.td_fix_mobileformat
                  %ul.sms_info_list
                    %li
                      %p
                        %strong> Lånebelopp
                        \: 
                        - @smsloan_minamount = min_loanamount
                        - @smsloan_maxamount = max_loanamount
                        = @smsloanminandmaxamount = @smsloan_minamount.floor.to_s + " - " + @smsloan_maxamount.floor.to_s + "kr"
                    %li
                      %p
                        %strong> Åldersgräns
                        \: 
                        = excerpt(min_age, 'år', radius: 3, omission: '')
                    %li
                      %p
                        %strong> SKEF-medlem
                        \:
                        = excerpt(skef_member, 'Ja', radius: 0, omission: '')
                        = excerpt(skef_member, 'Nej', radius: 0, omission: '')
                    %li
                      %p
                        %strong> Lån trots betalningsanm.
                        \:
                        //= Smsloan.second.low_credit_score
                        = low_credit_score.slice!(/(?:Ja|JA|Nej|NEJ)/)
                    %li
                      %p
                        = no_uc[/"(.*?)"/, 1]
                %td.check_if_empty.sms_costs_mobileformat.td_fix_mobileformat
                  %ul
                    %li
                      .sms_costnew_searchresult= @cost_newdebtor 
                  %ul#horizontal-list
                    %li
                      .sms_costold_searchresult= @cost_debtor_texted


                %td.sms_ansokbutton_mobileformat.td_fix_mobileformat= weblink.to_s.html_safe
                %td.hidden-smslan= max_amount_new_borrower
                %td.hidden-smslan= invoice_fee
                %td.hidden-smslan= application_fee
                %td.hidden-smslan= mobile_friendly_site
                %td.hidden-smslan= min_age
                %td.hidden-smslan= low_credit_score
                %td.hidden-smslan= cost_free_loan
                %td.hidden-smslan= cost_free_loan_amount
                %td.hidden-smslan= new_borrower_5K
                %td.hidden-smslan= new_borrower_10K
                %td.hidden-smslan= no_uc
                %td.hidden-smslan= skef_member
                %td.hidden-smslan= bankid
                %td.hidden-smslan= open_on_saturdays
                %td.hidden-smslan= open_on_sundays
      #4.table60d.first-top
        .table60d.hulk-box#table_id2 60 dagar
        %table#table_id2#table60d.ex1.anti_border_spacing
          %tbody.smsloanoverview
            - @plucker60.each do |bank, min_loanamount, max_loanamount, plucker, plucker2, max_amount_new_borrower, invoice_fee, application_fee, mobile_friendly_site, min_age, low_credit_score, cost_free_loan, cost_free_loan_amount, new_borrower_5K, new_borrower_10K, no_uc, skef_member, bankid, open_on_saturdays, open_on_sundays, weblink|
              %tr
              - @cost_debtor = number_to_currency(plucker, strip_insignificant_zeros: true, locale: :fr)
              - @cost_newdebtor = number_to_currency(plucker2, strip_insignificant_zeros: true, locale: :fr)
              - @cost_debtor_texted = "Redan kund " + @cost_debtor.to_s
              - if plucker.nil? && plucker2.nil?
              - else
                - if plucker.nil?
                  - @cost_debtor_texted = "-"
                - if plucker2.nil?
                  - @cost_newdebtor = "-"
                %td.smsloangiver_searchresult.td_fix_mobileformat= bank.to_s.html_safe

                %td.sms_info_list_mobileformat.td_fix_mobileformat
                  %ul.sms_info_list
                    %li
                      %p
                        %strong> Lånebelopp
                        \: 
                        - @smsloan_minamount = min_loanamount
                        - @smsloan_maxamount = max_loanamount
                        = @smsloanminandmaxamount = @smsloan_minamount.floor.to_s + " - " + @smsloan_maxamount.floor.to_s + "kr"
                    %li
                      %p
                        %strong> Åldersgräns
                        \: 
                        = excerpt(min_age, 'år', radius: 3, omission: '')
                    %li
                      %p
                        %strong> SKEF-medlem
                        \:
                        = excerpt(skef_member, 'Ja', radius: 0, omission: '')
                        = excerpt(skef_member, 'Nej', radius: 0, omission: '')
                    %li
                      %p
                        %strong> Lån trots betalningsanm.
                        \:
                        //= Smsloan.second.low_credit_score
                        = low_credit_score.slice!(/(?:Ja|JA|Nej|NEJ)/)
                    %li
                      %p
                        = no_uc[/"(.*?)"/, 1]
                %td.check_if_empty.sms_costs_mobileformat.td_fix_mobileformat
                  %ul
                    %li
                      .sms_costnew_searchresult= @cost_newdebtor
                  %ul#horizontal-list
                    %li
                      .sms_costold_searchresult= @cost_debtor_texted


                %td.sms_ansokbutton_mobileformat.td_fix_mobileformat= weblink.to_s.html_safe
                %td.hidden-smslan= max_amount_new_borrower
                %td.hidden-smslan= invoice_fee
                %td.hidden-smslan= application_fee
                %td.hidden-smslan= mobile_friendly_site
                %td.hidden-smslan= min_age
                %td.hidden-smslan= low_credit_score
                %td.hidden-smslan= cost_free_loan
                %td.hidden-smslan= cost_free_loan_amount
                %td.hidden-smslan= new_borrower_5K
                %td.hidden-smslan= new_borrower_10K
                %td.hidden-smslan= no_uc
                %td.hidden-smslan= skef_member
                %td.hidden-smslan= bankid
                %td.hidden-smslan= open_on_saturdays
                %td.hidden-smslan= open_on_sundays
      #5.table90d.first-top
        .table90d.hulk-box#table_id2 90 dagar
        %table#table_id2#table90d.ex1.anti_border_spacing
          %tbody.smsloanoverview
            - @plucker90.each do |bank, min_loanamount, max_loanamount, plucker, plucker2, max_amount_new_borrower, invoice_fee, application_fee, mobile_friendly_site, min_age, low_credit_score, cost_free_loan, cost_free_loan_amount, new_borrower_5K, new_borrower_10K, no_uc, skef_member, bankid, open_on_saturdays, open_on_sundays, weblink|
              %tr
              - @cost_debtor = number_to_currency(plucker, strip_insignificant_zeros: true, locale: :fr)
              - @cost_newdebtor = number_to_currency(plucker2, strip_insignificant_zeros: true, locale: :fr)
              - @cost_debtor_texted = "Redan kund " + @cost_debtor.to_s
              - if plucker.nil? && plucker2.nil?
              - else
                - if plucker.nil?
                  - @cost_debtor_texted = "-"
                - if plucker2.nil?
                  - @cost_newdebtor = "-"
                %td.smsloangiver_searchresult.td_fix_mobileformat= bank.to_s.html_safe

                %td.sms_info_list_mobileformat.td_fix_mobileformat
                  %ul.sms_info_list
                    %li
                      %p
                        %strong> Lånebelopp
                        \: 
                        - @smsloan_minamount = min_loanamount
                        - @smsloan_maxamount = max_loanamount
                        = @smsloanminandmaxamount = @smsloan_minamount.floor.to_s + " - " + @smsloan_maxamount.floor.to_s + "kr"
                    %li
                      %p
                        %strong> Åldersgräns
                        \: 
                        = excerpt(min_age, 'år', radius: 3, omission: '')
                    %li
                      %p
                        %strong> SKEF-medlem
                        \:
                        = excerpt(skef_member, 'Ja', radius: 0, omission: '')
                        = excerpt(skef_member, 'Nej', radius: 0, omission: '')
                    %li
                      %p
                        %strong> Lån trots betalningsanm.
                        \:
                        //= Smsloan.second.low_credit_score
                        = low_credit_score.slice!(/(?:Ja|JA|Nej|NEJ)/)
                    %li
                      %p
                        = no_uc[/"(.*?)"/, 1]
                %td.check_if_empty.sms_costs_mobileformat.td_fix_mobileformat
                  %ul
                    %li
                      .sms_costnew_searchresult= @cost_newdebtor
                  %ul#horizontal-list
                    %li
                      .sms_costold_searchresult= @cost_debtor_texted


                %td.sms_ansokbutton_mobileformat.td_fix_mobileformat= weblink.to_s.html_safe
                %td.hidden-smslan= max_amount_new_borrower
                %td.hidden-smslan= invoice_fee
                %td.hidden-smslan= application_fee
                %td.hidden-smslan= mobile_friendly_site
                %td.hidden-smslan= min_age
                %td.hidden-smslan= low_credit_score
                %td.hidden-smslan= cost_free_loan
                %td.hidden-smslan= cost_free_loan_amount
                %td.hidden-smslan= new_borrower_5K
                %td.hidden-smslan= new_borrower_10K
                %td.hidden-smslan= no_uc
                %td.hidden-smslan= skef_member
                %td.hidden-smslan= bankid
                %td.hidden-smslan= open_on_saturdays
                %td.hidden-smslan= open_on_sundays
      #6.table1y.first-top
        .table1y.hulk-box#table_id2 1 year
        %table#table_id2#table1y.ex1.anti_border_spacing
          %tbody.smsloanoverview
            - @plucker1.each do |bank, min_loanamount, max_loanamount, plucker, plucker2, max_amount_new_borrower, invoice_fee, application_fee, mobile_friendly_site, min_age, low_credit_score, cost_free_loan, cost_free_loan_amount, new_borrower_5K, new_borrower_10K, no_uc, skef_member, bankid, open_on_saturdays, open_on_sundays, weblink|
              %tr
              - @cost_debtor = number_to_currency(plucker, strip_insignificant_zeros: true, locale: :fr)
              - @cost_newdebtor = number_to_currency(plucker2, strip_insignificant_zeros: true, locale: :fr)
              - @cost_debtor_texted = "Redan kund " + @cost_debtor.to_s
              - if plucker.nil? && plucker2.nil?
              - else
                - if plucker.nil?
                  - @cost_debtor_texted = "-"
                - if plucker2.nil?
                  - @cost_newdebtor = "-"
                %td.smsloangiver_searchresult.td_fix_mobileformat= bank.to_s.html_safe

                %td.sms_info_list_mobileformat.td_fix_mobileformat
                  %ul.sms_info_list
                    %li
                      %p
                        %strong> Lånebelopp
                        \: 
                        - @smsloan_minamount = min_loanamount
                        - @smsloan_maxamount = max_loanamount
                        = @smsloanminandmaxamount = @smsloan_minamount.floor.to_s + " - " + @smsloan_maxamount.floor.to_s + "kr"
                    %li
                      %p
                        %strong> Åldersgräns
                        \: 
                        = excerpt(min_age, 'år', radius: 3, omission: '')
                    %li
                      %p
                        %strong> SKEF-medlem
                        \:
                        = excerpt(skef_member, 'Ja', radius: 0, omission: '')
                        = excerpt(skef_member, 'Nej', radius: 0, omission: '')
                    %li
                      %p
                        %strong> Lån trots betalningsanm.
                        \:
                        //= Smsloan.second.low_credit_score
                        = low_credit_score.slice!(/(?:Ja|JA|Nej|NEJ)/)
                    %li
                      %p
                        = no_uc[/"(.*?)"/, 1]
                %td.check_if_empty.sms_costs_mobileformat.td_fix_mobileformat
                  %ul
                    %li
                      .sms_costnew_searchresult= @cost_newdebtor
                  %ul#horizontal-list
                    %li
                      .sms_costold_searchresult= @cost_debtor_texted


                %td.sms_ansokbutton_mobileformat.td_fix_mobileformat= weblink.to_s.html_safe
                %td.hidden-smslan= max_amount_new_borrower
                %td.hidden-smslan= invoice_fee
                %td.hidden-smslan= application_fee
                %td.hidden-smslan= mobile_friendly_site
                %td.hidden-smslan= min_age
                %td.hidden-smslan= low_credit_score
                %td.hidden-smslan= cost_free_loan
                %td.hidden-smslan= cost_free_loan_amount
                %td.hidden-smslan= new_borrower_5K
                %td.hidden-smslan= new_borrower_10K
                %td.hidden-smslan= no_uc
                %td.hidden-smslan= skef_member
                %td.hidden-smslan= bankid
                %td.hidden-smslan= open_on_saturdays
                %td.hidden-smslan= open_on_sundays

      #tryagain1
      #tryagain2
      #tryagain3

    //mockup design
    //https://wireframe.cc/50sd16
