#div_id
  .row
    .span12
      .showme_buttons.center_element2
        .button_showmeless_than_90d
          %button.btn.btn-info.btn-sm
            %i.icon-white.icon-time
            Visa bindningstider: 30, 60 dagar
        .button_showmemore_than_90d
          %button.btn.btn-info.btn-sm
            %i.icon-white.icon-time
            Visa bindningstider: 90 dagar, 1 år 

  .row.row-padding-fix.search_results.smsloanoverview
    .span12.table_overview_fix
    - @smslan.each do |smsloan|
      .row.row-padding-fix.content-top.odd_searchresults_color
        .span1
        .span2
          .smslogo-size= smsloan.bank.to_s.html_safe
        .span4
          %table#smsloanexampletable.table_overview_fix.table_mobile_and_table_format
            %thead
              %tr
                %th.stickyamount Belopp
                %th.less_than_90d 30 dagar
                %th.less_than_90d 60 dagar
                %th.more_than_90d 90 dagar
                %th.more_than_90d 1 år      
            %tbody
              %tr

                %td 3000 kr
                %td.less_than_90d
                  - @smsloanoverview1 = smsloan.debtor_loantime_1year_3k
                  - @smsloanoverview2 = smsloan.newdebtor_loantime_1year_3k
                  // checks if both are empty
                  - if(@smsloanoverview1.nil? && @smsloanoverview2.nil?)
                    - @smsloanoverview1 = "-"
                  - else
                    // checks if they are both the same (If both are the same and empty, then one has become "-" and the other "" with the code above and thus are not equal.)
                    - if(@smsloanoverview1 == @smsloanoverview2)
                      - @smsloanoverview1 = number_to_currency(smsloan.debtor_loantime_1year_3k, locale: :fr, strip_insignificant_zeros: true)
                      - @smsloanoverview2 = ""
                    - else
                      - @smsloanoverview1 = number_to_currency(smsloan.debtor_loantime_1year_3k, locale: :fr, strip_insignificant_zeros: true)
                      - if(@smsloanoverview2 == 0)
                        - @smsloanoverview2 = "(0)"
                      - else
                        - if(@smsloanoverview2.nil?)
                          - @smsloanoverview2 = "(-)"
                        - else
                          - @changethis = number_to_currency(smsloan.newdebtor_loantime_1year_3k, locale: :fr, strip_insignificant_zeros: true)
                          - @changethis2 = @changethis.chomp(" kr")
                          - @smsloanoverview2 = "(" + @changethis2.to_s + ")"
                  %ul#horizontal-list
                    %li= @smsloanoverview2
                    %li= @smsloanoverview1

                %td.less_than_90d
                  - @smsloanoverview1 = smsloan.debtor_loantime_60d_3k
                  - @smsloanoverview2 = smsloan.newdebtor_loantime_60d_3k
                  // checks if both are empty
                  - if(@smsloanoverview1.nil? && @smsloanoverview2.nil?)
                    - @smsloanoverview1 = "-"
                  - else
                    // checks if they are both the same (If both are the same and empty, then one has become "-" and the other "" with the code above and thus are not equal.)
                    - if(@smsloanoverview1 == @smsloanoverview2)
                      - @smsloanoverview1 = number_to_currency(smsloan.debtor_loantime_60d_3k, locale: :fr, strip_insignificant_zeros: true)
                      - @smsloanoverview2 = ""
                    - else
                      - @smsloanoverview1 = number_to_currency(smsloan.debtor_loantime_60d_3k, locale: :fr, strip_insignificant_zeros: true)
                      - if(@smsloanoverview2 == 0)
                        - @smsloanoverview2 = "(0)"
                      - else
                        - if(@smsloanoverview2.nil?)
                          - @smsloanoverview2 = "(-)"
                        - else
                          - @changethis = number_to_currency(smsloan.newdebtor_loantime_30d_5k, locale: :fr, strip_insignificant_zeros: true)
                          - @changethis2 = @changethis.chomp(" kr")
                          - @smsloanoverview2 = "(" + @changethis2.to_s + ")"
                  %ul#horizontal-list
                    %li= @smsloanoverview2
                    %li= @smsloanoverview1

                %td.more_than_90d
                  - @smsloanoverview1 = smsloan.debtor_loantime_90d_3k
                  - @smsloanoverview2 = smsloan.newdebtor_loantime_90d_3k
                  // checks if both are empty
                  - if(@smsloanoverview1.nil? && @smsloanoverview2.nil?)
                    - @smsloanoverview1 = "-"
                  - else
                    // checks if they are both the same (If both are the same and empty, then one has become "-" and the other "" with the code above and thus are not equal.)
                    - if(@smsloanoverview1 == @smsloanoverview2)
                      - @smsloanoverview1 = number_to_currency(smsloan.debtor_loantime_90d_3k, locale: :fr, strip_insignificant_zeros: true)
                      - @smsloanoverview2 = ""
                    - else
                      - @smsloanoverview1 = number_to_currency(smsloan.debtor_loantime_90d_3k, locale: :fr, strip_insignificant_zeros: true)
                      - if(@smsloanoverview2 == 0)
                        - @smsloanoverview2 = "(0)"
                      - else
                        - if(@smsloanoverview2.nil?)
                          - @smsloanoverview2 = "(-)"
                        - else
                          - @changethis = number_to_currency(smsloan.newdebtor_loantime_90d_3k, locale: :fr, strip_insignificant_zeros: true)
                          - @changethis2 = @changethis.chomp(" kr")
                          - @smsloanoverview2 = "(" + @changethis2.to_s + ")"


                  %ul#horizontal-list
                    %li= @smsloanoverview2
                    %li= @smsloanoverview1

                %td.more_than_90d
                  - @smsloanoverview1 = smsloan.debtor_loantime_1year_3k
                  - @smsloanoverview2 = smsloan.newdebtor_loantime_1year_3k
                  // checks if both are empty
                  - if(@smsloanoverview1.nil? && @smsloanoverview2.nil?)
                    - @smsloanoverview1 = "-"
                  - else
                    // checks if they are both the same (If both are the same and empty, then one has become "-" and the other "" with the code above and thus are not equal.)
                    - if(@smsloanoverview1 == @smsloanoverview2)
                      - @smsloanoverview1 = number_to_currency(smsloan.debtor_loantime_1year_3k, locale: :fr, strip_insignificant_zeros: true)
                      - @smsloanoverview2 = ""
                    - else
                      - @smsloanoverview1 = number_to_currency(smsloan.debtor_loantime_1year_3k, locale: :fr, strip_insignificant_zeros: true)
                      - if(@smsloanoverview2 == 0)
                        - @smsloanoverview2 = "(0)"
                      - else
                        - if(@smsloanoverview2.nil?)
                          - @smsloanoverview2 = "(-)"
                        - else
                          - @changethis = number_to_currency(smsloan.newdebtor_loantime_1year_3k, locale: :fr, strip_insignificant_zeros: true)
                          - @changethis2 = @changethis.chomp(" kr")
                          - @smsloanoverview2 = "(" + @changethis2.to_s + ")"
                  %ul#horizontal-list
                    %li= @smsloanoverview2
                    %li= @smsloanoverview1

              %tr
                %td 4000 kr
                %td.less_than_90d
                  - @smsloanoverview1 = smsloan.debtor_loantime_30d_4k
                  - @smsloanoverview2 = smsloan.newdebtor_loantime_30d_4k
                  // checks if both are empty
                  - if(@smsloanoverview1.nil? && @smsloanoverview2.nil?)
                    - @smsloanoverview1 = "-"
                  - else
                    // checks if they are both the same (If both are the same and empty, then one has become "-" and the other "" with the code above and thus are not equal.)
                    - if(@smsloanoverview1 == @smsloanoverview2)
                      - @smsloanoverview1 = number_to_currency(smsloan.debtor_loantime_30d_4k, locale: :fr, strip_insignificant_zeros: true)
                      - @smsloanoverview2 = ""
                    - else
                      - @smsloanoverview1 = number_to_currency(smsloan.debtor_loantime_30d_4k, locale: :fr, strip_insignificant_zeros: true)
                      - if(@smsloanoverview2 == 0)
                        - @smsloanoverview2 = "(0)"
                      - else
                        - if(@smsloanoverview2.nil?)
                          - @smsloanoverview2 = "(-)"
                        - else
                          - @changethis = number_to_currency(smsloan.newdebtor_loantime_30d_5k, locale: :fr, strip_insignificant_zeros: true)
                          - @changethis2 = @changethis.chomp(" kr")
                          - @smsloanoverview2 = "(" + @changethis2.to_s + ")"
                  %ul#horizontal-list
                    %li= @smsloanoverview2
                    %li= @smsloanoverview1

                %td.less_than_90d
                  - @smsloanoverview1 = smsloan.debtor_loantime_60d_4k
                  - @smsloanoverview2 = smsloan.newdebtor_loantime_60d_4k
                  // checks if both are empty
                  - if(@smsloanoverview1.nil? && @smsloanoverview2.nil?)
                    - @smsloanoverview1 = "-"
                  - else
                    // checks if they are both the same (If both are the same and empty, then one has become "-" and the other "" with the code above and thus are not equal.)
                    - if(@smsloanoverview1 == @smsloanoverview2)
                      - @smsloanoverview1 = number_to_currency(smsloan.debtor_loantime_60d_4k, locale: :fr, strip_insignificant_zeros: true)
                      - @smsloanoverview2 = ""
                    - else
                      - @smsloanoverview1 = number_to_currency(smsloan.debtor_loantime_60d_4k, locale: :fr, strip_insignificant_zeros: true)
                      - if(@smsloanoverview2 == 0)
                        - @smsloanoverview2 = "(0)"
                      - else
                        - if(@smsloanoverview2.nil?)
                          - @smsloanoverview2 = "(-)"
                        - else
                          - @changethis = number_to_currency(smsloan.newdebtor_loantime_30d_5k, locale: :fr, strip_insignificant_zeros: true)
                          - @changethis2 = @changethis.chomp(" kr")
                          - @smsloanoverview2 = "(" + @changethis2.to_s + ")"
                  %ul#horizontal-list
                    %li= @smsloanoverview2
                    %li= @smsloanoverview1

                %td.more_than_90d
                  - @smsloanoverview1 = smsloan.debtor_loantime_90d_4k
                  - @smsloanoverview2 = smsloan.newdebtor_loantime_90d_4k
                  // checks if both are empty
                  - if(@smsloanoverview1.nil? && @smsloanoverview2.nil?)
                    - @smsloanoverview1 = "-"
                  - else
                    // checks if they are both the same (If both are the same and empty, then one has become "-" and the other "" with the code above and thus are not equal.)
                    - if(@smsloanoverview1 == @smsloanoverview2)
                      - @smsloanoverview1 = number_to_currency(smsloan.debtor_loantime_90d_4k, locale: :fr, strip_insignificant_zeros: true)
                      - @smsloanoverview2 = ""
                    - else
                      - @smsloanoverview1 = number_to_currency(smsloan.debtor_loantime_90d_4k, locale: :fr, strip_insignificant_zeros: true)
                      - if(@smsloanoverview2 == 0)
                        - @smsloanoverview2 = "(0)"
                      - else
                        - if(@smsloanoverview2.nil?)
                          - @smsloanoverview2 = "(-)"
                        - else
                          - @changethis = number_to_currency(smsloan.newdebtor_loantime_90d_4k, locale: :fr, strip_insignificant_zeros: true)
                          - @changethis2 = @changethis.chomp(" kr")
                          - @smsloanoverview2 = "(" + @changethis2.to_s + ")"


                  %ul#horizontal-list
                    %li= @smsloanoverview2
                    %li= @smsloanoverview1

                %td.more_than_90d
                  - @smsloanoverview1 = smsloan.debtor_loantime_1year_4k
                  - @smsloanoverview2 = smsloan.newdebtor_loantime_1year_4k
                  // checks if both are empty
                  - if(@smsloanoverview1.nil? && @smsloanoverview2.nil?)
                    - @smsloanoverview1 = "-"
                  - else
                    // checks if they are both the same (If both are the same and empty, then one has become "-" and the other "" with the code above and thus are not equal.)
                    - if(@smsloanoverview1 == @smsloanoverview2)
                      - @smsloanoverview1 = number_to_currency(smsloan.debtor_loantime_1year_4k, locale: :fr, strip_insignificant_zeros: true)
                      - @smsloanoverview2 = ""
                    - else
                      - @smsloanoverview1 = number_to_currency(smsloan.debtor_loantime_1year_4k, locale: :fr, strip_insignificant_zeros: true)
                      - if(@smsloanoverview2 == 0)
                        - @smsloanoverview2 = "(0)"
                      - else
                        - if(@smsloanoverview2.nil?)
                          - @smsloanoverview2 = "(-)"
                        - else
                          - @changethis = number_to_currency(smsloan.newdebtor_loantime_1year_4k, locale: :fr, strip_insignificant_zeros: true)
                          - @changethis2 = @changethis.chomp(" kr")
                          - @smsloanoverview2 = "(" + @changethis2.to_s + ")"
                  %ul#horizontal-list
                    %li= @smsloanoverview2
                    %li= @smsloanoverview1

              %tr
                %td 5000 kr
                %td.less_than_90d
                  - @smsloanoverview1 = smsloan.debtor_loantime_30d_5k
                  - @smsloanoverview2 = smsloan.newdebtor_loantime_30d_5k
                  // checks if both are empty
                  - if(@smsloanoverview1.nil? && @smsloanoverview2.nil?)
                    - @smsloanoverview1 = "-"
                  - else
                    // checks if they are both the same 
                    //(If both are the same and empty, then one has become "-" and the other "" with the code above and thus are not equal.)
                    - if(@smsloanoverview1 == @smsloanoverview2)
                      - @smsloanoverview1 = number_to_currency(smsloan.debtor_loantime_30d_5k, locale: :fr, strip_insignificant_zeros: true)
                      - @smsloanoverview2 = ""
                    - else
                      - @smsloanoverview1 = number_to_currency(smsloan.debtor_loantime_30d_5k, locale: :fr, strip_insignificant_zeros: true)
                      - if(@smsloanoverview2 == 0)
                        - @smsloanoverview2 = "(0)"
                      - else
                        - if(@smsloanoverview2.nil?)
                          - @smsloanoverview2 = "(-)"
                        - else
                          - @changethis = number_to_currency(smsloan.newdebtor_loantime_30d_5k, locale: :fr, strip_insignificant_zeros: true)
                          - @changethis2 = @changethis.chomp(" kr")
                          - @smsloanoverview2 = "(" + @changethis2.to_s + ")"
                  %ul#horizontal-list
                    %li= @smsloanoverview2
                    %li= @smsloanoverview1

                %td.less_than_90d
                  - @smsloanoverview1 = smsloan.debtor_loantime_60d_5k
                  - @smsloanoverview2 = smsloan.newdebtor_loantime_60d_5k
                  // checks if both are empty
                  - if(@smsloanoverview1.nil? && @smsloanoverview2.nil?)
                    - @smsloanoverview1 = "-"
                  - else
                    // checks if they are both the same (If both are the same and empty, then one has become "-" and the other "" with the code above and thus are not equal.)
                    - if(@smsloanoverview1 == @smsloanoverview2)
                      - @smsloanoverview1 = number_to_currency(smsloan.debtor_loantime_60d_5k, locale: :fr, strip_insignificant_zeros: true)
                      - @smsloanoverview2 = ""
                    - else
                      - @smsloanoverview1 = number_to_currency(smsloan.debtor_loantime_60d_5k, locale: :fr, strip_insignificant_zeros: true)
                      - if(@smsloanoverview2 == 0)
                        - @smsloanoverview2 = "(0)"
                      - else
                        - if(@smsloanoverview2.nil?)
                          - @smsloanoverview2 = "(-)"
                        - else
                          - @changethis = number_to_currency(smsloan.newdebtor_loantime_30d_5k, locale: :fr, strip_insignificant_zeros: true)
                          - @changethis2 = @changethis.chomp(" kr")
                          - @smsloanoverview2 = "(" + @changethis2.to_s + ")"
                  %ul#horizontal-list
                    %li= @smsloanoverview2
                    %li= @smsloanoverview1

                %td.more_than_90d
                  - @smsloanoverview1 = smsloan.debtor_loantime_90d_5k
                  - @smsloanoverview2 = smsloan.newdebtor_loantime_90d_5k
                  // checks if both are empty
                  - if(@smsloanoverview1.nil? && @smsloanoverview2.nil?)
                    - @smsloanoverview1 = "-"
                  - else
                    // checks if they are both the same (If both are the same and empty, then one has become "-" and the other "" with the code above and thus are not equal.)
                    - if(@smsloanoverview1 == @smsloanoverview2)
                      - @smsloanoverview1 = number_to_currency(smsloan.debtor_loantime_90d_5k, locale: :fr, strip_insignificant_zeros: true)
                      - @smsloanoverview2 = ""
                    - else
                      - @smsloanoverview1 = number_to_currency(smsloan.debtor_loantime_90d_5k, locale: :fr, strip_insignificant_zeros: true)
                      - if(@smsloanoverview2 == 0)
                        - @smsloanoverview2 = "(0)"
                      - else
                        - if(@smsloanoverview2.nil?)
                          - @smsloanoverview2 = "(-)"
                        - else
                          - @changethis = number_to_currency(smsloan.newdebtor_loantime_90d_5k, locale: :fr, strip_insignificant_zeros: true)
                          - @changethis2 = @changethis.chomp(" kr")
                          - @smsloanoverview2 = "(" + @changethis2.to_s + ")"


                  %ul#horizontal-list
                    %li= @smsloanoverview2
                    %li= @smsloanoverview1

                %td.more_than_90d
                  - @smsloanoverview1 = smsloan.debtor_loantime_1year_5k
                  - @smsloanoverview2 = smsloan.newdebtor_loantime_1year_5k
                  // checks if both are empty
                  - if(@smsloanoverview1.nil? && @smsloanoverview2.nil?)
                    - @smsloanoverview1 = "-"
                  - else
                    // checks if they are both the same (If both are the same and empty, then one has become "-" and the other "" with the code above and thus are not equal.)
                    - if(@smsloanoverview1 == @smsloanoverview2)
                      - @smsloanoverview1 = number_to_currency(smsloan.debtor_loantime_1year_5k, locale: :fr, strip_insignificant_zeros: true)
                      - @smsloanoverview2 = ""
                    - else
                      - @smsloanoverview1 = number_to_currency(smsloan.debtor_loantime_1year_5k, locale: :fr, strip_insignificant_zeros: true)
                      - if(@smsloanoverview2 == 0)
                        - @smsloanoverview2 = "(0)"
                      - else
                        - if(@smsloanoverview2.nil?)
                          - @smsloanoverview2 = "(-)"
                        - else
                          - @changethis = number_to_currency(smsloan.newdebtor_loantime_1year_5k, locale: :fr, strip_insignificant_zeros: true)
                          - @changethis2 = @changethis.chomp(" kr")
                          - @smsloanoverview2 = "(" + @changethis2.to_s + ")"
                  %ul#horizontal-list
                    %li= @smsloanoverview2
                    %li= @smsloanoverview1

              %tr
                %td 7000 kr
                %td.less_than_90d
                  - @smsloanoverview1 = smsloan.debtor_loantime_30d_7k
                  - @smsloanoverview2 = smsloan.newdebtor_loantime_30d_7k
                  // checks if both are empty
                  - if(@smsloanoverview1.nil? && @smsloanoverview2.nil?)
                    - @smsloanoverview1 = "-"
                  - else
                    // checks if they are both the same (If both are the same and empty, then one has become "-" and the other "" with the code above and thus are not equal.)
                    - if(@smsloanoverview1 == @smsloanoverview2)
                      - @smsloanoverview1 = number_to_currency(smsloan.debtor_loantime_30d_7k, locale: :fr, strip_insignificant_zeros: true)
                      - @smsloanoverview2 = ""
                    - else
                      - @smsloanoverview1 = number_to_currency(smsloan.debtor_loantime_30d_7k, locale: :fr, strip_insignificant_zeros: true)
                      - if(@smsloanoverview2 == 0)
                        - @smsloanoverview2 = "(0)"
                      - else
                        - if(@smsloanoverview2.nil?)
                          - @smsloanoverview2 = "(-)"
                        - else
                          - @changethis = number_to_currency(smsloan.debtor_loantime_30d_5k, locale: :fr, strip_insignificant_zeros: true)
                          - @changethis2 = @changethis.chomp(" kr")
                          - @smsloanoverview2 = "(" + @changethis2.to_s + ")"
                  %ul#horizontal-list
                    %li= @smsloanoverview2
                    %li= @smsloanoverview1

                %td.less_than_90d
                  - @smsloanoverview1 = smsloan.debtor_loantime_60d_7k
                  - @smsloanoverview2 = smsloan.newdebtor_loantime_60d_7k
                  // checks if both are empty
                  - if(@smsloanoverview1.nil? && @smsloanoverview2.nil?)
                    - @smsloanoverview1 = "-"
                  - else
                    // checks if they are both the same (If both are the same and empty, then one has become "-" and the other "" with the code above and thus are not equal.)
                    - if(@smsloanoverview1 == @smsloanoverview2)
                      - @smsloanoverview1 = number_to_currency(smsloan.debtor_loantime_60d_7k, locale: :fr, strip_insignificant_zeros: true)
                      - @smsloanoverview2 = ""
                    - else
                      - @smsloanoverview1 = number_to_currency(smsloan.debtor_loantime_60d_7k, locale: :fr, strip_insignificant_zeros: true)
                      - if(@smsloanoverview2 == 0)
                        - @smsloanoverview2 = "(0)"
                      - else
                        - if(@smsloanoverview2.nil?)
                          - @smsloanoverview2 = "(-)"
                        - else
                          - @changethis = number_to_currency(smsloan.debtor_loantime_30d_5k, locale: :fr, strip_insignificant_zeros: true)
                          - @changethis2 = @changethis.chomp(" kr")
                          - @smsloanoverview2 = "(" + @changethis2.to_s + ")"
                  %ul#horizontal-list
                    %li= @smsloanoverview2
                    %li= @smsloanoverview1

                %td.more_than_90d
                  - @smsloanoverview1 = smsloan.debtor_loantime_90d_7k
                  - @smsloanoverview2 = smsloan.newdebtor_loantime_90d_7k
                  // checks if both are empty
                  - if(@smsloanoverview1.nil? && @smsloanoverview2.nil?)
                    - @smsloanoverview1 = "-"
                  - else
                    // checks if they are both the same (If both are the same and empty, then one has become "-" and the other "" with the code above and thus are not equal.)
                    - if(@smsloanoverview1 == @smsloanoverview2)
                      - @smsloanoverview1 = number_to_currency(smsloan.debtor_loantime_90d_7k, locale: :fr, strip_insignificant_zeros: true)
                      - @smsloanoverview2 = ""
                    - else
                      - @smsloanoverview1 = number_to_currency(smsloan.debtor_loantime_90d_7k, locale: :fr, strip_insignificant_zeros: true)
                      - if(@smsloanoverview2 == 0)
                        - @smsloanoverview2 = "(0)"
                      - else
                        - if(@smsloanoverview2.nil?)
                          - @smsloanoverview2 = "(-)"
                        - else
                          - @changethis = number_to_currency(smsloan.newdebtor_loantime_90d_7k, locale: :fr, strip_insignificant_zeros: true)
                          - @changethis2 = @changethis.chomp(" kr")
                          - @smsloanoverview2 = "(" + @changethis2.to_s + ")"


                  %ul#horizontal-list
                    %li= @smsloanoverview2
                    %li= @smsloanoverview1

                %td.more_than_90d
                  - @smsloanoverview1 = smsloan.debtor_loantime_1year_7k
                  - @smsloanoverview2 = smsloan.newdebtor_loantime_1year_7k
                  // checks if both are empty
                  - if(@smsloanoverview1.nil? && @smsloanoverview2.nil?)
                    - @smsloanoverview1 = "-"
                  - else
                    // checks if they are both the same (If both are the same and empty, then one has become "-" and the other "" with the code above and thus are not equal.)
                    - if(@smsloanoverview1 == @smsloanoverview2)
                      - @smsloanoverview1 = number_to_currency(smsloan.debtor_loantime_1year_7k, locale: :fr, strip_insignificant_zeros: true)
                      - @smsloanoverview2 = ""
                    - else
                      - @smsloanoverview1 = number_to_currency(smsloan.debtor_loantime_1year_7k, locale: :fr, strip_insignificant_zeros: true)
                      - if(@smsloanoverview2 == 0)
                        - @smsloanoverview2 = "(0)"
                      - else
                        - if(@smsloanoverview2.nil?)
                          - @smsloanoverview2 = "(-)"
                        - else
                          - @changethis = number_to_currency(smsloan.newdebtor_loantime_1year_7k, locale: :fr, strip_insignificant_zeros: true)
                          - @changethis2 = @changethis.chomp(" kr")
                          - @smsloanoverview2 = "(" + @changethis2.to_s + ")"
                  %ul#horizontal-list
                    %li= @smsloanoverview2
                    %li= @smsloanoverview1
              %tr
                %td 10 000 kr
                %td.less_than_90d
                  - @smsloanoverview1 = smsloan.debtor_loantime_30d_10k
                  - @smsloanoverview2 = smsloan.newdebtor_loantime_30d_10k
                  // checks if both are empty
                  - if(@smsloanoverview1.nil? && @smsloanoverview2.nil?)
                    - @smsloanoverview1 = "-"
                  - else
                    // checks if they are both the same (If both are the same and empty, then one has become "-" and the other "" with the code above and thus are not equal.)
                    - if(@smsloanoverview1 == @smsloanoverview2)
                      - @smsloanoverview1 = number_to_currency(smsloan.debtor_loantime_30d_10k, locale: :fr, strip_insignificant_zeros: true)
                      - @smsloanoverview2 = ""
                    - else
                      - @smsloanoverview1 = number_to_currency(smsloan.debtor_loantime_30d_10k, locale: :fr, strip_insignificant_zeros: true)
                      - if(@smsloanoverview2 == 0)
                        - @smsloanoverview2 = "(0)"
                      - else
                        - if(@smsloanoverview2.nil?)
                          - @smsloanoverview2 = "(-)"
                        - else
                          - @changethis = number_to_currency(smsloan.newdebtor_loantime_30d_5k, locale: :fr, strip_insignificant_zeros: true)
                          - @changethis2 = @changethis.chomp(" kr")
                          - @smsloanoverview2 = "(" + @changethis2.to_s + ")"
                  %ul#horizontal-list
                    %li= @smsloanoverview2
                    %li= @smsloanoverview1

                %td.less_than_90d
                  - @smsloanoverview1 = smsloan.debtor_loantime_60d_10k
                  - @smsloanoverview2 = smsloan.newdebtor_loantime_60d_10k
                  // checks if both are empty
                  - if(@smsloanoverview1.nil? && @smsloanoverview2.nil?)
                    - @smsloanoverview1 = "-"
                  - else
                    // checks if they are both the same (If both are the same and empty, then one has become "-" and the other "" with the code above and thus are not equal.)
                    - if(@smsloanoverview1 == @smsloanoverview2)
                      - @smsloanoverview1 = number_to_currency(smsloan.debtor_loantime_60d_10k, locale: :fr, strip_insignificant_zeros: true)
                      - @smsloanoverview2 = ""
                    - else
                      - @smsloanoverview1 = number_to_currency(smsloan.debtor_loantime_60d_10k, locale: :fr, strip_insignificant_zeros: true)
                      - if(@smsloanoverview2 == 0)
                        - @smsloanoverview2 = "(0)"
                      - else
                        - if(@smsloanoverview2.nil?)
                          - @smsloanoverview2 = "(-)"
                        - else
                          - @changethis = number_to_currency(smsloan.newdebtor_loantime_30d_5k, locale: :fr, strip_insignificant_zeros: true)
                          - @changethis2 = @changethis.chomp(" kr")
                          - @smsloanoverview2 = "(" + @changethis2.to_s + ")"
                  %ul#horizontal-list
                    %li= @smsloanoverview2
                    %li= @smsloanoverview1

                %td.more_than_90d
                  - @smsloanoverview1 = smsloan.debtor_loantime_90d_10k
                  - @smsloanoverview2 = smsloan.newdebtor_loantime_90d_10k
                  // checks if both are empty
                  - if(@smsloanoverview1.nil? && @smsloanoverview2.nil?)
                    - @smsloanoverview1 = "-"
                  - else
                    // checks if they are both the same (If both are the same and empty, then one has become "-" and the other "" with the code above and thus are not equal.)
                    - if(@smsloanoverview1 == @smsloanoverview2)
                      - @smsloanoverview1 = number_to_currency(smsloan.debtor_loantime_90d_10k, locale: :fr, strip_insignificant_zeros: true)
                      - @smsloanoverview2 = ""
                    - else
                      - @smsloanoverview1 = number_to_currency(smsloan.debtor_loantime_90d_10k, locale: :fr, strip_insignificant_zeros: true)
                      - if(@smsloanoverview2 == 0)
                        - @smsloanoverview2 = "(0)"
                      - else
                        - if(@smsloanoverview2.nil?)
                          - @smsloanoverview2 = "(-)"
                        - else
                          - @changethis = number_to_currency(smsloan.newdebtor_loantime_90d_10k, locale: :fr, strip_insignificant_zeros: true)
                          - @changethis2 = @changethis.chomp(" kr")
                          - @smsloanoverview2 = "(" + @changethis2.to_s + ")"


                  %ul#horizontal-list
                    %li= @smsloanoverview2
                    %li= @smsloanoverview1

                %td.more_than_90d
                  - @smsloanoverview1 = smsloan.debtor_loantime_1year_10k
                  - @smsloanoverview2 = smsloan.newdebtor_loantime_1year_10k
                  // checks if both are empty
                  - if(@smsloanoverview1.nil? && @smsloanoverview2.nil?)
                    - @smsloanoverview1 = "-"
                  - else
                    // checks if they are both the same (If both are the same and empty, then one has become "-" and the other "" with the code above and thus are not equal.)
                    - if(@smsloanoverview1 == @smsloanoverview2)
                      - @smsloanoverview1 = number_to_currency(smsloan.debtor_loantime_1year_10k, locale: :fr, strip_insignificant_zeros: true)
                      - @smsloanoverview2 = ""
                    - else
                      - @smsloanoverview1 = number_to_currency(smsloan.debtor_loantime_1year_10k, locale: :fr, strip_insignificant_zeros: true)
                      - if(@smsloanoverview2 == 0)
                        - @smsloanoverview2 = "(0)"
                      - else
                        - if(@smsloanoverview2.nil?)
                          - @smsloanoverview2 = "(-)"
                        - else
                          - @changethis = number_to_currency(smsloan.newdebtor_loantime_1year_10k, locale: :fr, strip_insignificant_zeros: true)
                          - @changethis2 = @changethis.chomp(" kr")
                          - @smsloanoverview2 = "(" + @changethis2.to_s + ")"
                  %ul#horizontal-list
                    %li= @smsloanoverview2
                    %li= @smsloanoverview1
              %tr
                %td 15 000 kr
                %td.less_than_90d
                  - @smsloanoverview1 = smsloan.debtor_loantime_30d_15k
                  - @smsloanoverview2 = smsloan.newdebtor_loantime_30d_15k
                  // checks if both are empty
                  - if(@smsloanoverview1.nil? && @smsloanoverview2.nil?)
                    - @smsloanoverview1 = "-"
                  - else
                    // checks if they are both the same (If both are the same and empty, then one has become "-" and the other "" with the code above and thus are not equal.)
                    - if(@smsloanoverview1 == @smsloanoverview2)
                      - @smsloanoverview1 = number_to_currency(smsloan.debtor_loantime_30d_15k, locale: :fr, strip_insignificant_zeros: true)
                      - @smsloanoverview2 = ""
                    - else
                      - @smsloanoverview1 = number_to_currency(smsloan.debtor_loantime_30d_15k, locale: :fr, strip_insignificant_zeros: true)
                      - if(@smsloanoverview2 == 0)
                        - @smsloanoverview2 = "(0)"
                      - else
                        - if(@smsloanoverview2.nil?)
                          - @smsloanoverview2 = "(-)"
                        - else
                          - @changethis = number_to_currency(smsloan.newdebtor_loantime_30d_5k, locale: :fr, strip_insignificant_zeros: true)
                          - @changethis2 = @changethis.chomp(" kr")
                          - @smsloanoverview2 = "(" + @changethis2.to_s + ")"
                  %ul#horizontal-list
                    %li= @smsloanoverview2
                    %li= @smsloanoverview1

                %td.less_than_90d
                  - @smsloanoverview1 = smsloan.debtor_loantime_60d_15k
                  - @smsloanoverview2 = smsloan.newdebtor_loantime_60d_15k
                  // checks if both are empty
                  - if(@smsloanoverview1.nil? && @smsloanoverview2.nil?)
                    - @smsloanoverview1 = "-"
                  - else
                    // checks if they are both the same (If both are the same and empty, then one has become "-" and the other "" with the code above and thus are not equal.)
                    - if(@smsloanoverview1 == @smsloanoverview2)
                      - @smsloanoverview1 = number_to_currency(smsloan.debtor_loantime_60d_15k, locale: :fr, strip_insignificant_zeros: true)
                      - @smsloanoverview2 = ""
                    - else
                      - @smsloanoverview1 = number_to_currency(smsloan.debtor_loantime_60d_15k, locale: :fr, strip_insignificant_zeros: true)
                      - if(@smsloanoverview2 == 0)
                        - @smsloanoverview2 = "(0)"
                      - else
                        - if(@smsloanoverview2.nil?)
                          - @smsloanoverview2 = "(-)"
                        - else
                          - @changethis = number_to_currency(smsloan.newdebtor_loantime_30d_5k, locale: :fr, strip_insignificant_zeros: true)
                          - @changethis2 = @changethis.chomp(" kr")
                          - @smsloanoverview2 = "(" + @changethis2.to_s + ")"
                  %ul#horizontal-list
                    %li= @smsloanoverview2
                    %li= @smsloanoverview1

                %td.more_than_90d
                  - @smsloanoverview1 = smsloan.debtor_loantime_90d_15k
                  - @smsloanoverview2 = smsloan.newdebtor_loantime_90d_15k
                  // checks if both are empty
                  - if(@smsloanoverview1.nil? && @smsloanoverview2.nil?)
                    - @smsloanoverview1 = "-"
                  - else
                    // checks if they are both the same (If both are the same and empty, then one has become "-" and the other "" with the code above and thus are not equal.)
                    - if(@smsloanoverview1 == @smsloanoverview2)
                      - @smsloanoverview1 = number_to_currency(smsloan.debtor_loantime_90d_15k, locale: :fr, strip_insignificant_zeros: true)
                      - @smsloanoverview2 = ""
                    - else
                      - @smsloanoverview1 = number_to_currency(smsloan.debtor_loantime_90d_15k, locale: :fr, strip_insignificant_zeros: true)
                      - if(@smsloanoverview2 == 0)
                        - @smsloanoverview2 = "(0)"
                      - else
                        - if(@smsloanoverview2.nil?)
                          - @smsloanoverview2 = "(-)"
                        - else
                          - @changethis = number_to_currency(smsloan.newdebtor_loantime_90d_15k, locale: :fr, strip_insignificant_zeros: true)
                          - @changethis2 = @changethis.chomp(" kr")
                          - @smsloanoverview2 = "(" + @changethis2.to_s + ")"


                  %ul#horizontal-list
                    %li= @smsloanoverview2
                    %li= @smsloanoverview1

                %td.more_than_90d
                  - @smsloanoverview1 = smsloan.debtor_loantime_1year_15k
                  - @smsloanoverview2 = smsloan.newdebtor_loantime_1year_15k
                  // checks if both are empty
                  - if(@smsloanoverview1.nil? && @smsloanoverview2.nil?)
                    - @smsloanoverview1 = "-"
                  - else
                    // checks if they are both the same (If both are the same and empty, then one has become "-" and the other "" with the code above and thus are not equal.)
                    - if(@smsloanoverview1 == @smsloanoverview2)
                      - @smsloanoverview1 = number_to_currency(smsloan.debtor_loantime_1year_15k, locale: :fr, strip_insignificant_zeros: true)
                      - @smsloanoverview2 = ""
                    - else
                      - @smsloanoverview1 = number_to_currency(smsloan.debtor_loantime_1year_15k, locale: :fr, strip_insignificant_zeros: true)
                      - if(@smsloanoverview2 == 0)
                        - @smsloanoverview2 = "(0)"
                      - else
                        - if(@smsloanoverview2.nil?)
                          - @smsloanoverview2 = "(-)"
                        - else
                          - @changethis = number_to_currency(smsloan.newdebtor_loantime_1year_15k, locale: :fr, strip_insignificant_zeros: true)
                          - @changethis2 = @changethis.chomp(" kr")
                          - @smsloanoverview2 = "(" + @changethis2.to_s + ")"
                  %ul#horizontal-list
                    %li= @smsloanoverview2
                    %li= @smsloanoverview1
                    
        .span4.smsloaninfo
          %table
            %thead
              %tr
                %th.hidden-smslan Högsta lånebelopp ny låntagare
                %th.hidden-smslan.hidden-smslan2 Aviavgift
                %th.hidden-smslan.hidden-smslan2 Ansökningsavgift
                %th.hidden-smslan Mobilvänlig hemsida  
                %th.hidden-smslan Låna med betalningsanmärkelse
                %th.hidden-smslan Minimum ålder
                %th.hidden-smslan Kostnadsfria lån
                %th.hidden-smslan Kostnadsfria lån maxbelopp
                %th.hidden-smslan Låna 5000 kr första gången
                %th.hidden-smslan Låna 10 000 kr första gången
                %th.hidden-smslan Högsta lånebelopp för ny låntagare
                %th.hidden-smslan Ingen UC
                %th.hidden-smslan SKEF medlem
                %th.hidden-smslan BankID
                %th.hidden-smslan Lördagsöppet
                %th.hidden-smslan Söndagsöppet
            %tbody
              %tr
                %td.hidden-smslan= smsloan.max_amount_new_borrower
                %td.hidden-smslan= smsloan.invoice_fee
                %td.hidden-smslan= smsloan.application_fee
                %td.hidden-smslan= smsloan.mobile_friendly_site
                %td.hidden-smslan= smsloan.low_credit_score
                %td.hidden-smslan= smsloan.min_age
                %td.hidden-smslan= smsloan.cost_free_loan
                %td.hidden-smslan= smsloan.cost_free_loan_amount
                %td.hidden-smslan= smsloan.new_borrower_5K
                %td.hidden-smslan= smsloan.new_borrower_10K
                %td.hidden-smslan= smsloan.max_amount_new_borrower
                %td.hidden-smslan= smsloan.no_uc
                %td.hidden-smslan= smsloan.skef_member
                %td.hidden-smslan= smsloan.bankid
                %td.hidden-smslan= smsloan.open_on_saturdays
                %td.hidden-smslan= smsloan.open_on_sundays
          .row
            .smsloanoverviewinfo.switch_smsloan_example1_info.float-left
              //%p Ansökningsavgift 0 kr
              %p
                %strong> Lånebelopp
                \: 
                - @smsloan_minamount = smsloan.min_loanamount
                - @smsloan_maxamount = smsloan.max_loanamount
                = @smsloanminandmaxamount = @smsloan_minamount.floor.to_s + " - " + @smsloan_maxamount.floor.to_s + "kr"
              %p
                %strong> Åldersgräns
                \: 
                = excerpt(smsloan.min_age, 'år', radius: 3, omission: '')
                //try this
                //http://apidock.com/rails/v4.2.1/ActionView/Helpers/TextHelper/excerpt
              %p
                %strong> SKEF-medlem
                \:
                = excerpt(smsloan.skef_member, 'Ja', radius: 0, omission: '')
                = excerpt(smsloan.skef_member, 'Nej', radius: 0, omission: '')
              %p
                %strong> Lån trots betalningsanm.
                \:
                //= Smsloan.second.low_credit_score
                = smsloan.low_credit_score.slice!(/(?:Ja|JA|Nej|NEJ)/)

              %p
                //http://stackoverflow.com/questions/13192578/fetching-the-substring-contained-between-two-specific-words
                = smsloan.no_uc[/"(.*?)"/, 1]

            .smsloanoverview_buttons.switch_smsloan_example1_button.float-right-not797
              %ul
                %li
                  %a.btn.btn-success.btn-large{:href => "http://www.ferratum.se/", :target => "_blank"} Ansök om lån
                %li
                  .typeofloan
                    .hidden-smslan= smsloan.application_fee
        .span1
