
//%pre

//%p
//  Best. App. Ever. #{@extra_title}

%table#table_id
  %thead
    %tr
      %th.th-title Bank
      %th.th-title Redan kund
      %th.th-title Ny kund
  %tbody
    //THIS WORKS - @plucker.each do |plucker, plucker2|
    - @plucker.each do |bank, plucker, plucker2|
      %tr
        %td= bank
        %td= plucker
        %td= plucker2
//THIS WORKS %td= plucker2

%p THIS IS WHAT YOU SEARCHED FOR 
%pre
  = @pluckervalue
  = @replace1
  = @replace2
%pre
  = @joiner
  = @joiner2

//= form_tag smslan_path, :method => 'get' do
//  %p
//    = text_field_tag :search, params[:search] #params gets what in the search field an turns it into a variable
//    = submit_tag "Search", :name => nil


//http://www.stefanosioannou.com/rails-4-simple-search-form/
//= form_tag(smslan_path, :method => "get", id: "search-form") do
//  = text_field_tag :search, params[:search], placeholder: "Search Users"
//  = submit_tag "Search", :name => nil




