
%pre

%p
  Best. App. Ever. #{@extra_title}

%table#table_id
  %thead
    %tr
      %th.th-title Redan kund
      %th.th-title Ny kund
  %tbody
    //THIS WORKS - @plucker.each do |plucker, plucker2|
    - @plucker.each do |plucker|
      %tr
        %td= plucker
//THIS WORKS %td= plucker2


//= form_tag smslan_path, :method => 'get' do
//  %p
//    = text_field_tag :search, params[:search] #params gets what in the search field an turns it into a variable
//    = submit_tag "Search", :name => nil


//http://www.stefanosioannou.com/rails-4-simple-search-form/
//= form_tag(smslan_path, :method => "get", id: "search-form") do
//  = text_field_tag :search, params[:search], placeholder: "Search Users"
//  = submit_tag "Search", :name => nil



- @smslan.each do |s|
  .message
    %p.bank= s.bank
    %p.bank= s.new_borrower_5K




= form_tag(smslan_path, :method => "get", id: "search-form") do

  = range_field :search, params[:search], :in => 1..7, :step => '1'
  = range_field :search, params[:search], :in => 1..7, :step => '1'
  //%label{:for => "time"} Time
  //%input#time{:list => "timesetting", :max => "6", :min => "1", :type => "range", :value => "1"}/
  //%datalist#timesetting
  //%option 0
  //%option 20
  //%option 40
  //%option 60
  //%option 80
  //%option 100
  = submit_tag "Search", :name => nil

%p THIS IS WHAT YOU SEARCHED FOR 
%pre
  = @pluckervalue
  = @showresults
