#div_id
  .row.row-padding-fix
    .span10
    - @smslan.each do |smsloan|
      .row.row-padding-fix.content-top
        .switch_smsloan_example1
          .row
            .smslogo-size= smsloan.bank.to_s.html_safe
            %table#smsloanexampletable
              %thead
                %tr
                  %th Belopp
                  %th 30 dagar
                  %th 60 dagar
              %tbody
                %tr

                  %td 3000 kr
                  %td
                    - @smsloanoverview1 = smsloan.debtor_loantime_30d_3k
                    - @smsloanoverview2 = smsloan.newdebtor_loantime_30d_3k
                    // checks if both are empty
                    - if(@smsloanoverview1.nil? && @smsloanoverview2.nil?)
                      - @smsloanoverview1 = "-"
                    - else
                      // checks if they are both the same (If both are the same and empty, then one has become "-" and the other "" with the code above and thus are not equal.)
                      - if(@smsloanoverview1 == @smsloanoverview2)
                        - @smsloanoverview1 = number_to_currency(smsloan.debtor_loantime_30d_3k, locale: :fr, strip_insignificant_zeros: true)
                        - @smsloanoverview2 = ""
                      - else
                        - @smsloanoverview1 = number_to_currency(smsloan.debtor_loantime_30d_3k, locale: :fr, strip_insignificant_zeros: true)
                        - if(@smsloanoverview2 == 0)
                          - @smsloanoverview2 = "(0)"
                        - else
                          - if(@smsloanoverview2.nil?)
                            - @smsloanoverview2 = "(-)"
                          - else
                            - @changethis = number_to_currency(smsloan.debtor_loantime_30d_5k, locale: :fr, strip_insignificant_zeros: true)
                            - @changethis2 = @changethis.chomp(" kr")
                            - @smsloanoverview2 = "(" + @changethis2.to_s + ")"
                    %ul#horizontal-list
                      %li= @smsloanoverview2
                      %li= @smsloanoverview1

                  %td
                    - @smsloanoverview1 = smsloan.debtor_loantime_60d_3k
                    - @smsloanoverview2 = smsloan.newdebtor_loantime_60d_3k
                    // checks if both are empty
                    - if(@smsloanoverview1.nil? && @smsloanoverview2.nil?)
                      - @smsloanoverview1 = "-"
                    - else
                      // checks if they are both the same (If both are the same and empty, then one has become "-" and the other "" with the code above and thus are not equal.)
                      - if(@smsloanoverview1 == @smsloanoverview2)
                        - @smsloanoverview1 = number_to_currency(smsloan.debtor_loantime_60d_3k, locale: :fr, strip_insignificant_zeros: true)
                        - @smsloanoverview2 = ""
                      - else
                        - @smsloanoverview1 = number_to_currency(smsloan.debtor_loantime_60d_3k, locale: :fr, strip_insignificant_zeros: true)
                        - if(@smsloanoverview2 == 0)
                          - @smsloanoverview2 = "(0)"
                        - else
                          - if(@smsloanoverview2.nil?)
                            - @smsloanoverview2 = "(-)"
                          - else
                            - @changethis = number_to_currency(smsloan.debtor_loantime_30d_5k, locale: :fr, strip_insignificant_zeros: true)
                            - @changethis2 = @changethis.chomp(" kr")
                            - @smsloanoverview2 = "(" + @changethis2.to_s + ")"
                    %ul#horizontal-list
                      %li= @smsloanoverview2
                      %li= @smsloanoverview1

                %tr
                  %td 4000 kr
                  %td
                    - @smsloanoverview1 = smsloan.debtor_loantime_30d_4k
                    - @smsloanoverview2 = smsloan.newdebtor_loantime_30d_4k
                    // checks if both are empty
                    - if(@smsloanoverview1.nil? && @smsloanoverview2.nil?)
                      - @smsloanoverview1 = "-"
                    - else
                      // checks if they are both the same (If both are the same and empty, then one has become "-" and the other "" with the code above and thus are not equal.)
                      - if(@smsloanoverview1 == @smsloanoverview2)
                        - @smsloanoverview1 = number_to_currency(smsloan.debtor_loantime_30d_4k, locale: :fr, strip_insignificant_zeros: true)
                        - @smsloanoverview2 = ""
                      - else
                        - @smsloanoverview1 = number_to_currency(smsloan.debtor_loantime_30d_4k, locale: :fr, strip_insignificant_zeros: true)
                        - if(@smsloanoverview2 == 0)
                          - @smsloanoverview2 = "(0)"
                        - else
                          - if(@smsloanoverview2.nil?)
                            - @smsloanoverview2 = "(-)"
                          - else
                            - @changethis = number_to_currency(smsloan.debtor_loantime_30d_5k, locale: :fr, strip_insignificant_zeros: true)
                            - @changethis2 = @changethis.chomp(" kr")
                            - @smsloanoverview2 = "(" + @changethis2.to_s + ")"
                    %ul#horizontal-list
                      %li= @smsloanoverview2
                      %li= @smsloanoverview1

                  %td
                    - @smsloanoverview1 = smsloan.debtor_loantime_60d_4k
                    - @smsloanoverview2 = smsloan.newdebtor_loantime_60d_4k
                    // checks if both are empty
                    - if(@smsloanoverview1.nil? && @smsloanoverview2.nil?)
                      - @smsloanoverview1 = "-"
                    - else
                      // checks if they are both the same (If both are the same and empty, then one has become "-" and the other "" with the code above and thus are not equal.)
                      - if(@smsloanoverview1 == @smsloanoverview2)
                        - @smsloanoverview1 = number_to_currency(smsloan.debtor_loantime_60d_4k, locale: :fr, strip_insignificant_zeros: true)
                        - @smsloanoverview2 = ""
                      - else
                        - @smsloanoverview1 = number_to_currency(smsloan.debtor_loantime_60d_4k, locale: :fr, strip_insignificant_zeros: true)
                        - if(@smsloanoverview2 == 0)
                          - @smsloanoverview2 = "(0)"
                        - else
                          - if(@smsloanoverview2.nil?)
                            - @smsloanoverview2 = "(-)"
                          - else
                            - @changethis = number_to_currency(smsloan.debtor_loantime_30d_5k, locale: :fr, strip_insignificant_zeros: true)
                            - @changethis2 = @changethis.chomp(" kr")
                            - @smsloanoverview2 = "(" + @changethis2.to_s + ")"
                    %ul#horizontal-list
                      %li= @smsloanoverview2
                      %li= @smsloanoverview1




                %tr
                  %td 5000 kr
                  %td
                    - @smsloanoverview1 = smsloan.debtor_loantime_30d_5k
                    - @smsloanoverview2 = smsloan.newdebtor_loantime_30d_5k
                    // checks if both are empty
                    - if(@smsloanoverview1.nil? && @smsloanoverview2.nil?)
                      - @smsloanoverview1 = "-"
                    - else
                      // checks if they are both the same 
                      //(If both are the same and empty, then one has become "-" and the other "" with the code above and thus are not equal.)
                      - if(@smsloanoverview1 == @smsloanoverview2)
                        - @smsloanoverview1 = number_to_currency(smsloan.debtor_loantime_30d_5k, locale: :fr, strip_insignificant_zeros: true)
                        - @smsloanoverview2 = ""
                      - else
                        - @smsloanoverview1 = number_to_currency(smsloan.debtor_loantime_30d_5k, locale: :fr, strip_insignificant_zeros: true)
                        - if(@smsloanoverview2 == 0)
                          - @smsloanoverview2 = "(0)"
                        - else
                          - if(@smsloanoverview2.nil?)
                            - @smsloanoverview2 = "(-)"
                          - else
                            - @changethis = number_to_currency(smsloan.debtor_loantime_30d_5k, locale: :fr, strip_insignificant_zeros: true)
                            - @changethis2 = @changethis.chomp(" kr")
                            - @smsloanoverview2 = "(" + @changethis2.to_s + ")"
                    %ul#horizontal-list
                      %li= @smsloanoverview2
                      %li= @smsloanoverview1

                  %td
                    - @smsloanoverview1 = smsloan.debtor_loantime_60d_5k
                    - @smsloanoverview2 = smsloan.newdebtor_loantime_60d_5k
                    // checks if both are empty
                    - if(@smsloanoverview1.nil? && @smsloanoverview2.nil?)
                      - @smsloanoverview1 = "-"
                    - else
                      // checks if they are both the same (If both are the same and empty, then one has become "-" and the other "" with the code above and thus are not equal.)
                      - if(@smsloanoverview1 == @smsloanoverview2)
                        - @smsloanoverview1 = number_to_currency(smsloan.debtor_loantime_60d_5k, locale: :fr, strip_insignificant_zeros: true)
                        - @smsloanoverview2 = ""
                      - else
                        - @smsloanoverview1 = number_to_currency(smsloan.debtor_loantime_60d_5k, locale: :fr, strip_insignificant_zeros: true)
                        - if(@smsloanoverview2 == 0)
                          - @smsloanoverview2 = "(0)"
                        - else
                          - if(@smsloanoverview2.nil?)
                            - @smsloanoverview2 = "(-)"
                          - else
                            - @changethis = number_to_currency(smsloan.debtor_loantime_30d_5k, locale: :fr, strip_insignificant_zeros: true)
                            - @changethis2 = @changethis.chomp(" kr")
                            - @smsloanoverview2 = "(" + @changethis2.to_s + ")"
                    %ul#horizontal-list
                      %li= @smsloanoverview2
                      %li= @smsloanoverview1



                %tr
                  %td 7000 kr
                  %td
                    - @smsloanoverview1 = smsloan.debtor_loantime_30d_7k
                    - @smsloanoverview2 = smsloan.newdebtor_loantime_30d_7k
                    // checks if both are empty
                    - if(@smsloanoverview1.nil? && @smsloanoverview2.nil?)
                      - @smsloanoverview1 = "-"
                    - else
                      // checks if they are both the same (If both are the same and empty, then one has become "-" and the other "" with the code above and thus are not equal.)
                      - if(@smsloanoverview1 == @smsloanoverview2)
                        - @smsloanoverview1 = number_to_currency(smsloan.debtor_loantime_30d_7k, locale: :fr, strip_insignificant_zeros: true)
                        - @smsloanoverview2 = ""
                      - else
                        - @smsloanoverview1 = number_to_currency(smsloan.debtor_loantime_30d_7k, locale: :fr, strip_insignificant_zeros: true)
                        - if(@smsloanoverview2 == 0)
                          - @smsloanoverview2 = "(0)"
                        - else
                          - if(@smsloanoverview2.nil?)
                            - @smsloanoverview2 = "(-)"
                          - else
                            - @changethis = number_to_currency(smsloan.debtor_loantime_30d_5k, locale: :fr, strip_insignificant_zeros: true)
                            - @changethis2 = @changethis.chomp(" kr")
                            - @smsloanoverview2 = "(" + @changethis2.to_s + ")"
                    %ul#horizontal-list
                      %li= @smsloanoverview2
                      %li= @smsloanoverview1

                  %td
                    - @smsloanoverview1 = smsloan.debtor_loantime_60d_7k
                    - @smsloanoverview2 = smsloan.newdebtor_loantime_60d_7k
                    // checks if both are empty
                    - if(@smsloanoverview1.nil? && @smsloanoverview2.nil?)
                      - @smsloanoverview1 = "-"
                    - else
                      // checks if they are both the same (If both are the same and empty, then one has become "-" and the other "" with the code above and thus are not equal.)
                      - if(@smsloanoverview1 == @smsloanoverview2)
                        - @smsloanoverview1 = number_to_currency(smsloan.debtor_loantime_60d_7k, locale: :fr, strip_insignificant_zeros: true)
                        - @smsloanoverview2 = ""
                      - else
                        - @smsloanoverview1 = number_to_currency(smsloan.debtor_loantime_60d_7k, locale: :fr, strip_insignificant_zeros: true)
                        - if(@smsloanoverview2 == 0)
                          - @smsloanoverview2 = "(0)"
                        - else
                          - if(@smsloanoverview2.nil?)
                            - @smsloanoverview2 = "(-)"
                          - else
                            - @changethis = number_to_currency(smsloan.debtor_loantime_30d_5k, locale: :fr, strip_insignificant_zeros: true)
                            - @changethis2 = @changethis.chomp(" kr")
                            - @smsloanoverview2 = "(" + @changethis2.to_s + ")"
                    %ul#horizontal-list
                      %li= @smsloanoverview2
                      %li= @smsloanoverview1
                %tr
                  %td 10 000 kr
                  %td
                    - @smsloanoverview1 = smsloan.debtor_loantime_30d_10k
                    - @smsloanoverview2 = smsloan.newdebtor_loantime_30d_10k
                    // checks if both are empty
                    - if(@smsloanoverview1.nil? && @smsloanoverview2.nil?)
                      - @smsloanoverview1 = "-"
                    - else
                      // checks if they are both the same (If both are the same and empty, then one has become "-" and the other "" with the code above and thus are not equal.)
                      - if(@smsloanoverview1 == @smsloanoverview2)
                        - @smsloanoverview1 = number_to_currency(smsloan.debtor_loantime_30d_10k, locale: :fr, strip_insignificant_zeros: true)
                        - @smsloanoverview2 = ""
                      - else
                        - @smsloanoverview1 = number_to_currency(smsloan.debtor_loantime_30d_10k, locale: :fr, strip_insignificant_zeros: true)
                        - if(@smsloanoverview2 == 0)
                          - @smsloanoverview2 = "(0)"
                        - else
                          - if(@smsloanoverview2.nil?)
                            - @smsloanoverview2 = "(-)"
                          - else
                            - @changethis = number_to_currency(smsloan.debtor_loantime_30d_5k, locale: :fr, strip_insignificant_zeros: true)
                            - @changethis2 = @changethis.chomp(" kr")
                            - @smsloanoverview2 = "(" + @changethis2.to_s + ")"
                    %ul#horizontal-list
                      %li= @smsloanoverview2
                      %li= @smsloanoverview1

                  %td
                    - @smsloanoverview1 = smsloan.debtor_loantime_60d_10k
                    - @smsloanoverview2 = smsloan.newdebtor_loantime_60d_10k
                    // checks if both are empty
                    - if(@smsloanoverview1.nil? && @smsloanoverview2.nil?)
                      - @smsloanoverview1 = "-"
                    - else
                      // checks if they are both the same (If both are the same and empty, then one has become "-" and the other "" with the code above and thus are not equal.)
                      - if(@smsloanoverview1 == @smsloanoverview2)
                        - @smsloanoverview1 = number_to_currency(smsloan.debtor_loantime_60d_10k, locale: :fr, strip_insignificant_zeros: true)
                        - @smsloanoverview2 = ""
                      - else
                        - @smsloanoverview1 = number_to_currency(smsloan.debtor_loantime_60d_10k, locale: :fr, strip_insignificant_zeros: true)
                        - if(@smsloanoverview2 == 0)
                          - @smsloanoverview2 = "(0)"
                        - else
                          - if(@smsloanoverview2.nil?)
                            - @smsloanoverview2 = "(-)"
                          - else
                            - @changethis = number_to_currency(smsloan.debtor_loantime_30d_5k, locale: :fr, strip_insignificant_zeros: true)
                            - @changethis2 = @changethis.chomp(" kr")
                            - @smsloanoverview2 = "(" + @changethis2.to_s + ")"
                    %ul#horizontal-list
                      %li= @smsloanoverview2
                      %li= @smsloanoverview1

                %tr
                  %td 15 000 kr
                  %td
                    - @smsloanoverview1 = smsloan.debtor_loantime_30d_15k
                    - @smsloanoverview2 = smsloan.newdebtor_loantime_30d_15k
                    // checks if both are empty
                    - if(@smsloanoverview1.nil? && @smsloanoverview2.nil?)
                      - @smsloanoverview1 = "-"
                    - else
                      // checks if they are both the same (If both are the same and empty, then one has become "-" and the other "" with the code above and thus are not equal.)
                      - if(@smsloanoverview1 == @smsloanoverview2)
                        - @smsloanoverview1 = number_to_currency(smsloan.debtor_loantime_30d_15k, locale: :fr, strip_insignificant_zeros: true)
                        - @smsloanoverview2 = ""
                      - else
                        - @smsloanoverview1 = number_to_currency(smsloan.debtor_loantime_30d_15k, locale: :fr, strip_insignificant_zeros: true)
                        - if(@smsloanoverview2 == 0)
                          - @smsloanoverview2 = "(0)"
                        - else
                          - if(@smsloanoverview2.nil?)
                            - @smsloanoverview2 = "(-)"
                          - else
                            - @changethis = number_to_currency(smsloan.debtor_loantime_30d_5k, locale: :fr, strip_insignificant_zeros: true)
                            - @changethis2 = @changethis.chomp(" kr")
                            - @smsloanoverview2 = "(" + @changethis2.to_s + ")"
                    %ul#horizontal-list
                      %li= @smsloanoverview2
                      %li= @smsloanoverview1

                  %td
                    - @smsloanoverview1 = smsloan.debtor_loantime_60d_15k
                    - @smsloanoverview2 = smsloan.newdebtor_loantime_60d_15k
                    // checks if both are empty
                    - if(@smsloanoverview1.nil? && @smsloanoverview2.nil?)
                      - @smsloanoverview1 = "-"
                    - else
                      // checks if they are both the same (If both are the same and empty, then one has become "-" and the other "" with the code above and thus are not equal.)
                      - if(@smsloanoverview1 == @smsloanoverview2)
                        - @smsloanoverview1 = number_to_currency(smsloan.debtor_loantime_60d_15k, locale: :fr, strip_insignificant_zeros: true)
                        - @smsloanoverview2 = ""
                      - else
                        - @smsloanoverview1 = number_to_currency(smsloan.debtor_loantime_60d_15k, locale: :fr, strip_insignificant_zeros: true)
                        - if(@smsloanoverview2 == 0)
                          - @smsloanoverview2 = "(0)"
                        - else
                          - if(@smsloanoverview2.nil?)
                            - @smsloanoverview2 = "(-)"
                          - else
                            - @changethis = number_to_currency(smsloan.debtor_loantime_30d_5k, locale: :fr, strip_insignificant_zeros: true)
                            - @changethis2 = @changethis.chomp(" kr")
                            - @smsloanoverview2 = "(" + @changethis2.to_s + ")"
                    %ul#horizontal-list
                      %li= @smsloanoverview2
                      %li= @smsloanoverview1

        .switch_smsloan_example2
          .span1
          .span6
            .row
              .span2
                //%p with span
                .smslogo-size= smsloan.bank.to_s.html_safe
              .span4
                %table#smsloanexampletable
                  %thead
                    %tr
                      %th Belopp
                      %th 30 dagar
                      %th 60 dagar
                  %tbody
                    %tr

                      %td 3000 kr
                      %td
                        - @smsloanoverview1 = smsloan.debtor_loantime_30d_3k
                        - @smsloanoverview2 = smsloan.newdebtor_loantime_30d_3k
                        // checks if both are empty
                        - if(@smsloanoverview1.nil? && @smsloanoverview2.nil?)
                          - @smsloanoverview1 = "-"
                        - else
                          // checks if they are both the same (If both are the same and empty, then one has become "-" and the other "" with the code above and thus are not equal.)
                          - if(@smsloanoverview1 == @smsloanoverview2)
                            - @smsloanoverview1 = number_to_currency(smsloan.debtor_loantime_30d_3k, locale: :fr, strip_insignificant_zeros: true)
                            - @smsloanoverview2 = ""
                          - else
                            - @smsloanoverview1 = number_to_currency(smsloan.debtor_loantime_30d_3k, locale: :fr, strip_insignificant_zeros: true)
                            - if(@smsloanoverview2 == 0)
                              - @smsloanoverview2 = "(0)"
                            - else
                              - if(@smsloanoverview2.nil?)
                                - @smsloanoverview2 = "(-)"
                              - else
                                - @changethis = number_to_currency(smsloan.debtor_loantime_30d_5k, locale: :fr, strip_insignificant_zeros: true)
                                - @changethis2 = @changethis.chomp(" kr")
                                - @smsloanoverview2 = "(" + @changethis2.to_s + ")"
                        %ul#horizontal-list
                          %li= @smsloanoverview2
                          %li= @smsloanoverview1

                      %td
                        - @smsloanoverview1 = smsloan.debtor_loantime_60d_3k
                        - @smsloanoverview2 = smsloan.newdebtor_loantime_60d_3k
                        // checks if both are empty
                        - if(@smsloanoverview1.nil? && @smsloanoverview2.nil?)
                          - @smsloanoverview1 = "-"
                        - else
                          // checks if they are both the same (If both are the same and empty, then one has become "-" and the other "" with the code above and thus are not equal.)
                          - if(@smsloanoverview1 == @smsloanoverview2)
                            - @smsloanoverview1 = number_to_currency(smsloan.debtor_loantime_60d_3k, locale: :fr, strip_insignificant_zeros: true)
                            - @smsloanoverview2 = ""
                          - else
                            - @smsloanoverview1 = number_to_currency(smsloan.debtor_loantime_60d_3k, locale: :fr, strip_insignificant_zeros: true)
                            - if(@smsloanoverview2 == 0)
                              - @smsloanoverview2 = "(0)"
                            - else
                              - if(@smsloanoverview2.nil?)
                                - @smsloanoverview2 = "(-)"
                              - else
                                - @changethis = number_to_currency(smsloan.debtor_loantime_30d_5k, locale: :fr, strip_insignificant_zeros: true)
                                - @changethis2 = @changethis.chomp(" kr")
                                - @smsloanoverview2 = "(" + @changethis2.to_s + ")"
                        %ul#horizontal-list
                          %li= @smsloanoverview2
                          %li= @smsloanoverview1

                    %tr
                      %td 4000 kr
                      %td
                        - @smsloanoverview1 = smsloan.debtor_loantime_30d_4k
                        - @smsloanoverview2 = smsloan.newdebtor_loantime_30d_4k
                        // checks if both are empty
                        - if(@smsloanoverview1.nil? && @smsloanoverview2.nil?)
                          - @smsloanoverview1 = "-"
                        - else
                          // checks if they are both the same (If both are the same and empty, then one has become "-" and the other "" with the code above and thus are not equal.)
                          - if(@smsloanoverview1 == @smsloanoverview2)
                            - @smsloanoverview1 = number_to_currency(smsloan.debtor_loantime_30d_4k, locale: :fr, strip_insignificant_zeros: true)
                            - @smsloanoverview2 = ""
                          - else
                            - @smsloanoverview1 = number_to_currency(smsloan.debtor_loantime_30d_4k, locale: :fr, strip_insignificant_zeros: true)
                            - if(@smsloanoverview2 == 0)
                              - @smsloanoverview2 = "(0)"
                            - else
                              - if(@smsloanoverview2.nil?)
                                - @smsloanoverview2 = "(-)"
                              - else
                                - @changethis = number_to_currency(smsloan.debtor_loantime_30d_5k, locale: :fr, strip_insignificant_zeros: true)
                                - @changethis2 = @changethis.chomp(" kr")
                                - @smsloanoverview2 = "(" + @changethis2.to_s + ")"
                        %ul#horizontal-list
                          %li= @smsloanoverview2
                          %li= @smsloanoverview1

                      %td
                        - @smsloanoverview1 = smsloan.debtor_loantime_60d_4k
                        - @smsloanoverview2 = smsloan.newdebtor_loantime_60d_4k
                        // checks if both are empty
                        - if(@smsloanoverview1.nil? && @smsloanoverview2.nil?)
                          - @smsloanoverview1 = "-"
                        - else
                          // checks if they are both the same (If both are the same and empty, then one has become "-" and the other "" with the code above and thus are not equal.)
                          - if(@smsloanoverview1 == @smsloanoverview2)
                            - @smsloanoverview1 = number_to_currency(smsloan.debtor_loantime_60d_4k, locale: :fr, strip_insignificant_zeros: true)
                            - @smsloanoverview2 = ""
                          - else
                            - @smsloanoverview1 = number_to_currency(smsloan.debtor_loantime_60d_4k, locale: :fr, strip_insignificant_zeros: true)
                            - if(@smsloanoverview2 == 0)
                              - @smsloanoverview2 = "(0)"
                            - else
                              - if(@smsloanoverview2.nil?)
                                - @smsloanoverview2 = "(-)"
                              - else
                                - @changethis = number_to_currency(smsloan.debtor_loantime_30d_5k, locale: :fr, strip_insignificant_zeros: true)
                                - @changethis2 = @changethis.chomp(" kr")
                                - @smsloanoverview2 = "(" + @changethis2.to_s + ")"
                        %ul#horizontal-list
                          %li= @smsloanoverview2
                          %li= @smsloanoverview1




                    %tr
                      %td 5000 kr
                      %td
                        - @smsloanoverview1 = smsloan.debtor_loantime_30d_5k
                        - @smsloanoverview2 = smsloan.newdebtor_loantime_30d_5k
                        // checks if both are empty
                        - if(@smsloanoverview1.nil? && @smsloanoverview2.nil?)
                          - @smsloanoverview1 = "-"
                        - else
                          // checks if they are both the same 
                          //(If both are the same and empty, then one has become "-" and the other "" with the code above and thus are not equal.)
                          - if(@smsloanoverview1 == @smsloanoverview2)
                            - @smsloanoverview1 = number_to_currency(smsloan.debtor_loantime_30d_5k, locale: :fr, strip_insignificant_zeros: true)
                            - @smsloanoverview2 = ""
                          - else
                            - @smsloanoverview1 = number_to_currency(smsloan.debtor_loantime_30d_5k, locale: :fr, strip_insignificant_zeros: true)
                            - if(@smsloanoverview2 == 0)
                              - @smsloanoverview2 = "(0)"
                            - else
                              - if(@smsloanoverview2.nil?)
                                - @smsloanoverview2 = "(-)"
                              - else
                                - @changethis = number_to_currency(smsloan.debtor_loantime_30d_5k, locale: :fr, strip_insignificant_zeros: true)
                                - @changethis2 = @changethis.chomp(" kr")
                                - @smsloanoverview2 = "(" + @changethis2.to_s + ")"
                        %ul#horizontal-list
                          %li= @smsloanoverview2
                          %li= @smsloanoverview1

                      %td
                        - @smsloanoverview1 = smsloan.debtor_loantime_60d_5k
                        - @smsloanoverview2 = smsloan.newdebtor_loantime_60d_5k
                        // checks if both are empty
                        - if(@smsloanoverview1.nil? && @smsloanoverview2.nil?)
                          - @smsloanoverview1 = "-"
                        - else
                          // checks if they are both the same (If both are the same and empty, then one has become "-" and the other "" with the code above and thus are not equal.)
                          - if(@smsloanoverview1 == @smsloanoverview2)
                            - @smsloanoverview1 = number_to_currency(smsloan.debtor_loantime_60d_5k, locale: :fr, strip_insignificant_zeros: true)
                            - @smsloanoverview2 = ""
                          - else
                            - @smsloanoverview1 = number_to_currency(smsloan.debtor_loantime_60d_5k, locale: :fr, strip_insignificant_zeros: true)
                            - if(@smsloanoverview2 == 0)
                              - @smsloanoverview2 = "(0)"
                            - else
                              - if(@smsloanoverview2.nil?)
                                - @smsloanoverview2 = "(-)"
                              - else
                                - @changethis = number_to_currency(smsloan.debtor_loantime_30d_5k, locale: :fr, strip_insignificant_zeros: true)
                                - @changethis2 = @changethis.chomp(" kr")
                                - @smsloanoverview2 = "(" + @changethis2.to_s + ")"
                        %ul#horizontal-list
                          %li= @smsloanoverview2
                          %li= @smsloanoverview1



                    %tr
                      %td 7000 kr
                      %td
                        - @smsloanoverview1 = smsloan.debtor_loantime_30d_7k
                        - @smsloanoverview2 = smsloan.newdebtor_loantime_30d_7k
                        // checks if both are empty
                        - if(@smsloanoverview1.nil? && @smsloanoverview2.nil?)
                          - @smsloanoverview1 = "-"
                        - else
                          // checks if they are both the same (If both are the same and empty, then one has become "-" and the other "" with the code above and thus are not equal.)
                          - if(@smsloanoverview1 == @smsloanoverview2)
                            - @smsloanoverview1 = number_to_currency(smsloan.debtor_loantime_30d_7k, locale: :fr, strip_insignificant_zeros: true)
                            - @smsloanoverview2 = ""
                          - else
                            - @smsloanoverview1 = number_to_currency(smsloan.debtor_loantime_30d_7k, locale: :fr, strip_insignificant_zeros: true)
                            - if(@smsloanoverview2 == 0)
                              - @smsloanoverview2 = "(0)"
                            - else
                              - if(@smsloanoverview2.nil?)
                                - @smsloanoverview2 = "(-)"
                              - else
                                - @changethis = number_to_currency(smsloan.debtor_loantime_30d_5k, locale: :fr, strip_insignificant_zeros: true)
                                - @changethis2 = @changethis.chomp(" kr")
                                - @smsloanoverview2 = "(" + @changethis2.to_s + ")"
                        %ul#horizontal-list
                          %li= @smsloanoverview2
                          %li= @smsloanoverview1

                      %td
                        - @smsloanoverview1 = smsloan.debtor_loantime_60d_7k
                        - @smsloanoverview2 = smsloan.newdebtor_loantime_60d_7k
                        // checks if both are empty
                        - if(@smsloanoverview1.nil? && @smsloanoverview2.nil?)
                          - @smsloanoverview1 = "-"
                        - else
                          // checks if they are both the same (If both are the same and empty, then one has become "-" and the other "" with the code above and thus are not equal.)
                          - if(@smsloanoverview1 == @smsloanoverview2)
                            - @smsloanoverview1 = number_to_currency(smsloan.debtor_loantime_60d_7k, locale: :fr, strip_insignificant_zeros: true)
                            - @smsloanoverview2 = ""
                          - else
                            - @smsloanoverview1 = number_to_currency(smsloan.debtor_loantime_60d_7k, locale: :fr, strip_insignificant_zeros: true)
                            - if(@smsloanoverview2 == 0)
                              - @smsloanoverview2 = "(0)"
                            - else
                              - if(@smsloanoverview2.nil?)
                                - @smsloanoverview2 = "(-)"
                              - else
                                - @changethis = number_to_currency(smsloan.debtor_loantime_30d_5k, locale: :fr, strip_insignificant_zeros: true)
                                - @changethis2 = @changethis.chomp(" kr")
                                - @smsloanoverview2 = "(" + @changethis2.to_s + ")"
                        %ul#horizontal-list
                          %li= @smsloanoverview2
                          %li= @smsloanoverview1
                    %tr
                      %td 10 000 kr
                      %td
                        - @smsloanoverview1 = smsloan.debtor_loantime_30d_10k
                        - @smsloanoverview2 = smsloan.newdebtor_loantime_30d_10k
                        // checks if both are empty
                        - if(@smsloanoverview1.nil? && @smsloanoverview2.nil?)
                          - @smsloanoverview1 = "-"
                        - else
                          // checks if they are both the same (If both are the same and empty, then one has become "-" and the other "" with the code above and thus are not equal.)
                          - if(@smsloanoverview1 == @smsloanoverview2)
                            - @smsloanoverview1 = number_to_currency(smsloan.debtor_loantime_30d_10k, locale: :fr, strip_insignificant_zeros: true)
                            - @smsloanoverview2 = ""
                          - else
                            - @smsloanoverview1 = number_to_currency(smsloan.debtor_loantime_30d_10k, locale: :fr, strip_insignificant_zeros: true)
                            - if(@smsloanoverview2 == 0)
                              - @smsloanoverview2 = "(0)"
                            - else
                              - if(@smsloanoverview2.nil?)
                                - @smsloanoverview2 = "(-)"
                              - else
                                - @changethis = number_to_currency(smsloan.debtor_loantime_30d_5k, locale: :fr, strip_insignificant_zeros: true)
                                - @changethis2 = @changethis.chomp(" kr")
                                - @smsloanoverview2 = "(" + @changethis2.to_s + ")"
                        %ul#horizontal-list
                          %li= @smsloanoverview2
                          %li= @smsloanoverview1

                      %td
                        - @smsloanoverview1 = smsloan.debtor_loantime_60d_10k
                        - @smsloanoverview2 = smsloan.newdebtor_loantime_60d_10k
                        // checks if both are empty
                        - if(@smsloanoverview1.nil? && @smsloanoverview2.nil?)
                          - @smsloanoverview1 = "-"
                        - else
                          // checks if they are both the same (If both are the same and empty, then one has become "-" and the other "" with the code above and thus are not equal.)
                          - if(@smsloanoverview1 == @smsloanoverview2)
                            - @smsloanoverview1 = number_to_currency(smsloan.debtor_loantime_60d_10k, locale: :fr, strip_insignificant_zeros: true)
                            - @smsloanoverview2 = ""
                          - else
                            - @smsloanoverview1 = number_to_currency(smsloan.debtor_loantime_60d_10k, locale: :fr, strip_insignificant_zeros: true)
                            - if(@smsloanoverview2 == 0)
                              - @smsloanoverview2 = "(0)"
                            - else
                              - if(@smsloanoverview2.nil?)
                                - @smsloanoverview2 = "(-)"
                              - else
                                - @changethis = number_to_currency(smsloan.debtor_loantime_30d_5k, locale: :fr, strip_insignificant_zeros: true)
                                - @changethis2 = @changethis.chomp(" kr")
                                - @smsloanoverview2 = "(" + @changethis2.to_s + ")"
                        %ul#horizontal-list
                          %li= @smsloanoverview2
                          %li= @smsloanoverview1

                    %tr
                      %td 15 000 kr
                      %td
                        - @smsloanoverview1 = smsloan.debtor_loantime_30d_15k
                        - @smsloanoverview2 = smsloan.newdebtor_loantime_30d_15k
                        // checks if both are empty
                        - if(@smsloanoverview1.nil? && @smsloanoverview2.nil?)
                          - @smsloanoverview1 = "-"
                        - else
                          // checks if they are both the same (If both are the same and empty, then one has become "-" and the other "" with the code above and thus are not equal.)
                          - if(@smsloanoverview1 == @smsloanoverview2)
                            - @smsloanoverview1 = number_to_currency(smsloan.debtor_loantime_30d_15k, locale: :fr, strip_insignificant_zeros: true)
                            - @smsloanoverview2 = ""
                          - else
                            - @smsloanoverview1 = number_to_currency(smsloan.debtor_loantime_30d_15k, locale: :fr, strip_insignificant_zeros: true)
                            - if(@smsloanoverview2 == 0)
                              - @smsloanoverview2 = "(0)"
                            - else
                              - if(@smsloanoverview2.nil?)
                                - @smsloanoverview2 = "(-)"
                              - else
                                - @changethis = number_to_currency(smsloan.debtor_loantime_30d_5k, locale: :fr, strip_insignificant_zeros: true)
                                - @changethis2 = @changethis.chomp(" kr")
                                - @smsloanoverview2 = "(" + @changethis2.to_s + ")"
                        %ul#horizontal-list
                          %li= @smsloanoverview2
                          %li= @smsloanoverview1

                      %td
                        - @smsloanoverview1 = smsloan.debtor_loantime_60d_15k
                        - @smsloanoverview2 = smsloan.newdebtor_loantime_60d_15k
                        // checks if both are empty
                        - if(@smsloanoverview1.nil? && @smsloanoverview2.nil?)
                          - @smsloanoverview1 = "-"
                        - else
                          // checks if they are both the same (If both are the same and empty, then one has become "-" and the other "" with the code above and thus are not equal.)
                          - if(@smsloanoverview1 == @smsloanoverview2)
                            - @smsloanoverview1 = number_to_currency(smsloan.debtor_loantime_60d_15k, locale: :fr, strip_insignificant_zeros: true)
                            - @smsloanoverview2 = ""
                          - else
                            - @smsloanoverview1 = number_to_currency(smsloan.debtor_loantime_60d_15k, locale: :fr, strip_insignificant_zeros: true)
                            - if(@smsloanoverview2 == 0)
                              - @smsloanoverview2 = "(0)"
                            - else
                              - if(@smsloanoverview2.nil?)
                                - @smsloanoverview2 = "(-)"
                              - else
                                - @changethis = number_to_currency(smsloan.debtor_loantime_30d_5k, locale: :fr, strip_insignificant_zeros: true)
                                - @changethis2 = @changethis.chomp(" kr")
                                - @smsloanoverview2 = "(" + @changethis2.to_s + ")"
                        %ul#horizontal-list
                          %li= @smsloanoverview2
                          %li= @smsloanoverview1
        .span4
          .row
            .smsloanoverviewinfo.float-left
              //%p Ansökningsavgift 0 kr
              %p
                %strong> Lånebelopp
                \: 
                - @smsloan_minamount = smsloan.min_loanamount
                - @smsloan_maxamount = smsloan.max_loanamount
                = @smsloanminandmaxamount = @smsloan_minamount.floor.to_s + " - " + @smsloan_maxamount.floor.to_s + "kr"
              %p
                %strong> Åldersgräns
                \: 
                = excerpt(smsloan.min_age, 'år', radius: 3, omission: '')
                //try this
                //http://apidock.com/rails/v4.2.1/ActionView/Helpers/TextHelper/excerpt
              %p
                %strong> SKEF-medlem
                \:
                = excerpt(smsloan.skef_member, 'Ja', radius: 0, omission: '')
                = excerpt(smsloan.skef_member, 'Nej', radius: 0, omission: '')
              %p
                %strong> Lån trots betalningsanm.
                \:
                //= Smsloan.second.low_credit_score
                = smsloan.low_credit_score.slice!(/(?:Ja|JA|Nej|NEJ)/)

              %p
                = excerpt(smsloan.no_uc, 'UC', radius: 6, omission: '')

            .smsloanoverview_buttons.float-right
              %ul
                %li
                  %a.btn.btn-success.btn-large{:href => "http://www.ferratum.se/", :target => "_blank"} Ansök om lån
                %li
                  .div.typeofloan-sms
                    .glyphicon.glyphicon-ok.float-left.typeofloancheckmark
                    .typeofloaninfo SMSlån
    .span1
