
%pre

%p
  Best. App. Ever. #{@extra_title}

%table#table_id
  %thead
    %tr
      %th.th-title Redan kund
      %th.th-title Ny kund
  %tbody
    //THIS WORKS - @plucker.each do |plucker, plucker2|
    - @plucker.each do |plucker|
      %tr
        %td= plucker
        //THIS WORKS %td= plucker2


//= form_tag smslan_path, :method => 'get' do
//  %p
//    = text_field_tag :search, params[:search] #params gets what in the search field an turns it into a variable
//    = submit_tag "Search", :name => nil


//http://www.stefanosioannou.com/rails-4-simple-search-form/
= form_tag(smslan_path, :method => "get", id: "search-form") do
  = text_field_tag :search, params[:search], placeholder: "Search Users"
  = submit_tag "Search", :name => nil



- @smslan.each do |s|
  .message
    %p.bank= s.bank
    %p.bank= s.new_borrower_5K

