:javascript


  //scroll to top
  $('.scrollToTop').click(function(){
    $('html, body').animate({scrollTop : 0},800);
    return false;
  });

  // Keeps hidden the things that should be hidden by the checked checkboxes
  // had to move this code snippet from smslan.erb.js otherwise rows are counted and then hidden, so all rows are hidden and not ignore those that will be hidden. This code snippet has to be executed before the one below, that is why I moved it here.
  $('input:checked').each(function() {
    $('td:contains("' + $(this).val() + '")').parentsUntil(".smsloanoverview").hide();
  });
  // Counts number of loans shown and informs user after they have changed the dropdown in the smsloaninterface. Didn't work so good to put in application.js or smslan.js.erb
  rowCount = $('.anti_border_spacing tr:visible').size();
  $('.bold-text.nr_of_loans').text(rowCount + " st lån visas");

  //When cliking button to show more loans, loangroups with no loans are kept hidden.



  if ($(window).width() < 768) {
    //MOBILE

    $( ".showmoreloans_button1" ).click(function() {
        $( ".mobile.hidden1" ).show();
        $( ".hidden-button1" ).hide();
        $( ".hidden-button2" ).show();
    });


    $( ".showmoreloans_button2" ).click(function() {
        $( ".mobile.hidden2" ).show();

        var t14d = ($('#table14d tr:visible').size());
        var t21d = ($('#table21d tr:visible').size());
        var t30d = ($('#table30d tr:visible').size());
        var t60d = ($('#table60d tr:visible').size());
        var t90d = ($('#table90d tr:visible').size());
        var t1y = ($('#table1y tr:visible').size());

        $('.mobile.hidden2').each(function() {

            if (t14d === 0) {
              $('.table14d').hide();
            }

            if (t21d === 0) {
              $('.table21d').hide();
            }

            if (t14d === 0) {
              $('.table14d').hide();
            }

            if (t30d === 0) {
              $('.table30d').hide();
            }

            if (t60d === 0) {
              $('.table60d').hide();
            }

            if (t14d === 0) {
              $('.table14d').hide();
            }

            if (t90d === 0) {
              $('.table90d').hide();
            }

            if (t1y === 0) {
              $('.table1y').hide();
            }

            $( ".hidden-button2" ).hide();
        });
    });



  } else {
    //DESKTOP
    $( ".showmoreloans_button1" ).click(function() {
        $( ".desktop.hidden1" ).show();
        $( ".hidden-button1" ).hide();
        $( ".hidden-button2" ).show();
    });


    $( ".showmoreloans_button2" ).click(function() {
        $( ".desktop.hidden2" ).show();

        var t14d = ($('#table14d tr:visible').size());
        var t21d = ($('#table21d tr:visible').size());
        var t30d = ($('#table30d tr:visible').size());
        var t60d = ($('#table60d tr:visible').size());
        var t90d = ($('#table90d tr:visible').size());
        var t1y = ($('#table1y tr:visible').size());

        $('.desktop.hidden2').each(function() {

            if (t14d === 0) {
              $('.table14d').hide();
            }

            if (t21d === 0) {
              $('.table21d').hide();
            }

            if (t14d === 0) {
              $('.table14d').hide();
            }

            if (t30d === 0) {
              $('.table30d').hide();
            }

            if (t60d === 0) {
              $('.table60d').hide();
            }

            if (t14d === 0) {
              $('.table14d').hide();
            }

            if (t90d === 0) {
              $('.table90d').hide();
            }

            if (t1y === 0) {
              $('.table1y').hide();
            }

            $( ".hidden-button2" ).hide();
        });
    });

  }




.row
  .scrollToTop Scrolla till toppen


.row-fluid.row-padding-fix
  .span2
  .span8
    .center_element2.desktop
      %ul#smsloan_options_chosen.desktop


        //%li med löptid på 
        //%li.bold-text= @smstime_visible_info_for_user2
        //%li.bold-text= @smstime_visible_info_for_user


.row-fluid
  .span2
  .span8
    %table#table_id2#table30d.ex1.desktop
      .hulk-box#table_id2.desktop.negative-topbuffer-desktop 30 dagar
      %tbody.smsloanoverview
        - @plucker30.take(4).each do |bank, min_loanamount, max_loanamount, plucker, plucker2, max_amount_new_borrower, invoice_fee, application_fee, mobile_friendly_site, min_age, low_credit_score, cost_free_loan, cost_free_loan_amount, new_borrower_5K, new_borrower_10K, no_uc, skef_member, bankid, open_on_saturdays, open_on_sundays, weblink|
          %tr.desktop

            %td.desktop
              .lock1= bank.to_s.html_safe

            - if bank.to_s == '<img src="leasyminilan_image.png" alt="Leasy minilån" style="height:35px">'
              %td
                %p Erbjuder personlig ränta
            - elsif bank.to_s == '<img src="ferratum_image.png" alt="Ferratum" style="height:40px">'
              %td
                %p Nya kunder kan låna upp till 5000 kr i 30 dagar utan ränta.
            - elsif bank.to_s == '<img src="everydayplus_image.png" alt="Everyday+" style="height:30px">'
              %td
                %p Om du inte kan betala tillbaka på förfallodagen kan du betala 1/5 av fakturasumman, minst 200 kr om fakturasumman är 1000 kr eller mindre.
            - elsif bank.to_s == '<img src="riscium_image.png" alt="Riscium" style="height:30px">'
              %td
                %p Nya kunder kan låna upp till 4000 kr genom att endast betala uppläggningsavgift.
            - elsif bank.to_s == '<img src="vivus_image.png" alt="Vivus" style="height:30px">'
              %td
                %p Första gången kan du låna 50 kr - 6000 kr räntefritt i 30 dagar.
            - elsif bank.to_s == '<img src="extrakredit_image.png" alt="Extrakredit" style="height:34px">'
              %td
                %p 
            - elsif bank.to_s == '<img src="onea_image.png" alt="Onea" style="height:30px">'
              %td.lock
                %p Du kan flytta fram förfallodagen hur många gånger som helst då du betalar förlängningsavgiften.
            - elsif bank.to_s == '<img src="smspengar_image.png" alt="Smspengar" style="height:30px">'
              %td
                %p Upp till 64% rabatt och du kan förlänga lånen mot en ränteavgift.
            - else
              %td
                %p

            %td.desktop
              %p.lock2= excerpt(min_age, 'år', radius: 3, omission: '')
              %p.lock2= no_uc[/"(.*?)"/, 1]
              - @credit_score = low_credit_score.slice!(/(?:Ja|JA|Nej|NEJ)/)
              - @credit_score2 = @credit_score.to_s
              - if @credit_score2 == "NEJ"
                %p.lock2= "Inga betalningsanmärkningar"
              - elsif @credit_score2 == "JA"
                %p.lock2= ""
              - elsif @credit_score2 == "Ja"
                %p.lock2= ""
              - elsif @credit_score2 == "Nej"
                %p.lock2= "Inga betalningsanmärkningar"


            %td.desktop
              .special-links= weblink.to_s.html_safe



    %table#table_id2#table30d.ex1.mobile
      .hulk-box#table_id2.mobile.negative-topbuffer-mobile 30 dagar
      %tbody.smsloanoverview
        - @plucker30.take(4).each do |bank, min_loanamount, max_loanamount, plucker, plucker2, max_amount_new_borrower, invoice_fee, application_fee, mobile_friendly_site, min_age, low_credit_score, cost_free_loan, cost_free_loan_amount, new_borrower_5K, new_borrower_10K, no_uc, skef_member, bankid, open_on_saturdays, open_on_sundays, weblink|
          %tr.desktop
            .row-fluid.mobile.mobile_tr
              .span2
                .center-element2
                  %ul
                    %li
                      .div= bank.to_s.html_safe

              .span2.top-buffer
                %ul
                  %li
                    - if bank.to_s == '<img src="leasyminilan_image.png" alt="Leasy minilån" style="height:35px">'

                      %p Erbjuder personlig ränta
                    - elsif bank.to_s == '<img src="ferratum_image.png" alt="Ferratum" style="height:40px">'

                      %p Nya kunder kan låna upp till 5000 kr i 30 dagar utan ränta.
                    - elsif bank.to_s == '<img src="everydayplus_image.png" alt="Everyday+" style="height:30px">'

                      %p Om du inte kan betala tillbaka på förfallodagen kan du betala 1/5 av fakturasumman, minst 200 kr om fakturasumman är 1000 kr eller mindre.
                    - elsif bank.to_s == '<img src="riscium_image.png" alt="Riscium" style="height:30px">'

                      %p Nya kunder kan låna upp till 4000 kr genom att endast betala uppläggningsavgift.
                    - elsif bank.to_s == '<img src="vivus_image.png" alt="Vivus" style="height:30px">'

                      %p Första gången kan du låna 50 kr - 6000 kr räntefritt i 30 dagar.
                    - elsif bank.to_s == '<img src="extrakredit_image.png" alt="Extrakredit" style="height:34px">'

                      %p 
                    - elsif bank.to_s == '<img src="onea_image.png" alt="Onea" style="height:30px">'

                      %p Du kan flytta fram förfallodagen hur många gånger som helst då du betalar förlängningsavgiften.
                    - elsif bank.to_s == '<img src="smspengar_image.png" alt="Smspengar" style="height:30px">'

                      %p Upp till 64% rabatt och du kan förlänga lånen mot en ränteavgift.
                    - else

                      %p

              .span2

                %ul
                  %li
                    %p.bold-text Krav
                  %li
                    %p.mobile_demands_top= excerpt(min_age, 'år', radius: 3, omission: '')
                  %li
                    %p.mobile_demands_top= no_uc[/"(.*?)"/, 1]
                  - @credit_score = low_credit_score.slice!(/(?:Ja|JA|Nej|NEJ)/)
                  - @credit_score2 = @credit_score.to_s
                  - if @credit_score2 == "NEJ"
                    = "Inga betalningsanmärkningar"
                  - elsif @credit_score2 == "JA"
                    = ""
                  - elsif @credit_score2 == "Ja"
                    = ""
                  - elsif @credit_score2 == "Nej"
                    = "Inga betalningsanmärkningar"
              .span2
                .center-element2
                  .special-links= weblink.to_s.html_safe



    %table#table_id2#table60d.ex1.desktop.hidden1
      .hulk-box#table_id2.desktop.hidden1 60 dagar
      %tbody.smsloanoverview
        - @plucker60.take(4).each do |bank, min_loanamount, max_loanamount, plucker, plucker2, max_amount_new_borrower, invoice_fee, application_fee, mobile_friendly_site, min_age, low_credit_score, cost_free_loan, cost_free_loan_amount, new_borrower_5K, new_borrower_10K, no_uc, skef_member, bankid, open_on_saturdays, open_on_sundays, weblink|
          %tr.desktop

            %td.desktop
              .lock1= bank.to_s.html_safe

            - if bank.to_s == '<img src="leasyminilan_image.png" alt="Leasy minilån" style="height:35px">'
              %td
                %p Erbjuder personlig ränta
            - elsif bank.to_s == '<img src="ferratum_image.png" alt="Ferratum" style="height:40px">'
              %td
                %p Nya kunder kan låna upp till 5000 kr i 30 dagar utan ränta.
            - elsif bank.to_s == '<img src="everydayplus_image.png" alt="Everyday+" style="height:30px">'
              %td
                %p Om du inte kan betala tillbaka på förfallodagen kan du betala 1/5 av fakturasumman, minst 200 kr om fakturasumman är 1000 kr eller mindre.
            - elsif bank.to_s == '<img src="riscium_image.png" alt="Riscium" style="height:30px">'
              %td
                %p Nya kunder kan låna upp till 4000 kr genom att endast betala uppläggningsavgift.
            - elsif bank.to_s == '<img src="vivus_image.png" alt="Vivus" style="height:30px">'
              %td
                %p Första gången kan du låna 50 kr - 6000 kr räntefritt i 30 dagar.
            - elsif bank.to_s == '<img src="extrakredit_image.png" alt="Extrakredit" style="height:34px">'
              %td
                %p 
            - elsif bank.to_s == '<img src="onea_image.png" alt="Onea" style="height:30px">'
              %td.lock
                %p Du kan flytta fram förfallodagen hur många gånger som helst då du betalar förlängningsavgiften.
            - elsif bank.to_s == '<img src="smspengar_image.png" alt="Smspengar" style="height:30px">'
              %td
                %p Upp till 64% rabatt och du kan förlänga lånen mot en ränteavgift.
            - else
              %td
                %p

            %td.desktop
              %p.lock2= excerpt(min_age, 'år', radius: 3, omission: '')
              %p.lock2= no_uc[/"(.*?)"/, 1]
              - @credit_score = low_credit_score.slice!(/(?:Ja|JA|Nej|NEJ)/)
              - @credit_score2 = @credit_score.to_s
              - if @credit_score2 == "NEJ"
                %p.lock2= "Inga betalningsanmärkningar"
              - elsif @credit_score2 == "JA"
                %p.lock2= ""
              - elsif @credit_score2 == "Ja"
                %p.lock2= ""
              - elsif @credit_score2 == "Nej"
                %p.lock2= "Inga betalningsanmärkningar"

            %td.desktop
              .special-links= weblink.to_s.html_safe


    %table#table_id2#table60d.ex1.mobile.hidden1
      .hulk-box#table_id2.mobile.hidden1 60 dagar
      %tbody.smsloanoverview
        - @plucker60.take(4).each do |bank, min_loanamount, max_loanamount, plucker, plucker2, max_amount_new_borrower, invoice_fee, application_fee, mobile_friendly_site, min_age, low_credit_score, cost_free_loan, cost_free_loan_amount, new_borrower_5K, new_borrower_10K, no_uc, skef_member, bankid, open_on_saturdays, open_on_sundays, weblink|
          %tr.desktop
            .row-fluid.mobile.mobile_tr.hidden1
              .span2
                .center-element2
                  .div= bank.to_s.html_safe

              .span2.top-buffer
                %ul
                  %li
                    - if bank.to_s == '<img src="leasyminilan_image.png" alt="Leasy minilån" style="height:35px">'

                      %p Erbjuder personlig ränta
                    - elsif bank.to_s == '<img src="ferratum_image.png" alt="Ferratum" style="height:40px">'

                      %p Nya kunder kan låna upp till 5000 kr i 30 dagar utan ränta.
                    - elsif bank.to_s == '<img src="everydayplus_image.png" alt="Everyday+" style="height:30px">'

                      %p Om du inte kan betala tillbaka på förfallodagen kan du betala 1/5 av fakturasumman, minst 200 kr om fakturasumman är 1000 kr eller mindre.
                    - elsif bank.to_s == '<img src="riscium_image.png" alt="Riscium" style="height:30px">'

                      %p Nya kunder kan låna upp till 4000 kr genom att endast betala uppläggningsavgift.
                    - elsif bank.to_s == '<img src="vivus_image.png" alt="Vivus" style="height:30px">'

                      %p Första gången kan du låna 50 kr - 6000 kr räntefritt i 30 dagar.
                    - elsif bank.to_s == '<img src="extrakredit_image.png" alt="Extrakredit" style="height:34px">'

                      %p 
                    - elsif bank.to_s == '<img src="onea_image.png" alt="Onea" style="height:30px">'

                      %p Du kan flytta fram förfallodagen hur många gånger som helst då du betalar förlängningsavgiften.
                    - elsif bank.to_s == '<img src="smspengar_image.png" alt="Smspengar" style="height:30px">'

                      %p Upp till 64% rabatt och du kan förlänga lånen mot en ränteavgift.
                    - else

                      %p
              .span2

                %ul
                  %li
                    %p.bold-text Krav
                  %li
                    %p= excerpt(min_age, 'år', radius: 3, omission: '')
                  %li
                    %p= no_uc[/"(.*?)"/, 1]
                  - @credit_score = low_credit_score.slice!(/(?:Ja|JA|Nej|NEJ)/)
                  - @credit_score2 = @credit_score.to_s
                  - if @credit_score2 == "NEJ"
                    = "Inga betalningsanmärkningar"
                  - elsif @credit_score2 == "JA"
                    = ""
                  - elsif @credit_score2 == "Ja"
                    = ""
                  - elsif @credit_score2 == "Nej"
                    = "Inga betalningsanmärkningar"
              .span2
                %ul
                  %li
                    .center-element2
                      .special-links= weblink.to_s.html_safe



    %table#table_id2#table90d.ex1.desktop.hidden2
      .hulk-box#table_id2.desktop.hidden2 90 dagar
      %tbody.smsloanoverview
        - @plucker90.take(4).each do |bank, min_loanamount, max_loanamount, plucker, plucker2, max_amount_new_borrower, invoice_fee, application_fee, mobile_friendly_site, min_age, low_credit_score, cost_free_loan, cost_free_loan_amount, new_borrower_5K, new_borrower_10K, no_uc, skef_member, bankid, open_on_saturdays, open_on_sundays, weblink|
          %tr.desktop

            %td.desktop
              .lock1= bank.to_s.html_safe

            - if bank.to_s == '<img src="leasyminilan_image.png" alt="Leasy minilån" style="height:35px">'
              %td
                %p Erbjuder personlig ränta
            - elsif bank.to_s == '<img src="ferratum_image.png" alt="Ferratum" style="height:40px">'
              %td
                %p Nya kunder kan låna upp till 5000 kr i 30 dagar utan ränta.
            - elsif bank.to_s == '<img src="everydayplus_image.png" alt="Everyday+" style="height:30px">'
              %td
                %p Om du inte kan betala tillbaka på förfallodagen kan du betala 1/5 av fakturasumman, minst 200 kr om fakturasumman är 1000 kr eller mindre.
            - elsif bank.to_s == '<img src="riscium_image.png" alt="Riscium" style="height:30px">'
              %td
                %p Nya kunder kan låna upp till 4000 kr genom att endast betala uppläggningsavgift.
            - elsif bank.to_s == '<img src="vivus_image.png" alt="Vivus" style="height:30px">'
              %td
                %p Första gången kan du låna 50 kr - 6000 kr räntefritt i 30 dagar.
            - elsif bank.to_s == '<img src="extrakredit_image.png" alt="Extrakredit" style="height:34px">'
              %td
                %p 
            - elsif bank.to_s == '<img src="onea_image.png" alt="Onea" style="height:30px">'
              %td.lock
                %p Du kan flytta fram förfallodagen hur många gånger som helst då du betalar förlängningsavgiften.
            - elsif bank.to_s == '<img src="smspengar_image.png" alt="Smspengar" style="height:30px">'
              %td
                %p Upp till 64% rabatt och du kan förlänga lånen mot en ränteavgift.
            - else
              %td
                %p

            %td.desktop
              %p.lock2= excerpt(min_age, 'år', radius: 3, omission: '')
              %p.lock2= no_uc[/"(.*?)"/, 1]
              - @credit_score = low_credit_score.slice!(/(?:Ja|JA|Nej|NEJ)/)
              - @credit_score2 = @credit_score.to_s
              - if @credit_score2 == "NEJ"
                %p.lock2= "Inga betalningsanmärkningar"
              - elsif @credit_score2 == "JA"
                %p.lock2= ""
              - elsif @credit_score2 == "Ja"
                %p.lock2= ""
              - elsif @credit_score2 == "Nej"
                %p.lock2= "Inga betalningsanmärkningar"

            %td.desktop
              .special-links= weblink.to_s.html_safe


    %table#table_id2#table90d.ex1.mobile.hidden2
      .hulk-box#table_id2.mobile.hidden2 90 dagar
      %tbody.smsloanoverview
        - @plucker90.take(4).each do |bank, min_loanamount, max_loanamount, plucker, plucker2, max_amount_new_borrower, invoice_fee, application_fee, mobile_friendly_site, min_age, low_credit_score, cost_free_loan, cost_free_loan_amount, new_borrower_5K, new_borrower_10K, no_uc, skef_member, bankid, open_on_saturdays, open_on_sundays, weblink|
          %tr.desktop
            .row-fluid.mobile.mobile_tr.hidden2
              .span2
                .center-element2
                  .div= bank.to_s.html_safe

              .span2.top-buffer
                %ul
                  %li
                    - if bank.to_s == '<img src="leasyminilan_image.png" alt="Leasy minilån" style="height:35px">'

                      %p Erbjuder personlig ränta
                    - elsif bank.to_s == '<img src="ferratum_image.png" alt="Ferratum" style="height:40px">'

                      %p Nya kunder kan låna upp till 5000 kr i 30 dagar utan ränta.
                    - elsif bank.to_s == '<img src="everydayplus_image.png" alt="Everyday+" style="height:30px">'

                      %p Om du inte kan betala tillbaka på förfallodagen kan du betala 1/5 av fakturasumman, minst 200 kr om fakturasumman är 1000 kr eller mindre.
                    - elsif bank.to_s == '<img src="riscium_image.png" alt="Riscium" style="height:30px">'

                      %p Nya kunder kan låna upp till 4000 kr genom att endast betala uppläggningsavgift.
                    - elsif bank.to_s == '<img src="vivus_image.png" alt="Vivus" style="height:30px">'

                      %p Första gången kan du låna 50 kr - 6000 kr räntefritt i 30 dagar.
                    - elsif bank.to_s == '<img src="extrakredit_image.png" alt="Extrakredit" style="height:34px">'

                      %p 
                    - elsif bank.to_s == '<img src="onea_image.png" alt="Onea" style="height:30px">'

                      %p Du kan flytta fram förfallodagen hur många gånger som helst då du betalar förlängningsavgiften.
                    - elsif bank.to_s == '<img src="smspengar_image.png" alt="Smspengar" style="height:30px">'

                      %p Upp till 64% rabatt och du kan förlänga lånen mot en ränteavgift.
                    - else

                      %p
              .span2

                %ul
                  %li
                    %p.bold-text Krav
                  %li
                    %p= excerpt(min_age, 'år', radius: 3, omission: '')
                  %li
                    %p= no_uc[/"(.*?)"/, 1]
                  - @credit_score = low_credit_score.slice!(/(?:Ja|JA|Nej|NEJ)/)
                  - @credit_score2 = @credit_score.to_s
                  - if @credit_score2 == "NEJ"
                    = "Inga betalningsanmärkningar"
                  - elsif @credit_score2 == "JA"
                    = ""
                  - elsif @credit_score2 == "Ja"
                    = ""
                  - elsif @credit_score2 == "Nej"
                    = "Inga betalningsanmärkningar"
              .span2
                %ul
                  %li
                    .center-element2
                      .special-links= weblink.to_s.html_safe



    %table#table_id2#table1y.ex1.desktop.hidden2
      .hulk-box#table_id2.desktop.hidden2 1 år
      %tbody.smsloanoverview
        - @plucker1.take(4).each do |bank, min_loanamount, max_loanamount, plucker, plucker2, max_amount_new_borrower, invoice_fee, application_fee, mobile_friendly_site, min_age, low_credit_score, cost_free_loan, cost_free_loan_amount, new_borrower_5K, new_borrower_10K, no_uc, skef_member, bankid, open_on_saturdays, open_on_sundays, weblink|
          %tr.desktop

            %td.desktop
              .lock1= bank.to_s.html_safe

            - if bank.to_s == '<img src="leasyminilan_image.png" alt="Leasy minilån" style="height:35px">'
              %td
                %p Erbjuder personlig ränta
            - elsif bank.to_s == '<img src="ferratum_image.png" alt="Ferratum" style="height:40px">'
              %td
                %p Nya kunder kan låna upp till 5000 kr i 30 dagar utan ränta.
            - elsif bank.to_s == '<img src="everydayplus_image.png" alt="Everyday+" style="height:30px">'
              %td
                %p Om du inte kan betala tillbaka på förfallodagen kan du betala 1/5 av fakturasumman, minst 200 kr om fakturasumman är 1000 kr eller mindre.
            - elsif bank.to_s == '<img src="riscium_image.png" alt="Riscium" style="height:30px">'
              %td
                %p Nya kunder kan låna upp till 4000 kr genom att endast betala uppläggningsavgift.
            - elsif bank.to_s == '<img src="vivus_image.png" alt="Vivus" style="height:30px">'
              %td
                %p Första gången kan du låna 50 kr - 6000 kr räntefritt i 30 dagar.
            - elsif bank.to_s == '<img src="extrakredit_image.png" alt="Extrakredit" style="height:34px">'
              %td
                %p 
            - elsif bank.to_s == '<img src="onea_image.png" alt="Onea" style="height:30px">'
              %td.lock
                %p Du kan flytta fram förfallodagen hur många gånger som helst då du betalar förlängningsavgiften.
            - elsif bank.to_s == '<img src="smspengar_image.png" alt="Smspengar" style="height:30px">'
              %td
                %p Upp till 64% rabatt och du kan förlänga lånen mot en ränteavgift.
            - else
              %td
                %p

            %td.desktop
              %p.lock2= excerpt(min_age, 'år', radius: 3, omission: '')
              %p.lock2= no_uc[/"(.*?)"/, 1]
              - @credit_score = low_credit_score.slice!(/(?:Ja|JA|Nej|NEJ)/)
              - @credit_score2 = @credit_score.to_s
              - if @credit_score2 == "NEJ"
                %p.lock2= "Inga betalningsanmärkningar"
              - elsif @credit_score2 == "JA"
                %p.lock2= ""
              - elsif @credit_score2 == "Ja"
                %p.lock2= ""
              - elsif @credit_score2 == "Nej"
                %p.lock2= "Inga betalningsanmärkningar"

            %td.desktop
              .special-links= weblink.to_s.html_safe


    %table#table_id2#table1y.ex1.mobile.hidden2
      .hulk-box#table_id2.mobile.hidden2 1 år
      %tbody.smsloanoverview
        - @plucker1.take(4).each do |bank, min_loanamount, max_loanamount, plucker, plucker2, max_amount_new_borrower, invoice_fee, application_fee, mobile_friendly_site, min_age, low_credit_score, cost_free_loan, cost_free_loan_amount, new_borrower_5K, new_borrower_10K, no_uc, skef_member, bankid, open_on_saturdays, open_on_sundays, weblink|
          %tr.desktop
            .row-fluid.mobile.mobile_tr.hidden2
              .span2
                .center-element2
                  .div= bank.to_s.html_safe

              .span2.top-buffer
                %ul
                  %li
                    - if bank.to_s == '<img src="leasyminilan_image.png" alt="Leasy minilån" style="height:35px">'

                      %p Erbjuder personlig ränta
                    - elsif bank.to_s == '<img src="ferratum_image.png" alt="Ferratum" style="height:40px">'

                      %p Nya kunder kan låna upp till 5000 kr i 30 dagar utan ränta.
                    - elsif bank.to_s == '<img src="everydayplus_image.png" alt="Everyday+" style="height:30px">'

                      %p Om du inte kan betala tillbaka på förfallodagen kan du betala 1/5 av fakturasumman, minst 200 kr om fakturasumman är 1000 kr eller mindre.
                    - elsif bank.to_s == '<img src="riscium_image.png" alt="Riscium" style="height:30px">'

                      %p Nya kunder kan låna upp till 4000 kr genom att endast betala uppläggningsavgift.
                    - elsif bank.to_s == '<img src="vivus_image.png" alt="Vivus" style="height:30px">'

                      %p Första gången kan du låna 50 kr - 6000 kr räntefritt i 30 dagar.
                    - elsif bank.to_s == '<img src="extrakredit_image.png" alt="Extrakredit" style="height:34px">'

                      %p 
                    - elsif bank.to_s == '<img src="onea_image.png" alt="Onea" style="height:30px">'

                      %p Du kan flytta fram förfallodagen hur många gånger som helst då du betalar förlängningsavgiften.
                    - elsif bank.to_s == '<img src="smspengar_image.png" alt="Smspengar" style="height:30px">'

                      %p Upp till 64% rabatt och du kan förlänga lånen mot en ränteavgift.
                    - else

                      %p
              .span2

                %ul
                  %li
                    %p.bold-text Krav
                  %li
                    %p= excerpt(min_age, 'år', radius: 3, omission: '')
                  %li
                    %p= no_uc[/"(.*?)"/, 1]
                  - @credit_score = low_credit_score.slice!(/(?:Ja|JA|Nej|NEJ)/)
                  - @credit_score2 = @credit_score.to_s
                  - if @credit_score2 == "NEJ"
                    = "Inga betalningsanmärkningar"
                  - elsif @credit_score2 == "JA"
                    = ""
                  - elsif @credit_score2 == "Ja"
                    = ""
                  - elsif @credit_score2 == "Nej"
                    = "Inga betalningsanmärkningar"
              .span2
                %ul
                  %li
                    .center-element2
                      .special-links= weblink.to_s.html_safe



    .center-element2.hidden-button1.top-buffer
      %a.btn.btn-default.btn-large.showmoreloans_button1 Visa mer lån >>
    .center-element2.hidden-button2.top-buffer
      %a.btn.btn-default.btn-large.showmoreloans_button2 Visa mer lån >>

      #7
      #tryagain1
      #tryagain2
      #tryagain3

      //mockup design
      //https://wireframe.cc/50sd16
