- content_for :title, "Jämför gratis SMSlån - Jämför och hitta kostnadsfria SMSlån och snabblån"
%meta{:content => "Moneylabs.se hjälper dig jämföra och hitta kostnadsfria smslån och snabblån", :name => "description= Jämför gratis SMSlån [site:moneylabs.se/gratislan]"}/

.row.row-padding-fix
  .span12
    .row
      .span1
      .span10
        %h1.pagetitle Jämför låneförmedlare
        %p.fonts Om du är intresserad av att låna större belopp är det bättre att välja längre bindningstider än vad SMSlån typiskt erbjuder. Du kan välja att ansöka om blancolån, vilket är lån du kan ta utan att behöva säkerhet, eller privatlån.
        %p.fonts Nedan kan du välja en låneförmedlare som passar dig och skicka in en låneansökan så skickar de tillbaka det bästa erbjudandet från en samling lånegivare. De är oftast kostnadsfritt att lämna en låneansökan.
        .span1
    .row.loanbrokers_desktop
      .span1
      .span10.top-buffer
        %table#table_id_loanbrokers
          %thead
            %tr
              %th Låneförmedlare
              %th Lånebelopp
              //%th Effektiv ränta
              %th Startavgift
              %th Fakturaavgift
              %th FI reg
              %th Lån trots betalnsanm.
              %th Bindningstid
              %th Min. ålder
              %th Årlig inkomst
              %th Web link
              %th{:colspan => "3"}
          %tbody
            - @loanbrokers.each do |loanbroker|
              %tr
                %td= loanbroker.broker_logo.to_s.html_safe

                - @loanbroker_minamount = loanbroker.min_amount
                - @loanbroker_maxamount = loanbroker.max_amount
                %td= @loanbrokerminandmaxamount = @loanbroker_minamount.floor.to_s + " - " + @loanbroker_maxamount.floor.to_s + "kr"
                //%td= loanbroker.effective_interest
                %td= loanbroker.start_fee
                %td= loanbroker.invoice_fee
                %td= loanbroker.FI_reg
                %td= loanbroker.payment_note
                - @loanbroker_minloantime = loanbroker.minloan_time
                - @loanbroker_maxloantime = loanbroker.maxloan_time
                %td= @loanbrokerminandmaxloantime = @loanbroker_minloantime.floor.to_s + " - " + @loanbroker_maxloantime.floor.to_s + " år"
                %td= loanbroker.min_age
                %td= loanbroker.yearly_income
                %td= loanbroker.web_link.to_s.html_safe
      .span1
.row.row-padding-fix.loanbrokers_mobile
  - @loanbrokers.each do |loanbroker|
    .span12.loanbrokerbox
      .row
        .span2
          = loanbroker.broker_logo.to_s.html_safe
        .span4
          %ul#list_block
            %li Belopp:
            //%li Effektiv ränta:
            %li Startavgift:
            %li Fakturaavgift:
            %li FI reg:
            %li Lån trots betalanm.:
            %li Återbetalningstid:
            %li Min. ålder:
            %li Årlig inkomst:
          %ul#list_block
            - @loanbroker_minamount = loanbroker.min_amount
            - @loanbroker_maxamount = loanbroker.max_amount
            %li= @loanbrokerminandmaxamount = @loanbroker_minamount.floor.to_s + " - " + @loanbroker_maxamount.floor.to_s + "kr"
            //%li= loanbroker.effective_interest
            %li= number_to_currency(loanbroker.start_fee, locale: :fr, strip_insignificant_zeros: true)
            %li= number_to_currency(loanbroker.invoice_fee, locale: :fr, strip_insignificant_zeros: true)
            %li= loanbroker.FI_reg
            %li= loanbroker.payment_note
            - @loanbroker_minloantime = loanbroker.minloan_time
            - @loanbroker_maxloantime = loanbroker.maxloan_time
            %li= @loanbrokerminandmaxloantime = @loanbroker_minloantime.floor.to_s + " - " + @loanbroker_maxloantime.floor.to_s + " år"
            %li= @loanbroker_min_age = loanbroker.min_age + " år"
            %li= number_to_currency(loanbroker.yearly_income, locale: :fr, strip_insignificant_zeros: true)
        .span6
          %p#list_block= loanbroker.web_link.to_s.html_safe
