<h1>Listing smsloans</h1>

<table>
  <thead>
    <tr>
      <th>Bank</th>
      <th>Min loanamoun</th>
      <th>Max loanamoun</th>
      <th>Mobile friendly site</th>
      <th>Smsloan payment note</th>
      <th>Smsloan min age</th>
      <th>Cost free loan</th>
      <th>New borrower 5k</th>
      <th>New borrower 10k</th>
      <th>No uc</th>
      <th>Skef member</th>
      <th>Bankid</th>
      <th>Open on saturdays</th>
      <th>Weblink</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @smsloans.each do |smsloan| %>
      <tr>
        <td><%= smsloan.bank %></td>
        <td><%= smsloan.min_loanamoun %></td>
        <td><%= smsloan.max_loanamoun %></td>
        <td><%= smsloan.mobile_friendly_site %></td>
        <td><%= smsloan.smsloan_payment_note %></td>
        <td><%= smsloan.smsloan_min_age %></td>
        <td><%= smsloan.cost_free_loan %></td>
        <td><%= smsloan.new_borrower_5K %></td>
        <td><%= smsloan.new_borrower_10K %></td>
        <td><%= smsloan.no_uc %></td>
        <td><%= smsloan.skef_member %></td>
        <td><%= smsloan.bankid %></td>
        <td><%= smsloan.open_on_saturdays %></td>
        <td><%= smsloan.weblink %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
