= favicon_link_tag 'favicon.ico'
- content_for :title, "Moneylabs.se - Jämför och hitta billigast smslån och snabblån"
%meta{:content => "Moneylabs.se hjälper dig jämföra och hitta de billigaste smslånen och snabblånen", :name => "description= Jämför SMSlån [site:moneylabs.se/]"}/
//.page-padding


//mobile
.row-fluid.mobile.top-buffer2
  .span1
  .span10
    .row-fluid
      .span6
        .span3.best-title
          %h2.fonts.center-element2 Bästa SMSlånet
        .span3.best.negative-topbuffer-best
          .center-element3
            %img{:alt => "W3Schools", :src => "ferratum_image.png"}

.row-fluid.mobile
  .span10
    .row-fluid
      .span6
        .span3.best-title
          %h2.fonts.center-element2 Bästa SMSlånet
        .span3.best.negative-topbuffer-best
          .center-element3
            %img{:alt => "W3Schools", :src => "ferratum_image.png"}


// Desktop/tables
.row-fluid.desktop.top-buffer
  .span1
  .span10
    .row-fluid
      .span2
      .span4.best-title
        %h2.center-element2 Bästa SMSlånet
      .span4.best-title
        %h2.center-element2 Bästa SMSlånet
      .span1
  .span1
.row-fluid.desktop.bottom-buffer
  .span1
  .span10
    .row-fluid
      .span2
      .span4.best
        %img{:alt => "W3Schools", :src => "ferratum_image.png"}
      .span4.best
        %img{:alt => "W3Schools", :src => "ferratum_image.png"}
      .span1
  .span1





.row-fluid
  .span2
  .span8.smsloaninterface
    .row-fluid
      .span8
      .span3
        %p.glyph.white
          Avancerad filtrering
          %span.glyphicon.glyphicon-chevron-down
    .row.advanced-search-options
      .smsloaninterface-options-fix.span1
      .span10

        #smsloan_sliders.content-top2
          .row
            .span2
              %p.hidden-smsdropdown.fonts.white2 Hur lång löptid ska lånet ha?
            .span2
              %p#W1.fonts.white.hidden-smsdropdown
          = form_tag(smslan_path, :method => "get", id: "search-form", remote: true) do
            .hidden-smsdropdown= range_field :search, params[:search], :value =>'3', :in => 1..7, :step => '1', :id => 'slider1', :onchange => "$(this).parent('form').submit();"
            .row
              .span3
                %p.fonts.white2 Hur mycket vill du låna?
              .span2
                %p#W2.fonts.white
            = range_field :search, params[:search], :in => 1..15, :step => '1', :id => 'slider2', :value =>'6', :onchange => "$(this).parent('form').submit();"
            //= submit_tag "Jämför lån", :name => nil, :class => "blo btn btn-large btn-success sms-button", :id => "smsbutton"
            .span2


        #smsloan_dropdowns.content-top2.row-padding-fix.smsloandropdown-fix3.negative-topbuffer-general


          .span3
            %p.fonts.white Välj löptid på lånet
            %p#W1.smsloandropdown-fix
            = form_tag smslan_path, :method => "get", id: "search_form_dropdown", remote: true do
              = select_tag :search1, options_for_select([["14 dagar", "1",], ["21 dagar", "2"], ["30 dagar", "3"], ["45 dagar", "4"], ["60 dagar", "5"], ["90 dagar", "6"], ["1 år", "7"]], params[:search1]), :class => "smsdropdown hidden-smsdropdown", :onchange => "$(this).parent('form').submit();", :prompt => "Välj löptid på lånet"
              %p.fonts.white.hidden-smslan Välj lånebelopp
              %p#W2.smsloandropdown-fix.hidden-smslan
              = select_tag :search2, options_for_select([["500 kr", "1"], ["1000 kr", "2"], ["2000 kr", "3"], ["3000 kr", "4"], ["4000 kr", "5"], ["5000 kr", "6"], ["6000 kr", "7"], ["7000 kr", "8"], ["8000 kr", "9"], ["9000 kr", "10"], ["10000 kr", "11"], ["15000 kr", "12"], ["20000 kr", "13"], ["25000 kr", "14"], ["30000 kr", "15"]], params[:search2]), :class => "smsdropdown", :onchange => "$(this).parent('form').submit();", :prompt => "Välj belopp"



          //.span3
          //  %p.fonts.white Välj löptid på lånet
          //.span3
          //  %p#W1.smsloandropdown-fix
          //  = form_tag smslan_path, :method => "get", id: "search-form", remote: true do
          //    = select_tag :search1, options_for_select([["14 dagar", "1"], ["21 dagar", "2"], ["30 dagar", "3"], ["45 dagar", "4"], ["60 dagar", "5"], ["90 dagar", "6"], ["1 år", "7"]], params[:search1]), :class => "smsdropdown", :onchange => "$(this).parent('form').submit();"

          //.span3.smsloandropdown-fix2
          //  %p.fonts.white Välj lånebelopp
          //.span3
          //  %p#W2.smsloandropdown-fix
          //  = select_tag :search2, options_for_select([["500 kr", "1"], ["1000 kr", "2"], ["2000 kr", "3"], ["3000 kr", "4"], ["4000 kr", "5"], ["5000 kr", "6"], ["6000 kr", "7"], ["7000 kr", "8"], ["8000 kr", "9"], ["9000 kr", "10"], ["10000 kr", "11"], ["15000 kr", "12"], ["20000 kr", "13"], ["25000 kr", "14"], ["30000 kr", "15"]], params[:search2]), :class => "smsdropdown", :onchange => "$(this).parent('form').submit();"
          //  = submit_tag "Jämför lån", :name => nil, :class => "blo btn btn-large btn-success sms-button", :id => "smsbutton"
  .span2


#div_id.negative-topbuffer-general
  .row
    .scrollToTop Scrolla till toppen



  .row-fluid
    .span2
    .span8.top-list-item-odd
      .row-fluid.top-buffer.row-padding-fix
        .span1
        .span2
          %img{:alt => "Vivus", :src => "vivus_image.png", :style => "height:30px"}/
        .span2.top-buffer-small
          %p 50 - 16000 kr
        .span3
          %p Bestäm själv hur mycket du vill betala varje månad, beroende på avtalslängd och belopp.
        .span2
          %p 18 år
        .span1
          .center-element2.bottom-buffer
            %a.btn.btn-success.btn-large{:href => "#"} Ansök här

  .row-fluid
    .span2
    .span8.top-list-item-even
      .row-fluid.top-buffer.row-padding-fix
        .span1
        .span2
          %img{:alt => "W3Schools", :src => "ferratum_image.png"}
        .span2.top-buffer-small
          %p 50 - 16000 kr
        .span3
          %p Bestäm själv hur mycket du vill betala varje månad, beroende på avtalslängd och belopp.
        .span2
          %p 18 år
        .span1
          .center-element2.bottom-buffer
            %a.btn.btn-success.btn-large{:href => "#"} Ansök här

  .row-fluid
    .span2
    .span8.top-list-item-odd
      .row-fluid.top-buffer.row-padding-fix
        .span1
        .span2
          %img{:alt => "Vivus", :src => "vivus_image.png", :style => "height:30px"}/
        .span2.top-buffer-small
          %p 50 - 16000 kr
        .span3
          %p Bestäm själv hur mycket du vill betala varje månad, beroende på avtalslängd och belopp.
        .span2
          %p 18 år
        .span1
          .center-element2.bottom-buffer
            %a.btn.btn-success.btn-large{:href => "#"} Ansök här

  .row-fluid
    .span2
    .span8.top-list-item-even
      .row-fluid.top-buffer.row-padding-fix
        .span1
        .span2
          %img{:alt => "W3Schools", :src => "ferratum_image.png", :style => "height:30px"}
        .span2.top-buffer-small
          %p 50 - 16000 kr
        .span3
          %p Bestäm själv hur mycket du vill betala varje månad, beroende på avtalslängd och belopp.
        .span2
          %p 18 år
        .span1
          .center-element2.bottom-buffer
            %a.btn.btn-success.btn-large{:href => "#"} Ansök här

    .span2



.row-fluid.row-padding-fix
  .span12.top-buffer.scrollhere
    %hr/
.row-fluid.thebiggreyarea.row-padding-fix
  .span4
  .span4
    %h1.top-buffer.bottom-buffer.pagetitle.text-center Vanliga frågor
  .span4
.row-fluid.thebiggreyarea
  .span1
  .span5.bottom-buffer.padhack
    %h2.h2-hulk.top-buffer2 Vad är SMSlån?
    %p.fonts.content-top2 SMSlån, eller snabblån som det även kallas, är lån som särskiljer sig genom att röra sig om mindre belopp och kortare återbetalningstider. Handläggningstiden är även snabbare och är ofta under en minut.
    %h2.h2-hulk.top-buffer2 Vad innebär att en långivare är SKEF-medlem?
    %p.fonts.content-top2
      %a{:href => "http://konsumentkreditforetagen.se/"}
        %span.linkclass SKEF
      (Svenska Konsumentkreditföretagen Ekonomisk Förening) är en branschförening för företag som erbjuder konsumenter korta lån. Föreningen strävar efter att stärka praxis för branschen som gäller god kreditgivningssed för att säkerställa kvalitet och trygghet för konsumenter på Sveriges snabblånemarknad. Genom att en långivare är medlem i SKEF kan konsumenter som vill ta lån vara
      %b säkra på att de vänder sig till en seriös långivare
      som är väletablerad.
    %h2.h2-hulk.top-buffer2 Utför alla långivare kreditupplysning?
    %p.fonts.content-top2 Nej. Endel gör inte det, men de flesta långivare vänder sig till UC eller andra kreditupplysningsföretag för att göra en kreditkontroll om du ansöker om lån hos dem.  Du kan söka efter långivare som inte kräver kreditupplysning genom att klicka i "Smslån utan UC" i söktjänstens reglage.
    %h2.h2-hulk.top-buffer2 Vilka krav finns för få SMSlån?
    %p.fonts.content-top2 Kraven varierar mellan olika långivare. De vanligaste kraven brukar innefatta att du är svenska medborgare, vilket innebär att du ska folkbokförd i Sverige och ha adress här.
    %p.fonts Du ska ha ett privat bankkonto samt ett privat telefonabonnemang.
    %p.fonts Lägsta åldersgräns är 18 år som alla långivare måste hålla sig tll, medan endel långivare har 20 år eller högre som gräns.
    %p.fonts Krav på årsinkomst kan finnas och kreditprövning är ofta ett krav, men vissa långivare kräver inte detta.


  .span5.bottom-buffer.padhack
    %h2.h2-hulk.top-buffer2 När bör man undvika att ta SMSlån?
    %p.fonts.content-top2
      %b Om man anser att risken att man inte kan betala tillbaka lånet i tid är påtaglig
      bör kanske undvika att använda SMSlån. Om du blir försenad med att betala av delbetalningarna får du en påminnelse vilket kan kosta ytterligare. Om du inte kan betala påminnelsen heller så riskerar ärendet att hamna hos inkasso och till sist hos Kronofogden om du inte lyckats göra någon återbetalning tidigare. Då riskerar du att få en
      %b betalningsanmärkning, vilket finns registrerad i tre år.
      En betalningsanmärking kan resultera i att du får svårigheter att ansöka om lån, hyresbostad, telefonabbonemand etc.
    %p.fonts Det man bör vara medveten om är att med SMSlån får man inte bara pengarna snabbt utan återbetalningen också är kort. Kostnaderna ökar för lånet ju längre återbetalningstid man väljer.
    %h2.h2-hulk.top-buffer2 Vilka risker finns med SMSlån?
    %p.fonts.content-top2 Att inte kunna sköta återbetalningen av lånet är en risk. Om du är osäker på att du hinner betala tillbaka lånet i tid så kan du ta en längre återbetalningstid och försöka betala av snabbare.
    %p.fonts Gratislån hjälper då de inte har kostnader som läggs på, men detta gäller endast om du betalar av den inom den avtalade återbetalningstiden.
    %p.fonts Förlängnings- och påminnelseavgifter kan vara dyra så se till att betala av lånen i tid.
    %p.fonts Bra att tänka på är att se efter vad långivarna har för process för indrivning och vad de har skrivit i sina villkor angående förnyelser.
    %h2.h2-hulk.top-buffer2 Var medveten om dina rättigheter som kreditkonsument.
    %p.fonts.content-top2
      Det som kan vara bra för dig som tar lån att känna till är dina rättigheter som kreditkonsument. Dessa finns beskrivna i
      %b konsumentkreditlagen
      som du kan läsa mer om på konsumentverkets
      %a{:href => "http://www.konsumentverket.se/Vart-arbete/Lagar-och-regler/Konsumentlagar/Konsumentkreditlagen/"}
        %span.linkclass hemsida.
    %p.fonts
      T.ex. har du som kreditkonsument
      %b ångerrätt (avbeställningsrätt)
      på lånet inom 14 dagar från tidpunkten då kreditavtalet ingicks enligt konsumentkreditlagen. Dock får du betala ränta för dagarna du har haft tillgång till krediten. Läs mer om ångerrätt
      %a{:href => "http://www.konsumentverket.se/Vart-arbete/Lagar-och-regler/Konsumentlagar/Konsumentkreditlagen/"}
        %span.linkclass här.
    %h2.h2-hulk.top-buffer2 Kan jag låna trots betalningsanmärkelse?
    %p.fonts.content-top2.bottom-buffer Ja. Flera långivare erbjuder kunder att låna utan betalningsanmärkelse. Du kan söka efter dessa långivare genom att klicka i "Låna trots betalningsanmärkelse" i söktjänstens reglage.

