%meta{:content => "Moneylabs.se hjälper dig jämföra och hitta de billigaste smslånen och snabblånen", :name => "description= Jämför SMSlån [site:moneylabs.se/]"}/
.row
  .span12.page-padding
    .row
      .span1
      .span8
        .row
          .span8
            %h1.pagetitle Jämför SMSlån
            %p.fonts SMSlån, vilket också kallas snabblån, är ett sätt att täcka oförutsedda utgifter när du har ont om pengar på kontot eller då du behöver ett förskott. Du kan låna mindre summor åt gången ändå upp till 25 000 kr. Till skillnad från traditionella lån är återbetalningstiden kortare och lånekostnaden generellt högre, men som tur är erbjuder flera långivare kostnadsfria lån till nya kunder.
            %p.fonts
              Om du vill endast jämföra de olika
              %b gratislånen
              som erbjuds av långivarna kan du
              %a.linkclass{:href => "gratislan"}
                %span.linkclass klicka här.
            %p.fonts Nedan kan du jämföra olika smslån från en mängd olika långivare. Använd reglaget nedan för att hitta det billigaste lån som passar just dig. Klicka på rubrikerna i tabellen för att sortera.
          .span8.smsloaninterface
            .span8
              .span4.float-left
                %label.smscheckboxes
                  %input.smslanchkbx{:name => "smslanchkbx", :type => "checkbox", :value => "nonouc"}/
                  %span.lbl.padding-8.fonts Smslån utan UC
                %label.smscheckboxes
                  %input.smslanchkbx{:name => "smslanchkbx", :type => "checkbox", :value => "noskefmember"}/
                  %span.lbl.padding-8.fonts SKEF Medlem
                %label.smscheckboxes
                  %input.smslanchkbx{:name => "smslanchkbx", :type => "checkbox", :value => "nolowcreditscore"}/
                  %span.lbl.padding-8.fonts Låna trots betalningsanmärkning
                %label.smscheckboxes
                  %input.smslanchkbx{:name => "smslanchkbx", :type => "checkbox", :value => "nonewborrower5k"}/
                  %span.lbl.padding-8.fonts Låna 5000 kr eller mer första gången
                %label.smscheckboxes
                  %input.smslanchkbx{:name => "smslanchkbx", :type => "checkbox", :value => "nonewborrower10k"}/
                  %span.lbl.padding-8.fonts Låna 10 000 kr eller mer första gången
              .span2.float-right
                %label.smscheckboxes
                  %input.smslanchkbx{:name => "smslanchkbx", :type => "checkbox", :value => "nominage18"}/
                  %span.lbl.padding-8.fonts 18 årsgräns
                %label.smscheckboxes
                  %input.smslanchkbx{:name => "smslanchkbx", :type => "checkbox", :value => "noopenonsaturdays"}/
                  %span.lbl.padding-8.fonts Lördagsöppet
                %label.smscheckboxes
                  %input.smslanchkbx{:name => "smslanchkbx", :type => "checkbox", :value => "noopenonsundays"}/
                  %span.lbl.padding-8.fonts Söndagsöppet
                %label.smscheckboxes
                  %input.smslanchkbx{:name => "smslanchkbx", :type => "checkbox", :value => "nobankid"}/
                  %span.lbl.padding-8.fonts BankID
                %label.smscheckboxes
                  %input.smslanchkbx{:name => "smslanchkbx", :type => "checkbox", :value => "nomobilefriendlysite"}/
                  %span.lbl.padding-8.fonts Mobilvänlig site
              / /.span1.float-right
              / /  %p.glyph
              / /    Hjälp
              / /    %span.glyphicon.glyphicon-question-sign.glyph
              .span6
                #smsloan_sliders
                  %p#W1.fonts.white 14 dagar
                  = form_tag(smslan_path, :method => "get", id: "search-form", remote: true) do
                    = range_field :search, params[:search], :in => 1..7, :step => '1', :id => 'slider1', value: '1'
                    %p#W2.fonts.white 1000 kr
                    = range_field :search, params[:search], :in => 1..15, :step => '1', :id => 'slider2', value: '1'
                    = submit_tag "Jämför lån", :name => nil, :class => "blo btn btn-large btn-success sms-button", :id => "smsbutton"
                #smsloan_dropdowns
                  //http://stackoverflow.com/questions/11762542/passing-multiple-parameters-in-a-form-tag
                  = form_tag smslan_path, :method => "get", id: "search-form", remote: true do
                    = select_tag :search1, options_for_select([["14 dagar", "1"], ["21 dagar", "2"], ["30 dagar", "3"], ["45 dagar", "4"], ["60 dagar", "5"], ["90 dagar", "6"], ["1 år", "7"]], params[:search1])
                    = select_tag :search2, options_for_select([["500 kr", "1"], ["1000 kr", "2"], ["2000 kr", "3"], ["3000 kr", "4"], ["4000 kr", "5"], ["5000 kr", "6"], ["6000 kr", "7"], ["7000 kr", "8"], ["8000 kr", "9"], ["9000 kr", "10"], ["10000 kr", "11"], ["15000 kr", "12"], ["20000 kr", "13"], ["25000 kr", "14"], ["30000 kr", "15"]], params[:search2])
                    = submit_tag "Jämför lån", :name => nil, :class => "blo btn btn-large btn-success sms-button", :id => "smsbutton"

              / /Slider - http://webtutsdepot.com/2010/04/24/html-5-slider-input-tutorial/
              //%p
              / /Show value
              //%p#smstime-value.fonts
              / /Slider
              //#smstime-slider
              //%p
              / /Show value
              //%p#smsamount-value.fonts
              / /Slider
              //#smsamount-slider
              / /TEST - Shows the variable that is concenated to show the right column
              / /%p#demo
              //%p.results
            //.span2
            //  %label.smscheckboxes.top-buffer
            //    %input.smslanchkbx{:name => "smslanchkbx", :type => "checkbox", :value => "nofreeloan"}/
            //    %span.lbl.padding-8 Kostnadsfria lån

            //.switch-toggle.switch-candy
            //  %input#on{:name => "state-d", :type => "radio"}/
            //  %label{:id => "on", :for => "on", :onclick => ""} Redan kund
            //  %input#off{ :name => "state-d", :type => "radio"}/
            //  %label{:checked => "checked", :id => "off", :for => "off", :onclick => ""} Ny kund
            //  %a

            //= link_to "Jämför lån", smslan_path, :remote => true, :class => "blo btn btn-large btn-success sms-button", :id => "smsbutton"
          //.span8
          / /.pagefield-right
          / /  .span2
          / /    %h1 Fillet text
          / /    %p filler text sefnsfnsosnfseofnonfosnefosenfnsfos ono o oo  o sf jse ofs ose s oof os fjose osf sofo soe osf so jso jofsj osfso fjsofeifis f oef js j oseso of jsof ofj s josef os sof .

          .span8
            #div_id
              %table#table_id
                %thead
                  %tr
                    %th.th-title Långivare
                    %th.th-title Minsta lånebelopp
                    %th.th-title Högsta lånebelopp
                    %th.hidden-smslan Högsta lånebelopp ny låntagare
                    %th.hidden-smslan.hidden-smslan2 Aviavgift
                    %th.hidden-smslan.hidden-smslan2 Ansökningsavgift
                    %th.hidden-smslan Mobilvänlig hemsida  
                    %th.hidden-smslan Låna med betalningsanmärkelse
                    %th.hidden-smslan Minimum ålder
                    %th.hidden-smslan Kostnadsfria lån
                    %th.hidden-smslan Kostnadsfria lån maxbelopp
                    %th.hidden-smslan Låna 5000 kr första gången
                    %th.hidden-smslan Låna 10 000 kr första gången
                    %th.hidden-smslan Högsta lånebelopp för ny låntagare
                    %th.hidden-smslan Ingen UC
                    %th.hidden-smslan SKEF medlem
                    %th.hidden-smslan BankID
                    %th.hidden-smslan Lördagsöppet
                    %th.hidden-smslan Söndagsöppet
                    %th.th-title Ansök här
                    //%th{:colspan => "3"}
                %tbody
                  - @smslan.each do |smsloan|
                    %tr
                      %td.smsloangiver= smsloan.bank.to_s.html_safe
                      %td= number_to_currency(smsloan.min_loanamount, strip_insignificant_zeros: true, locale: :fr)
                      %td= number_to_currency(smsloan.max_loanamount, strip_insignificant_zeros: true, locale: :fr)
                      %td.hidden-smslan= smsloan.max_amount_new_borrower
                      %td.hidden-smslan= smsloan.invoice_fee
                      %td.hidden-smslan= smsloan.application_fee
                      %td.hidden-smslan= smsloan.mobile_friendly_site
                      %td.hidden-smslan= smsloan.low_credit_score
                      %td.hidden-smslan= smsloan.min_age
                      %td.hidden-smslan= smsloan.cost_free_loan
                      %td.hidden-smslan= smsloan.cost_free_loan_amount
                      %td.hidden-smslan= smsloan.new_borrower_5K
                      %td.hidden-smslan= smsloan.new_borrower_10K
                      %td.hidden-smslan= smsloan.max_amount_new_borrower
                      %td.hidden-smslan= smsloan.no_uc
                      %td.hidden-smslan= smsloan.skef_member
                      %td.hidden-smslan= smsloan.bankid
                      %td.hidden-smslan= smsloan.open_on_saturdays
                      %td.hidden-smslan= smsloan.open_on_sundays
                      %td= smsloan.weblink.to_s.html_safe


          .span8.top-buffer
            %hr/
          .span8.scrollhere
          %h1.top-buffer.bottom-buffer.pagetitle.text-center Vanliga frågor

          .span4.bottom-buffer.padhack
            %h2.h2-hulk.top-buffer2 Vad är SMSlån?
            %p.fonts.content-top2 SMSlån, eller snabblån som det även kallas, är lån som särskiljer sig genom att röra sig om mindre belopp och kortare återbetalningstider. Handläggningstiden är även snabbare och är ofta under en minut.
            %h2.h2-hulk.top-buffer2 Vad innebär att en långivare är SKEF-medlem?
            %p.fonts.content-top2
              %a{:href => "http://konsumentkreditforetagen.se/"}
                %span.linkclass SKEF
              (Svenska Konsumentkreditföretagen Ekonomisk Förening) är en branschförening för företag som erbjuder konsumenter korta lån. Föreningen strävar efter att stärka praxis för branschen som gäller god kreditgivningssed för att säkerställa kvalitet och trygghet för konsumenter på Sveriges snabblånemarknad. Genom att en långivare är medlem i SKEF kan konsumenter som vill ta lån vara
              %b säkra på att de vänder sig till en seriös långivare
              som är väletablerad.
            %h2.h2-hulk.top-buffer2 Utför alla långivare kreditupplysning?
            %p.fonts.content-top2 Nej. Endel gör inte det, men de flesta långivare vänder sig till UC eller andra kreditupplysningsföretag för att göra en kreditkontroll om du ansöker om lån hos dem.  Du kan söka efter långivare som inte kräver kreditupplysning genom att klicka i "Smslån utan UC" i söktjänstens reglage.
            %h2.h2-hulk.top-buffer2 Vilka krav finns för få SMSlån?
            %p.fonts.content-top2 Kraven varierar mellan olika långivare. De vanligaste kraven brukar innefatta att du är svenska medborgare, vilket innebär att du ska folkbokförd i Sverige och ha adress här.
            %p.fonts Du ska ha ett privat bankkonto samt ett privat telefonabonnemang.
            %p.fonts Lägsta åldersgräns är 18 år som alla långivare måste hålla sig tll, medan endel långivare har 20 år eller högre som gräns.
            %p.fonts Krav på årsinkomst kan finnas och kreditprövning är ofta ett krav, men vissa långivare kräver inte detta.


          .span4.bottom-buffer.padhack
            %h2.h2-hulk.top-buffer2 När bör man undvika att ta SMSlån?
            %p.fonts.content-top2
              %b Om man anser att risken att man inte kan betala tillbaka lånet i tid är påtaglig
              bör kanske undvika att använda SMSlån. Om du blir försenad med att betala av delbetalningarna får du en påminnelse vilket kan kosta ytterligare. Om du inte kan betala påminnelsen heller så riskerar ärendet att hamna hos inkasso och till sist hos Kronofogden om du inte lyckats göra någon återbetalning tidigare. Då riskerar du att få en
              %b betalningsanmärkning, vilket finns registrerad i tre år.
              En betalningsanmärking kan resultera i att du får svårigheter att ansöka om lån, hyresbostad, telefonabbonemand etc.
            %p.fonts Det man bör vara medveten om är att med SMSlån får man inte bara pengarna snabbt utan återbetalningen också är kort. Kostnaderna ökar för lånet ju längre återbetalningstid man väljer.
            %h2.h2-hulk.top-buffer2 Vilka risker finns med SMSlån?
            %p.fonts.content-top2 Att inte kunna sköta återbetalningen av lånet är en risk. Om du är osäker på att du hinner betala tillbaka lånet i tid så kan du ta en längre återbetalningstid och försöka betala av snabbare.
            %p.fonts Gratislån hjälper då de inte har kostnader som läggs på, men detta gäller endast om du betalar av den inom den avtalade återbetalningstiden.
            %p.fonts Förlängnings- och påminnelseavgifter kan vara dyra så se till att betala av lånen i tid.
            %p.fonts Bra att tänka på är att se efter vad långivarna har för process för indrivning och vad de har skrivit i sina villkor angående förnyelser.
            %h2.h2-hulk.top-buffer2 Var medveten om dina rättigheter som kreditkonsument.
            %p.fonts.content-top2
              Det som kan vara bra för dig som tar lån att känna till är dina rättigheter som kreditkonsument. Dessa finns beskrivna i
              %b konsumentkreditlagen
              som du kan läsa mer om på konsumentverkets
              %a{:href => "http://www.konsumentverket.se/Vart-arbete/Lagar-och-regler/Konsumentlagar/Konsumentkreditlagen/"}
                %span.linkclass hemsida.
            %p.fonts
              T.ex. har du som kreditkonsument
              %b ångerrätt (avbeställningsrätt)
              på lånet inom 14 dagar från tidpunkten då kreditavtalet ingicks enligt konsumentkreditlagen. Dock får du betala ränta för dagarna du har haft tillgång till krediten. Läs mer om ångerrätt
              %a{:href => "http://www.konsumentverket.se/Vart-arbete/Lagar-och-regler/Konsumentlagar/Konsumentkreditlagen/"}
                %span.linkclass här.
            %h2.h2-hulk.top-buffer2 Kan jag låna trots betalningsanmärkelse?
            %p.fonts.content-top2.bottom-buffer Ja. Flera långivare erbjuder kunder att låna utan betalningsanmärkelse. Du kan söka efter dessa långivare genom att klicka i "Låna trots betalningsanmärkelse" i söktjänstens reglage.
      .span3
