.pagefield-superior
  .row
    .span12
      .pagefield-left
        .row
          .span4
            %form{:action => "bankid"}
              %input{:class => "smslanchkbx", :name => "smslanchkbx", :type => "checkbox", :value => "nobankid"}>/
              BankID
              %br/
            %form{:action => "mobilefriendly"}
              %input{:class => "smslanchkbx", :name => "smslanchkbx", :type => "checkbox", :value => "nomobilefriendly"}>/
              Mobilvänlig site
              %br/
            %form{:action => "payment_note"}
              %input{:class => "smslanchkbx", :name => "smslanchkbx", :type => "checkbox", :value => "nopaymentnote"}>/
              Kreditnotering
              %br/
            %form{:action => ""}
              %input{:name => "smslanchkbx", :type => "checkbox", :value => "5Kfirsttime"}>/
              5000 kr lån första gången
              %br/
        .row
          .span4
            %form{:action => ""}
              %input{:name => "smslanchkbx", :type => "checkbox", :value => "10Kfirsttime"}>/
              10 000 kr lån första gången
              %br/
            %form{:action => ""}
              %input{:name => "smslanchkbx", :type => "checkbox", :value => "NoUC"}>/
              Ingen UC
              %br/
            %form{:action => ""}
              %input{:name => "smslanchkbx", :type => "checkbox", :value => "SKEFmember"}>/
              SKEF Medlem
              %br/
            %form{:action => ""}
              %input{:name => "smslanchkbx", :type => "checkbox", :value => "Saturdayopen"}>/
              Lördagsöppet
              %br/


        %h1 SMS lån
        %table
          %thead
            %tr
              %th Låneföretag
              %th Minsta lånesumma
              %th Högsta lånesumma
              %th Ansök här
              %th Kreditnotering
              %th Smsloan payment note
              %th Minsta ålder
              %th Kostnadsfria lån
              %th 5000 kr lån första gången
              %th 10 000 kr lån första gången
              %th Ingen UC
              %th SKEF medlem
              %th BankID
              %th Lördagsöppet
              %th Loantime 14d 2k
              %th Loantime 14d 3k
              %th Loantime 14d 4k
              %th Loantime 14d 5k
              %th Loantime 14d 6k
              %th Loantime 14d 7k
              %th Loantime 14d 8k
              %th Loantime 14d 9k
              %th Loantime 14d 10k
              %th Loantime 14d 15k
              %th Loantime 14d 20k
              %th Loantime 14d 25k
              %th Loantime 14d 30k
              %th Loantime 21d 1k
              %th Loantime 21d 2k
              %th Loantime 21d 3k
              %th Loantime 21d 4k
              %th Loantime 21d 5k
              %th Loantime 21d 6k
              %th Loantime 21d 7k
              %th Loantime 21d 8k
              %th Loantime 21d 9k
              %th Loantime 21d 10k
              %th Loantime 21d 15k
              %th Loantime 21d 20k
              %th Loantime 21d 25k
              %th Loantime 21d 30k
              %th Loantime 30d 1k
              %th Loantime 30d 2k
              %th Loantime 30d 3k
              %th Loantime 30d 4k
              %th Loantime 30d 5k
              %th Loantime 30d 6k
              %th Loantime 30d 7k
              %th Loantime 30d 8k
              %th Loantime 30d 9k
              %th Loantime 30d 10k
              %th Loantime 30d 15k
              %th Loantime 30d 20k
              %th Loantime 30d 25k
              %th Loantime 30d 30k
              %th Loantime 45d 1k
              %th Loantime 45d 2k
              %th Loantime 45d 3k
              %th Loantime 45d 4k
              %th Loantime 45d 5k
              %th Loantime 45d 6k
              %th Loantime 45d 7k
              %th Loantime 45d 8k
              %th Loantime 45d 9k
              %th Loantime 45d 10k
              %th Loantime 45d 15k
              %th Loantime 45d 20k
              %th Loantime 45d 25k
              %th Loantime 45d 30k
              %th Loantime 60d 1k
              %th Loantime 60d 2k
              %th Loantime 60d 3k
              %th Loantime 60d 4k
              %th Loantime 60d 5k
              %th Loantime 60d 6k
              %th Loantime 60d 7k
              %th Loantime 60d 8k
              %th Loantime 60d 9k
              %th Loantime 60d 10k
              %th Loantime 60d 15k
              %th Loantime 60d 20k
              %th Loantime 60d 25k
              %th Loantime 60d 30k
              %th Loantime 90d 1k
              %th Loantime 90d 2k
              %th Loantime 90d 3k
              %th Loantime 90d 4k
              %th Loantime 90d 5k
              %th Loantime 90d 6k
              %th Loantime 90d 7k
              %th Loantime 90d 8k
              %th Loantime 90d 9k
              %th Loantime 90d 10k
              %th Loantime 90d 15k
              %th Loantime 90d 20k
              %th Loantime 90d 25k
              %th Loantime 90d 30k
              %th Loantime 1year 1k
              %th Loantime 1year 2k
              %th Loantime 1year 3k
              %th Loantime 1year 4k
              %th Loantime 1year 5k
              %th Loantime 1year 6k
              %th Loantime 1year 7k
              %th Loantime 1year 8k
              %th Loantime 1year 9k
              %th Loantime 1year 10k
              %th Loantime 1year 15k
              %th Loantime 1year 20k
              %th Loantime 1year 25k
              %th Loantime 1year 30k
              %th Loantime 2year 1k
              %th Loantime 2year 2k
              %th Loantime 2year 3k
              %th Loantime 2year 4k
              %th Loantime 2year 5k
              %th Loantime 2year 6k
              %th Loantime 2year 7k
              %th Loantime 2year 8k
              %th Loantime 2year 9k
              %th Loantime 2year 10k
              %th Loantime 2year 15k
              %th Loantime 2year 20k
              %th Loantime 2year 25k
              %th Loantime 2year 30k
              %th Loantime 3year 1k
              %th Loantime 3year 2k
              %th Loantime 3year 3k
              %th Loantime 3year 4k
              %th Loantime 3year 5k
              %th Loantime 3year 6k
              %th Loantime 3year 7k
              %th Loantime 3year 8k
              %th Loantime 3year 9k
              %th Loantime 3year 10k
              %th Loantime 3year 15k
              %th Loantime 3year 20k
              %th Loantime 3year 25k
              %th Loantime 3year 30k
              %th Loantime 4year 1k
              %th Loantime 4year 2k
              %th Loantime 4year 3k
              %th Loantime 4year 4k
              %th Loantime 4year 5k
              %th Loantime 4year 6k
              %th Loantime 4year 7k
              %th Loantime 4year 8k
              %th Loantime 4year 9k
              %th Loantime 4year 10k
              %th Loantime 4year 15k
              %th Loantime 4year 20k
              %th Loantime 4year 25k
              %th Loantime 4year 30k
              %th Loantime 5year 1k
              %th Loantime 5year 2k
              %th Loantime 5year 3k
              %th Loantime 5year 4k
              %th Loantime 5year 5k
              %th Loantime 5year 6k
              %th Loantime 5year 7k
              %th Loantime 5year 8k
              %th Loantime 5year 9k
              %th Loantime 5year 10k
              %th Loantime 5year 15k
              %th Loantime 5year 20k
              %th Loantime 5year 25k
              %th Loantime 5year 30k
              %th{:colspan => "3"}
          %tbody
            - @smsloans.each do |smsloan|
              %tr
                %td.product= smsloan.bank
                %td.product= smsloan.min_loanamoun
                %td.product= smsloan.max_loanamoun
                %td= smsloan.weblink
                %td.product.hidden-smslan= smsloan.mobile_friendly_site
                %td.product.hidden-smslan= smsloan.smsloan_payment_note
                %td.product.hidden-smslan= smsloan.smsloan_min_age
                %td.product.hidden-smslan= smsloan.cost_free_loan
                %td.product.hidden-smslan= smsloan.new_borrower_5K
                %td.product.hidden-smslan= smsloan.new_borrower_10K
                %td.product.hidden-smslan= smsloan.no_uc
                %td.product.hidden-smslan= smsloan.skef_member
                %td.product.hidden-smslan= smsloan.bankid
                %td.product.hidden-smslan= smsloan.open_on_saturdays
                %td= smsloan.loantime_14d_2k
                %td= smsloan.loantime_14d_3k
                %td= smsloan.loantime_14d_4k
                %td= smsloan.loantime_14d_5k
                %td= smsloan.loantime_14d_6k
                %td= smsloan.loantime_14d_7k
                %td= smsloan.loantime_14d_8k
                %td= smsloan.loantime_14d_9k
                %td= smsloan.loantime_14d_10k
                %td= smsloan.loantime_14d_15k
                %td= smsloan.loantime_14d_20k
                %td= smsloan.loantime_14d_25k
                %td= smsloan.loantime_14d_30k
                %td= smsloan.loantime_21d_1k
                %td= smsloan.loantime_21d_2k
                %td= smsloan.loantime_21d_3k
                %td= smsloan.loantime_21d_4k
                %td= smsloan.loantime_21d_5k
                %td= smsloan.loantime_21d_6k
                %td= smsloan.loantime_21d_7k
                %td= smsloan.loantime_21d_8k
                %td= smsloan.loantime_21d_9k
                %td= smsloan.loantime_21d_10k
                %td= smsloan.loantime_21d_15k
                %td= smsloan.loantime_21d_20k
                %td= smsloan.loantime_21d_25k
                %td= smsloan.loantime_21d_30k
                %td= smsloan.loantime_30d_1k
                %td= smsloan.loantime_30d_2k
                %td= smsloan.loantime_30d_3k
                %td= smsloan.loantime_30d_4k
                %td= smsloan.loantime_30d_5k
                %td= smsloan.loantime_30d_6k
                %td= smsloan.loantime_30d_7k
                %td= smsloan.loantime_30d_8k
                %td= smsloan.loantime_30d_9k
                %td= smsloan.loantime_30d_10k
                %td= smsloan.loantime_30d_15k
                %td= smsloan.loantime_30d_20k
                %td= smsloan.loantime_30d_25k
                %td= smsloan.loantime_30d_30k
                %td= smsloan.loantime_45d_1k
                %td= smsloan.loantime_45d_2k
                %td= smsloan.loantime_45d_3k
                %td= smsloan.loantime_45d_4k
                %td= smsloan.loantime_45d_5k
                %td= smsloan.loantime_45d_6k
                %td= smsloan.loantime_45d_7k
                %td= smsloan.loantime_45d_8k
                %td= smsloan.loantime_45d_9k
                %td= smsloan.loantime_45d_10k
                %td= smsloan.loantime_45d_15k
                %td= smsloan.loantime_45d_20k
                %td= smsloan.loantime_45d_25k
                %td= smsloan.loantime_45d_30k
                %td= smsloan.loantime_60d_1k
                %td= smsloan.loantime_60d_2k
                %td= smsloan.loantime_60d_3k
                %td= smsloan.loantime_60d_4k
                %td= smsloan.loantime_60d_5k
                %td= smsloan.loantime_60d_6k
                %td= smsloan.loantime_60d_7k
                %td= smsloan.loantime_60d_8k
                %td= smsloan.loantime_60d_9k
                %td= smsloan.loantime_60d_10k
                %td= smsloan.loantime_60d_15k
                %td= smsloan.loantime_60d_20k
                %td= smsloan.loantime_60d_25k
                %td= smsloan.loantime_60d_30k
                %td= smsloan.loantime_90d_1k
                %td= smsloan.loantime_90d_2k
                %td= smsloan.loantime_90d_3k
                %td= smsloan.loantime_90d_4k
                %td= smsloan.loantime_90d_5k
                %td= smsloan.loantime_90d_6k
                %td= smsloan.loantime_90d_7k
                %td= smsloan.loantime_90d_8k
                %td= smsloan.loantime_90d_9k
                %td= smsloan.loantime_90d_10k
                %td= smsloan.loantime_90d_15k
                %td= smsloan.loantime_90d_20k
                %td= smsloan.loantime_90d_25k
                %td= smsloan.loantime_90d_30k
                %td= smsloan.loantime_1year_1k
                %td= smsloan.loantime_1year_2k
                %td= smsloan.loantime_1year_3k
                %td= smsloan.loantime_1year_4k
                %td= smsloan.loantime_1year_5k
                %td= smsloan.loantime_1year_6k
                %td= smsloan.loantime_1year_7k
                %td= smsloan.loantime_1year_8k
                %td= smsloan.loantime_1year_9k
                %td= smsloan.loantime_1year_10k
                %td= smsloan.loantime_1year_15k
                %td= smsloan.loantime_1year_20k
                %td= smsloan.loantime_1year_25k
                %td= smsloan.loantime_1year_30k
                %td= smsloan.loantime_2year_1k
                %td= smsloan.loantime_2year_2k
                %td= smsloan.loantime_2year_3k
                %td= smsloan.loantime_2year_4k
                %td= smsloan.loantime_2year_5k
                %td= smsloan.loantime_2year_6k
                %td= smsloan.loantime_2year_7k
                %td= smsloan.loantime_2year_8k
                %td= smsloan.loantime_2year_9k
                %td= smsloan.loantime_2year_10k
                %td= smsloan.loantime_2year_15k
                %td= smsloan.loantime_2year_20k
                %td= smsloan.loantime_2year_25k
                %td= smsloan.loantime_2year_30k
                %td= smsloan.loantime_3year_1k
                %td= smsloan.loantime_3year_2k
                %td= smsloan.loantime_3year_3k
                %td= smsloan.loantime_3year_4k
                %td= smsloan.loantime_3year_5k
                %td= smsloan.loantime_3year_6k
                %td= smsloan.loantime_3year_7k
                %td= smsloan.loantime_3year_8k
                %td= smsloan.loantime_3year_9k
                %td= smsloan.loantime_3year_10k
                %td= smsloan.loantime_3year_15k
                %td= smsloan.loantime_3year_20k
                %td= smsloan.loantime_3year_25k
                %td= smsloan.loantime_3year_30k
                %td= smsloan.loantime_4year_1k
                %td= smsloan.loantime_4year_2k
                %td= smsloan.loantime_4year_3k
                %td= smsloan.loantime_4year_4k
                %td= smsloan.loantime_4year_5k
                %td= smsloan.loantime_4year_6k
                %td= smsloan.loantime_4year_7k
                %td= smsloan.loantime_4year_8k
                %td= smsloan.loantime_4year_9k
                %td= smsloan.loantime_4year_10k
                %td= smsloan.loantime_4year_15k
                %td= smsloan.loantime_4year_20k
                %td= smsloan.loantime_4year_25k
                %td= smsloan.loantime_4year_30k
                %td= smsloan.loantime_5year_1k
                %td= smsloan.loantime_5year_2k
                %td= smsloan.loantime_5year_3k
                %td= smsloan.loantime_5year_4k
                %td= smsloan.loantime_5year_5k
                %td= smsloan.loantime_5year_6k
                %td= smsloan.loantime_5year_7k
                %td= smsloan.loantime_5year_8k
                %td= smsloan.loantime_5year_9k
                %td= smsloan.loantime_5year_10k
                %td= smsloan.loantime_5year_15k
                %td= smsloan.loantime_5year_20k
                %td= smsloan.loantime_5year_25k
                %td= smsloan.loantime_5year_30k
