<div class="pagefield-superior">

<h2>Registrera</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :epost %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :lösenord %>
    <% if @validatable %>
    <em>(<%= @minimum_password_length %> tecken minst)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :lösenord_bekräftelse %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Registrera" %>
  </div>
<% end %>

 <%= render "devise/shared/links" %>
</div>
