
// HOW TO GET A DATA FILTER AND ZEBRA PATTERN
// http://code.tutsplus.com/tutorials/using-jquery-to-manipulate-and-filter-data--net-5351

// HOW TO GET ACTIVERECORD TO WORK WITHIN HTML TABLE
// http://edgeguides.rubyonrails.org/layouts_and_rendering.html

// HOW TO TRANSFORM DECIMALS INTO PERCENTAGES AND REMOVE THE INSIGNIFICANT ZEROES
// http://api.rubyonrails.org/classes/ActionView/Helpers/NumberHelper.html
// www.rubyfleebie.com/strip-insignificant-zeros-from-a-float-in-rails/

%h1 Sparräntor
%table#resultTable{cellpadding: "1", cellspacing: "1"}
  %thead
    %tr
      %th Bank
      %th Lägsta räntan
      %th Högsta räntan
      %th Land
      %th Valuta
      %th Villkor
      %th Uttag
      %th Tidsvillkor
      %th Insättningsgaranti
      %th Ansök   
      // %th Uppdaterad
  %tbody
    - @rates.each do |rate|
      %tr
        %td= rate.bank
        %td= number_to_percentage(rate.min_rate, strip_insignificant_zeros: true)
        %td= number_to_percentage(rate.max_rate, strip_insignificant_zeros: true)
        %td= rate.country
        %td= rate.currency
        %td= rate.conditions
        %td= rate.withdrawal
        %td= rate.account_time_length
        %td= rate.deposit_guarantee
        %td <a href="#" class="btn btn-success btn-small"><i class="icon-white icon-arrow-right"></i> Ansök här</a>
        // %td= rate.updated_at



// = @rates.first.country
// = @rates.first.currency
// = @rates.first.conditions
// = @rates.first.withdrawal
// = @rates.first.account_time_length
// = @rates.first.deposit_guarantee
// = @rates.first.updated_at

// google = rails view get active record sort
// http://stackoverflow.com/questions/742700/rails-active-record-findall-order-issue

// list of methods http://ruby-doc.org/core-2.1.3/Enumerable.html

//= @rates = Rate.find(:all, :order => "min_rate DESC")
//= @rates.sort_by &:min_rate
