%ul.nav.nav-tabs{"data-tabs" => "tabs"}
  %li.active
    %a{:href => "mortgageloans2"} Jämför Bolåneräntor
  %li
    %a{:href => "bolanekalkylator"} Bolånekalkylator

%h1 Låneräntor
%p Söker du ett lån med bra villkor? Nedan listas banker och finansiella institut som erbjuder olika former av lån. Du kan klicka på rubrikerna i listan för att sortera.

%table.content-top#resultTable{cellpadding: "1", cellspacing: "1"}
  %thead
    %tr
      %th Bank
      %th 3 månader
      %th 1 år
      %th 2 år
      %th 3 år
      %th 5 år
      %th 7 år
      %th 10 år
      %th Ansök
  %tbody
    - @mortgageloans.each do |mortgageloan|
      %tr
        %td.bank-padding= mortgageloan.bank
        %td.column-center= number_to_percentage((mortgageloan.fixation_rate_3months), strip_insignificant_zeros: true)
        %td.column-center= number_to_percentage((mortgageloan.fixation_rate_1years), strip_insignificant_zeros: true)
        %td.column-center= number_to_percentage((mortgageloan.fixation_rate_2years), strip_insignificant_zeros: true)
        %td.column-center= number_to_percentage((mortgageloan.fixation_rate_3years), strip_insignificant_zeros: true)
        %td.column-center= number_to_percentage((mortgageloan.fixation_rate_5years), strip_insignificant_zeros: true)
        %td.column-center= number_to_percentage((mortgageloan.fixation_rate_7years), strip_insignificant_zeros: true)
        %td.column-center= number_to_percentage((mortgageloan.fixation_rate_10years), strip_insignificant_zeros: true)
        %td.column-center= mortgageloan.weblink.to_s.html_safe
