<h1>Listing smsloans</h1>

<table>
  <thead>
    <tr>
      <th>Bank</th>
      <th>Min loanamount</th>
      <th>Max loanamount</th>
      <th>Invoice fee</th>
      <th>Application fee</th>
      <th>Effective interest rate</th>
      <th>Mobile friendly site</th>
      <th>Low credit score</th>
      <th>Min age</th>
      <th>Cost free loan</th>
      <th>New borrower 5k</th>
      <th>New borrower 10k</th>
      <th>Max amount new borrower</th>
      <th>No uc</th>
      <th>Skef member</th>
      <th>Bankid</th>
      <th>Open on saturdays</th>
      <th>Open on sundays</th>
      <th>Weblink</th>
      <th>Debtor loantime 14d 5h</th>
      <th>Debtor loantime 14d 1k</th>
      <th>Debtor loantime 14d 2k</th>
      <th>Debtor loantime 14d 3k</th>
      <th>Debtor loantime 14d 4k</th>
      <th>Debtor loantime 14d 5k</th>
      <th>Debtor loantime 14d 6k</th>
      <th>Debtor loantime 14d 7k</th>
      <th>Debtor loantime 14d 8k</th>
      <th>Debtor loantime 14d 9k</th>
      <th>Debtor loantime 14d 10k</th>
      <th>Debtor loantime 14d 15k</th>
      <th>Debtor loantime 14d 20k</th>
      <th>Debtor loantime 14d 25k</th>
      <th>Debtor loantime 14d 30k</th>
      <th>Debtor loantime 21d 5h</th>
      <th>Debtor loantime 21d 1k</th>
      <th>Debtor loantime 21d 2k</th>
      <th>Debtor loantime 21d 3k</th>
      <th>Debtor loantime 21d 4k</th>
      <th>Debtor loantime 21d 5k</th>
      <th>Debtor loantime 21d 6k</th>
      <th>Debtor loantime 21d 7k</th>
      <th>Debtor loantime 21d 8k</th>
      <th>Debtor loantime 21d 9k</th>
      <th>Debtor loantime 21d 10k</th>
      <th>Debtor loantime 21d 15k</th>
      <th>Debtor loantime 21d 20k</th>
      <th>Debtor loantime 21d 25k</th>
      <th>Debtor loantime 21d 30k</th>
      <th>Debtor loantime 30d 5h</th>
      <th>Debtor loantime 30d 1h</th>
      <th>Debtor loantime 30d 1k</th>
      <th>Debtor loantime 30d 2k</th>
      <th>Debtor loantime 30d 3k</th>
      <th>Debtor loantime 30d 4k</th>
      <th>Debtor loantime 30d 5k</th>
      <th>Debtor loantime 30d 6k</th>
      <th>Debtor loantime 30d 7k</th>
      <th>Debtor loantime 30d 8k</th>
      <th>Debtor loantime 30d 9k</th>
      <th>Debtor loantime 30d 10k</th>
      <th>Debtor loantime 30d 15k</th>
      <th>Debtor loantime 30d 20k</th>
      <th>Debtor loantime 30d 25k</th>
      <th>Debtor loantime 30d 30k</th>
      <th>Debtor loantime 45d 5h</th>
      <th>Debtor loantime 45d 1k</th>
      <th>Debtor loantime 45d 2k</th>
      <th>Debtor loantime 45d 3k</th>
      <th>Debtor loantime 45d 4k</th>
      <th>Debtor loantime 45d 5k</th>
      <th>Debtor loantime 45d 6k</th>
      <th>Debtor loantime 45d 7k</th>
      <th>Debtor loantime 45d 8k</th>
      <th>Debtor loantime 45d 9k</th>
      <th>Debtor loantime 45d 10k</th>
      <th>Debtor loantime 45d 15k</th>
      <th>Debtor loantime 45d 20k</th>
      <th>Debtor loantime 45d 25k</th>
      <th>Debtor loantime 45d 30k</th>
      <th>Debtor loantime 60d 5h</th>
      <th>Debtor loantime 60d 1k</th>
      <th>Debtor loantime 60d 2k</th>
      <th>Debtor loantime 60d 3k</th>
      <th>Debtor loantime 60d 4k</th>
      <th>Debtor loantime 60d 5k</th>
      <th>Debtor loantime 60d 6k</th>
      <th>Debtor loantime 60d 7k</th>
      <th>Debtor loantime 60d 8k</th>
      <th>Debtor loantime 60d 9k</th>
      <th>Debtor loantime 60d 10k</th>
      <th>Debtor loantime 60d 15k</th>
      <th>Debtor loantime 60d 20k</th>
      <th>Debtor loantime 60d 25k</th>
      <th>Debtor loantime 60d 30k</th>
      <th>Debtor loantime 90d 5h</th>
      <th>Debtor loantime 90d 1k</th>
      <th>Debtor loantime 90d 2k</th>
      <th>Debtor loantime 90d 3k</th>
      <th>Debtor loantime 90d 4k</th>
      <th>Debtor loantime 90d 5k</th>
      <th>Debtor loantime 90d 6k</th>
      <th>Debtor loantime 90d 7k</th>
      <th>Debtor loantime 90d 8k</th>
      <th>Debtor loantime 90d 9k</th>
      <th>Debtor loantime 90d 10k</th>
      <th>Debtor loantime 90d 15k</th>
      <th>Debtor loantime 90d 20k</th>
      <th>Debtor loantime 90d 25k</th>
      <th>Debtor loantime 90d 30k</th>
      <th>Debtor loantime 1year 5h</th>
      <th>Debtor loantime 1year 1k</th>
      <th>Debtor loantime 1year 2k</th>
      <th>Debtor loantime 1year 3k</th>
      <th>Debtor loantime 1year 4k</th>
      <th>Debtor loantime 1year 5k</th>
      <th>Debtor loantime 1year 6k</th>
      <th>Debtor loantime 1year 7k</th>
      <th>Debtor loantime 1year 8k</th>
      <th>Debtor loantime 1year 9k</th>
      <th>Debtor loantime 1year 10k</th>
      <th>Debtor loantime 1year 15k</th>
      <th>Debtor loantime 1year 20k</th>
      <th>Debtor loantime 1year 25k</th>
      <th>Debtor loantime 1year 30k</th>
      <th>Debtor loantime 2year 5h</th>
      <th>Debtor loantime 2year 1k</th>
      <th>Debtor loantime 2year 2k</th>
      <th>Debtor loantime 2year 3k</th>
      <th>Debtor loantime 2year 4k</th>
      <th>Debtor loantime 2year 5k</th>
      <th>Debtor loantime 2year 6k</th>
      <th>Debtor loantime 2year 7k</th>
      <th>Debtor loantime 2year 8k</th>
      <th>Debtor loantime 2year 9k</th>
      <th>Debtor loantime 2year 10k</th>
      <th>Debtor loantime 2year 15k</th>
      <th>Debtor loantime 2year 20k</th>
      <th>Debtor loantime 2year 25k</th>
      <th>Debtor loantime 2year 30k</th>
      <th>Debtor loantime 3year 5h</th>
      <th>Debtor loantime 3year 1k</th>
      <th>Debtor loantime 3year 2k</th>
      <th>Debtor loantime 3year 3k</th>
      <th>Debtor loantime 3year 4k</th>
      <th>Debtor loantime 3year 5k</th>
      <th>Debtor loantime 3year 6k</th>
      <th>Debtor loantime 3year 7k</th>
      <th>Debtor loantime 3year 8k</th>
      <th>Debtor loantime 3year 9k</th>
      <th>Debtor loantime 3year 10k</th>
      <th>Debtor loantime 3year 15k</th>
      <th>Debtor loantime 3year 20k</th>
      <th>Debtor loantime 3year 25k</th>
      <th>Debtor loantime 3year 30k</th>
      <th>Debtor loantime 4year 5h</th>
      <th>Debtor loantime 4year 1k</th>
      <th>Debtor loantime 4year 2k</th>
      <th>Debtor loantime 4year 3k</th>
      <th>Debtor loantime 4year 4k</th>
      <th>Debtor loantime 4year 5k</th>
      <th>Debtor loantime 4year 6k</th>
      <th>Debtor loantime 4year 7k</th>
      <th>Debtor loantime 4year 8k</th>
      <th>Debtor loantime 4year 9k</th>
      <th>Debtor loantime 4year 10k</th>
      <th>Debtor loantime 4year 15k</th>
      <th>Debtor loantime 4year 20k</th>
      <th>Debtor loantime 4year 25k</th>
      <th>Debtor loantime 4year 30k</th>
      <th>Debtor loantime 5year 5h</th>
      <th>Debtor loantime 5year 1k</th>
      <th>Debtor loantime 5year 2k</th>
      <th>Debtor loantime 5year 3k</th>
      <th>Debtor loantime 5year 4k</th>
      <th>Debtor loantime 5year 5k</th>
      <th>Debtor loantime 5year 6k</th>
      <th>Debtor loantime 5year 7k</th>
      <th>Debtor loantime 5year 8k</th>
      <th>Debtor loantime 5year 9k</th>
      <th>Debtor loantime 5year 10k</th>
      <th>Debtor loantime 5year 15k</th>
      <th>Debtor loantime 5year 20k</th>
      <th>Debtor loantime 5year 25k</th>
      <th>Debtor loantime 5year 30k</th>
      <th>Newdebtor loantime 14d 5h</th>
      <th>Newdebtor loantime 14d 1k</th>
      <th>Newdebtor loantime 14d 2k</th>
      <th>Newdebtor loantime 14d 3k</th>
      <th>Newdebtor loantime 14d 4k</th>
      <th>Newdebtor loantime 14d 5k</th>
      <th>Newdebtor loantime 14d 6k</th>
      <th>Newdebtor loantime 14d 7k</th>
      <th>Newdebtor loantime 14d 8k</th>
      <th>Newdebtor loantime 14d 9k</th>
      <th>Newdebtor loantime 14d 10k</th>
      <th>Newdebtor loantime 14d 15k</th>
      <th>Newdebtor loantime 14d 20k</th>
      <th>Newdebtor loantime 14d 25k</th>
      <th>Newdebtor loantime 14d 30k</th>
      <th>Newdebtor loantime 21d 5h</th>
      <th>Newdebtor loantime 21d 1k</th>
      <th>Newdebtor loantime 21d 2k</th>
      <th>Newdebtor loantime 21d 3k</th>
      <th>Newdebtor loantime 21d 4k</th>
      <th>Newdebtor loantime 21d 5k</th>
      <th>Newdebtor loantime 21d 6k</th>
      <th>Newdebtor loantime 21d 7k</th>
      <th>Newdebtor loantime 21d 8k</th>
      <th>Newdebtor loantime 21d 9k</th>
      <th>Newdebtor loantime 21d 10k</th>
      <th>Newdebtor loantime 21d 15k</th>
      <th>Newdebtor loantime 21d 20k</th>
      <th>Newdebtor loantime 21d 25k</th>
      <th>Newdebtor loantime 21d 30k</th>
      <th>Newdebtor loantime 30d 5h</th>
      <th>Newdebtor loantime 30d 1h</th>
      <th>Newdebtor loantime 30d 1k</th>
      <th>Newdebtor loantime 30d 2k</th>
      <th>Newdebtor loantime 30d 3k</th>
      <th>Newdebtor loantime 30d 4k</th>
      <th>Newdebtor loantime 30d 5k</th>
      <th>Newdebtor loantime 30d 6k</th>
      <th>Newdebtor loantime 30d 7k</th>
      <th>Newdebtor loantime 30d 8k</th>
      <th>Newdebtor loantime 30d 9k</th>
      <th>Newdebtor loantime 30d 10k</th>
      <th>Newdebtor loantime 30d 15k</th>
      <th>Newdebtor loantime 30d 20k</th>
      <th>Newdebtor loantime 30d 25k</th>
      <th>Newdebtor loantime 30d 30k</th>
      <th>Newdebtor loantime 45d 5h</th>
      <th>Newdebtor loantime 45d 1k</th>
      <th>Newdebtor loantime 45d 2k</th>
      <th>Newdebtor loantime 45d 3k</th>
      <th>Newdebtor loantime 45d 4k</th>
      <th>Newdebtor loantime 45d 5k</th>
      <th>Newdebtor loantime 45d 6k</th>
      <th>Newdebtor loantime 45d 7k</th>
      <th>Newdebtor loantime 45d 8k</th>
      <th>Newdebtor loantime 45d 9k</th>
      <th>Newdebtor loantime 45d 10k</th>
      <th>Newdebtor loantime 45d 15k</th>
      <th>Newdebtor loantime 45d 20k</th>
      <th>Newdebtor loantime 45d 25k</th>
      <th>Newdebtor loantime 45d 30k</th>
      <th>Newdebtor loantime 60d 5h</th>
      <th>Newdebtor loantime 60d 1k</th>
      <th>Newdebtor loantime 60d 2k</th>
      <th>Newdebtor loantime 60d 3k</th>
      <th>Newdebtor loantime 60d 4k</th>
      <th>Newdebtor loantime 60d 5k</th>
      <th>Newdebtor loantime 60d 6k</th>
      <th>Newdebtor loantime 60d 7k</th>
      <th>Newdebtor loantime 60d 8k</th>
      <th>Newdebtor loantime 60d 9k</th>
      <th>Newdebtor loantime 60d 10k</th>
      <th>Newdebtor loantime 60d 15k</th>
      <th>Newdebtor loantime 60d 20k</th>
      <th>Newdebtor loantime 60d 25k</th>
      <th>Newdebtor loantime 60d 30k</th>
      <th>Newdebtor loantime 90d 5h</th>
      <th>Newdebtor loantime 90d 1k</th>
      <th>Newdebtor loantime 90d 2k</th>
      <th>Newdebtor loantime 90d 3k</th>
      <th>Newdebtor loantime 90d 4k</th>
      <th>Newdebtor loantime 90d 5k</th>
      <th>Newdebtor loantime 90d 6k</th>
      <th>Newdebtor loantime 90d 7k</th>
      <th>Newdebtor loantime 90d 8k</th>
      <th>Newdebtor loantime 90d 9k</th>
      <th>Newdebtor loantime 90d 10k</th>
      <th>Newdebtor loantime 90d 15k</th>
      <th>Newdebtor loantime 90d 20k</th>
      <th>Newdebtor loantime 90d 25k</th>
      <th>Newdebtor loantime 90d 30k</th>
      <th>Newdebtor loantime 1year 5h</th>
      <th>Newdebtor loantime 1year 1k</th>
      <th>Newdebtor loantime 1year 2k</th>
      <th>Newdebtor loantime 1year 3k</th>
      <th>Newdebtor loantime 1year 4k</th>
      <th>Newdebtor loantime 1year 5k</th>
      <th>Newdebtor loantime 1year 6k</th>
      <th>Newdebtor loantime 1year 7k</th>
      <th>Newdebtor loantime 1year 8k</th>
      <th>Newdebtor loantime 1year 9k</th>
      <th>Newdebtor loantime 1year 10k</th>
      <th>Newdebtor loantime 1year 15k</th>
      <th>Newdebtor loantime 1year 20k</th>
      <th>Newdebtor loantime 1year 25k</th>
      <th>Newdebtor loantime 1year 30k</th>
      <th>Newdebtor loantime 2year 5h</th>
      <th>Newdebtor loantime 2year 1k</th>
      <th>Newdebtor loantime 2year 2k</th>
      <th>Newdebtor loantime 2year 3k</th>
      <th>Newdebtor loantime 2year 4k</th>
      <th>Newdebtor loantime 2year 5k</th>
      <th>Newdebtor loantime 2year 6k</th>
      <th>Newdebtor loantime 2year 7k</th>
      <th>Newdebtor loantime 2year 8k</th>
      <th>Newdebtor loantime 2year 9k</th>
      <th>Newdebtor loantime 2year 10k</th>
      <th>Newdebtor loantime 2year 15k</th>
      <th>Newdebtor loantime 2year 20k</th>
      <th>Newdebtor loantime 2year 25k</th>
      <th>Newdebtor loantime 2year 30k</th>
      <th>Newdebtor loantime 3year 5h</th>
      <th>Newdebtor loantime 3year 1k</th>
      <th>Newdebtor loantime 3year 2k</th>
      <th>Newdebtor loantime 3year 3k</th>
      <th>Newdebtor loantime 3year 4k</th>
      <th>Newdebtor loantime 3year 5k</th>
      <th>Newdebtor loantime 3year 6k</th>
      <th>Newdebtor loantime 3year 7k</th>
      <th>Newdebtor loantime 3year 8k</th>
      <th>Newdebtor loantime 3year 9k</th>
      <th>Newdebtor loantime 3year 10k</th>
      <th>Newdebtor loantime 3year 15k</th>
      <th>Newdebtor loantime 3year 20k</th>
      <th>Newdebtor loantime 3year 25k</th>
      <th>Newdebtor loantime 3year 30k</th>
      <th>Newdebtor loantime 4year 5h</th>
      <th>Newdebtor loantime 4year 1k</th>
      <th>Newdebtor loantime 4year 2k</th>
      <th>Newdebtor loantime 4year 3k</th>
      <th>Newdebtor loantime 4year 4k</th>
      <th>Newdebtor loantime 4year 5k</th>
      <th>Newdebtor loantime 4year 6k</th>
      <th>Newdebtor loantime 4year 7k</th>
      <th>Newdebtor loantime 4year 8k</th>
      <th>Newdebtor loantime 4year 9k</th>
      <th>Newdebtor loantime 4year 10k</th>
      <th>Newdebtor loantime 4year 15k</th>
      <th>Newdebtor loantime 4year 20k</th>
      <th>Newdebtor loantime 4year 25k</th>
      <th>Newdebtor loantime 4year 30k</th>
      <th>Newdebtor loantime 5year 5h</th>
      <th>Newdebtor loantime 5year 1k</th>
      <th>Newdebtor loantime 5year 2k</th>
      <th>Newdebtor loantime 5year 3k</th>
      <th>Newdebtor loantime 5year 4k</th>
      <th>Newdebtor loantime 5year 5k</th>
      <th>Newdebtor loantime 5year 6k</th>
      <th>Newdebtor loantime 5year 7k</th>
      <th>Newdebtor loantime 5year 8k</th>
      <th>Newdebtor loantime 5year 9k</th>
      <th>Newdebtor loantime 5year 10k</th>
      <th>Newdebtor loantime 5year 15k</th>
      <th>Newdebtor loantime 5year 20k</th>
      <th>Newdebtor loantime 5year 25k</th>
      <th>Newdebtor loantime 5year 30k</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @smsloans.each do |smsloan| %>
      <tr>
        <td><%= smsloan.bank %></td>
        <td><%= smsloan.min_loanamount %></td>
        <td><%= smsloan.max_loanamount %></td>
        <td><%= smsloan.invoice_fee %></td>
        <td><%= smsloan.application_fee %></td>
        <td><%= smsloan.effective_interest_rate %></td>
        <td><%= smsloan.mobile_friendly_site %></td>
        <td><%= smsloan.low_credit_score %></td>
        <td><%= smsloan.min_age %></td>
        <td><%= smsloan.cost_free_loan %></td>
        <td><%= smsloan.new_borrower_5K %></td>
        <td><%= smsloan.new_borrower_10K %></td>
        <td><%= smsloan.max_amount_new_borrower %></td>
        <td><%= smsloan.no_uc %></td>
        <td><%= smsloan.skef_member %></td>
        <td><%= smsloan.bankid %></td>
        <td><%= smsloan.open_on_saturdays %></td>
        <td><%= smsloan.open_on_sundays %></td>
        <td><%= smsloan.weblink %></td>
        <td><%= smsloan.debtor_loantime_14d_5h %></td>
        <td><%= smsloan.debtor_loantime_14d_1k %></td>
        <td><%= smsloan.debtor_loantime_14d_2k %></td>
        <td><%= smsloan.debtor_loantime_14d_3k %></td>
        <td><%= smsloan.debtor_loantime_14d_4k %></td>
        <td><%= smsloan.debtor_loantime_14d_5k %></td>
        <td><%= smsloan.debtor_loantime_14d_6k %></td>
        <td><%= smsloan.debtor_loantime_14d_7k %></td>
        <td><%= smsloan.debtor_loantime_14d_8k %></td>
        <td><%= smsloan.debtor_loantime_14d_9k %></td>
        <td><%= smsloan.debtor_loantime_14d_10k %></td>
        <td><%= smsloan.debtor_loantime_14d_15k %></td>
        <td><%= smsloan.debtor_loantime_14d_20k %></td>
        <td><%= smsloan.debtor_loantime_14d_25k %></td>
        <td><%= smsloan.debtor_loantime_14d_30k %></td>
        <td><%= smsloan.debtor_loantime_21d_5h %></td>
        <td><%= smsloan.debtor_loantime_21d_1k %></td>
        <td><%= smsloan.debtor_loantime_21d_2k %></td>
        <td><%= smsloan.debtor_loantime_21d_3k %></td>
        <td><%= smsloan.debtor_loantime_21d_4k %></td>
        <td><%= smsloan.debtor_loantime_21d_5k %></td>
        <td><%= smsloan.debtor_loantime_21d_6k %></td>
        <td><%= smsloan.debtor_loantime_21d_7k %></td>
        <td><%= smsloan.debtor_loantime_21d_8k %></td>
        <td><%= smsloan.debtor_loantime_21d_9k %></td>
        <td><%= smsloan.debtor_loantime_21d_10k %></td>
        <td><%= smsloan.debtor_loantime_21d_15k %></td>
        <td><%= smsloan.debtor_loantime_21d_20k %></td>
        <td><%= smsloan.debtor_loantime_21d_25k %></td>
        <td><%= smsloan.debtor_loantime_21d_30k %></td>
        <td><%= smsloan.debtor_loantime_30d_5h %></td>
        <td><%= smsloan.debtor_loantime_30d_1h %></td>
        <td><%= smsloan.debtor_loantime_30d_1k %></td>
        <td><%= smsloan.debtor_loantime_30d_2k %></td>
        <td><%= smsloan.debtor_loantime_30d_3k %></td>
        <td><%= smsloan.debtor_loantime_30d_4k %></td>
        <td><%= smsloan.debtor_loantime_30d_5k %></td>
        <td><%= smsloan.debtor_loantime_30d_6k %></td>
        <td><%= smsloan.debtor_loantime_30d_7k %></td>
        <td><%= smsloan.debtor_loantime_30d_8k %></td>
        <td><%= smsloan.debtor_loantime_30d_9k %></td>
        <td><%= smsloan.debtor_loantime_30d_10k %></td>
        <td><%= smsloan.debtor_loantime_30d_15k %></td>
        <td><%= smsloan.debtor_loantime_30d_20k %></td>
        <td><%= smsloan.debtor_loantime_30d_25k %></td>
        <td><%= smsloan.debtor_loantime_30d_30k %></td>
        <td><%= smsloan.debtor_loantime_45d_5h %></td>
        <td><%= smsloan.debtor_loantime_45d_1k %></td>
        <td><%= smsloan.debtor_loantime_45d_2k %></td>
        <td><%= smsloan.debtor_loantime_45d_3k %></td>
        <td><%= smsloan.debtor_loantime_45d_4k %></td>
        <td><%= smsloan.debtor_loantime_45d_5k %></td>
        <td><%= smsloan.debtor_loantime_45d_6k %></td>
        <td><%= smsloan.debtor_loantime_45d_7k %></td>
        <td><%= smsloan.debtor_loantime_45d_8k %></td>
        <td><%= smsloan.debtor_loantime_45d_9k %></td>
        <td><%= smsloan.debtor_loantime_45d_10k %></td>
        <td><%= smsloan.debtor_loantime_45d_15k %></td>
        <td><%= smsloan.debtor_loantime_45d_20k %></td>
        <td><%= smsloan.debtor_loantime_45d_25k %></td>
        <td><%= smsloan.debtor_loantime_45d_30k %></td>
        <td><%= smsloan.debtor_loantime_60d_5h %></td>
        <td><%= smsloan.debtor_loantime_60d_1k %></td>
        <td><%= smsloan.debtor_loantime_60d_2k %></td>
        <td><%= smsloan.debtor_loantime_60d_3k %></td>
        <td><%= smsloan.debtor_loantime_60d_4k %></td>
        <td><%= smsloan.debtor_loantime_60d_5k %></td>
        <td><%= smsloan.debtor_loantime_60d_6k %></td>
        <td><%= smsloan.debtor_loantime_60d_7k %></td>
        <td><%= smsloan.debtor_loantime_60d_8k %></td>
        <td><%= smsloan.debtor_loantime_60d_9k %></td>
        <td><%= smsloan.debtor_loantime_60d_10k %></td>
        <td><%= smsloan.debtor_loantime_60d_15k %></td>
        <td><%= smsloan.debtor_loantime_60d_20k %></td>
        <td><%= smsloan.debtor_loantime_60d_25k %></td>
        <td><%= smsloan.debtor_loantime_60d_30k %></td>
        <td><%= smsloan.debtor_loantime_90d_5h %></td>
        <td><%= smsloan.debtor_loantime_90d_1k %></td>
        <td><%= smsloan.debtor_loantime_90d_2k %></td>
        <td><%= smsloan.debtor_loantime_90d_3k %></td>
        <td><%= smsloan.debtor_loantime_90d_4k %></td>
        <td><%= smsloan.debtor_loantime_90d_5k %></td>
        <td><%= smsloan.debtor_loantime_90d_6k %></td>
        <td><%= smsloan.debtor_loantime_90d_7k %></td>
        <td><%= smsloan.debtor_loantime_90d_8k %></td>
        <td><%= smsloan.debtor_loantime_90d_9k %></td>
        <td><%= smsloan.debtor_loantime_90d_10k %></td>
        <td><%= smsloan.debtor_loantime_90d_15k %></td>
        <td><%= smsloan.debtor_loantime_90d_20k %></td>
        <td><%= smsloan.debtor_loantime_90d_25k %></td>
        <td><%= smsloan.debtor_loantime_90d_30k %></td>
        <td><%= smsloan.debtor_loantime_1year_5h %></td>
        <td><%= smsloan.debtor_loantime_1year_1k %></td>
        <td><%= smsloan.debtor_loantime_1year_2k %></td>
        <td><%= smsloan.debtor_loantime_1year_3k %></td>
        <td><%= smsloan.debtor_loantime_1year_4k %></td>
        <td><%= smsloan.debtor_loantime_1year_5k %></td>
        <td><%= smsloan.debtor_loantime_1year_6k %></td>
        <td><%= smsloan.debtor_loantime_1year_7k %></td>
        <td><%= smsloan.debtor_loantime_1year_8k %></td>
        <td><%= smsloan.debtor_loantime_1year_9k %></td>
        <td><%= smsloan.debtor_loantime_1year_10k %></td>
        <td><%= smsloan.debtor_loantime_1year_15k %></td>
        <td><%= smsloan.debtor_loantime_1year_20k %></td>
        <td><%= smsloan.debtor_loantime_1year_25k %></td>
        <td><%= smsloan.debtor_loantime_1year_30k %></td>
        <td><%= smsloan.debtor_loantime_2year_5h %></td>
        <td><%= smsloan.debtor_loantime_2year_1k %></td>
        <td><%= smsloan.debtor_loantime_2year_2k %></td>
        <td><%= smsloan.debtor_loantime_2year_3k %></td>
        <td><%= smsloan.debtor_loantime_2year_4k %></td>
        <td><%= smsloan.debtor_loantime_2year_5k %></td>
        <td><%= smsloan.debtor_loantime_2year_6k %></td>
        <td><%= smsloan.debtor_loantime_2year_7k %></td>
        <td><%= smsloan.debtor_loantime_2year_8k %></td>
        <td><%= smsloan.debtor_loantime_2year_9k %></td>
        <td><%= smsloan.debtor_loantime_2year_10k %></td>
        <td><%= smsloan.debtor_loantime_2year_15k %></td>
        <td><%= smsloan.debtor_loantime_2year_20k %></td>
        <td><%= smsloan.debtor_loantime_2year_25k %></td>
        <td><%= smsloan.debtor_loantime_2year_30k %></td>
        <td><%= smsloan.debtor_loantime_3year_5h %></td>
        <td><%= smsloan.debtor_loantime_3year_1k %></td>
        <td><%= smsloan.debtor_loantime_3year_2k %></td>
        <td><%= smsloan.debtor_loantime_3year_3k %></td>
        <td><%= smsloan.debtor_loantime_3year_4k %></td>
        <td><%= smsloan.debtor_loantime_3year_5k %></td>
        <td><%= smsloan.debtor_loantime_3year_6k %></td>
        <td><%= smsloan.debtor_loantime_3year_7k %></td>
        <td><%= smsloan.debtor_loantime_3year_8k %></td>
        <td><%= smsloan.debtor_loantime_3year_9k %></td>
        <td><%= smsloan.debtor_loantime_3year_10k %></td>
        <td><%= smsloan.debtor_loantime_3year_15k %></td>
        <td><%= smsloan.debtor_loantime_3year_20k %></td>
        <td><%= smsloan.debtor_loantime_3year_25k %></td>
        <td><%= smsloan.debtor_loantime_3year_30k %></td>
        <td><%= smsloan.debtor_loantime_4year_5h %></td>
        <td><%= smsloan.debtor_loantime_4year_1k %></td>
        <td><%= smsloan.debtor_loantime_4year_2k %></td>
        <td><%= smsloan.debtor_loantime_4year_3k %></td>
        <td><%= smsloan.debtor_loantime_4year_4k %></td>
        <td><%= smsloan.debtor_loantime_4year_5k %></td>
        <td><%= smsloan.debtor_loantime_4year_6k %></td>
        <td><%= smsloan.debtor_loantime_4year_7k %></td>
        <td><%= smsloan.debtor_loantime_4year_8k %></td>
        <td><%= smsloan.debtor_loantime_4year_9k %></td>
        <td><%= smsloan.debtor_loantime_4year_10k %></td>
        <td><%= smsloan.debtor_loantime_4year_15k %></td>
        <td><%= smsloan.debtor_loantime_4year_20k %></td>
        <td><%= smsloan.debtor_loantime_4year_25k %></td>
        <td><%= smsloan.debtor_loantime_4year_30k %></td>
        <td><%= smsloan.debtor_loantime_5year_5h %></td>
        <td><%= smsloan.debtor_loantime_5year_1k %></td>
        <td><%= smsloan.debtor_loantime_5year_2k %></td>
        <td><%= smsloan.debtor_loantime_5year_3k %></td>
        <td><%= smsloan.debtor_loantime_5year_4k %></td>
        <td><%= smsloan.debtor_loantime_5year_5k %></td>
        <td><%= smsloan.debtor_loantime_5year_6k %></td>
        <td><%= smsloan.debtor_loantime_5year_7k %></td>
        <td><%= smsloan.debtor_loantime_5year_8k %></td>
        <td><%= smsloan.debtor_loantime_5year_9k %></td>
        <td><%= smsloan.debtor_loantime_5year_10k %></td>
        <td><%= smsloan.debtor_loantime_5year_15k %></td>
        <td><%= smsloan.debtor_loantime_5year_20k %></td>
        <td><%= smsloan.debtor_loantime_5year_25k %></td>
        <td><%= smsloan.debtor_loantime_5year_30k %></td>
        <td><%= smsloan.newdebtor_loantime_14d_5h %></td>
        <td><%= smsloan.newdebtor_loantime_14d_1k %></td>
        <td><%= smsloan.newdebtor_loantime_14d_2k %></td>
        <td><%= smsloan.newdebtor_loantime_14d_3k %></td>
        <td><%= smsloan.newdebtor_loantime_14d_4k %></td>
        <td><%= smsloan.newdebtor_loantime_14d_5k %></td>
        <td><%= smsloan.newdebtor_loantime_14d_6k %></td>
        <td><%= smsloan.newdebtor_loantime_14d_7k %></td>
        <td><%= smsloan.newdebtor_loantime_14d_8k %></td>
        <td><%= smsloan.newdebtor_loantime_14d_9k %></td>
        <td><%= smsloan.newdebtor_loantime_14d_10k %></td>
        <td><%= smsloan.newdebtor_loantime_14d_15k %></td>
        <td><%= smsloan.newdebtor_loantime_14d_20k %></td>
        <td><%= smsloan.newdebtor_loantime_14d_25k %></td>
        <td><%= smsloan.newdebtor_loantime_14d_30k %></td>
        <td><%= smsloan.newdebtor_loantime_21d_5h %></td>
        <td><%= smsloan.newdebtor_loantime_21d_1k %></td>
        <td><%= smsloan.newdebtor_loantime_21d_2k %></td>
        <td><%= smsloan.newdebtor_loantime_21d_3k %></td>
        <td><%= smsloan.newdebtor_loantime_21d_4k %></td>
        <td><%= smsloan.newdebtor_loantime_21d_5k %></td>
        <td><%= smsloan.newdebtor_loantime_21d_6k %></td>
        <td><%= smsloan.newdebtor_loantime_21d_7k %></td>
        <td><%= smsloan.newdebtor_loantime_21d_8k %></td>
        <td><%= smsloan.newdebtor_loantime_21d_9k %></td>
        <td><%= smsloan.newdebtor_loantime_21d_10k %></td>
        <td><%= smsloan.newdebtor_loantime_21d_15k %></td>
        <td><%= smsloan.newdebtor_loantime_21d_20k %></td>
        <td><%= smsloan.newdebtor_loantime_21d_25k %></td>
        <td><%= smsloan.newdebtor_loantime_21d_30k %></td>
        <td><%= smsloan.newdebtor_loantime_30d_5h %></td>
        <td><%= smsloan.newdebtor_loantime_30d_1h %></td>
        <td><%= smsloan.newdebtor_loantime_30d_1k %></td>
        <td><%= smsloan.newdebtor_loantime_30d_2k %></td>
        <td><%= smsloan.newdebtor_loantime_30d_3k %></td>
        <td><%= smsloan.newdebtor_loantime_30d_4k %></td>
        <td><%= smsloan.newdebtor_loantime_30d_5k %></td>
        <td><%= smsloan.newdebtor_loantime_30d_6k %></td>
        <td><%= smsloan.newdebtor_loantime_30d_7k %></td>
        <td><%= smsloan.newdebtor_loantime_30d_8k %></td>
        <td><%= smsloan.newdebtor_loantime_30d_9k %></td>
        <td><%= smsloan.newdebtor_loantime_30d_10k %></td>
        <td><%= smsloan.newdebtor_loantime_30d_15k %></td>
        <td><%= smsloan.newdebtor_loantime_30d_20k %></td>
        <td><%= smsloan.newdebtor_loantime_30d_25k %></td>
        <td><%= smsloan.newdebtor_loantime_30d_30k %></td>
        <td><%= smsloan.newdebtor_loantime_45d_5h %></td>
        <td><%= smsloan.newdebtor_loantime_45d_1k %></td>
        <td><%= smsloan.newdebtor_loantime_45d_2k %></td>
        <td><%= smsloan.newdebtor_loantime_45d_3k %></td>
        <td><%= smsloan.newdebtor_loantime_45d_4k %></td>
        <td><%= smsloan.newdebtor_loantime_45d_5k %></td>
        <td><%= smsloan.newdebtor_loantime_45d_6k %></td>
        <td><%= smsloan.newdebtor_loantime_45d_7k %></td>
        <td><%= smsloan.newdebtor_loantime_45d_8k %></td>
        <td><%= smsloan.newdebtor_loantime_45d_9k %></td>
        <td><%= smsloan.newdebtor_loantime_45d_10k %></td>
        <td><%= smsloan.newdebtor_loantime_45d_15k %></td>
        <td><%= smsloan.newdebtor_loantime_45d_20k %></td>
        <td><%= smsloan.newdebtor_loantime_45d_25k %></td>
        <td><%= smsloan.newdebtor_loantime_45d_30k %></td>
        <td><%= smsloan.newdebtor_loantime_60d_5h %></td>
        <td><%= smsloan.newdebtor_loantime_60d_1k %></td>
        <td><%= smsloan.newdebtor_loantime_60d_2k %></td>
        <td><%= smsloan.newdebtor_loantime_60d_3k %></td>
        <td><%= smsloan.newdebtor_loantime_60d_4k %></td>
        <td><%= smsloan.newdebtor_loantime_60d_5k %></td>
        <td><%= smsloan.newdebtor_loantime_60d_6k %></td>
        <td><%= smsloan.newdebtor_loantime_60d_7k %></td>
        <td><%= smsloan.newdebtor_loantime_60d_8k %></td>
        <td><%= smsloan.newdebtor_loantime_60d_9k %></td>
        <td><%= smsloan.newdebtor_loantime_60d_10k %></td>
        <td><%= smsloan.newdebtor_loantime_60d_15k %></td>
        <td><%= smsloan.newdebtor_loantime_60d_20k %></td>
        <td><%= smsloan.newdebtor_loantime_60d_25k %></td>
        <td><%= smsloan.newdebtor_loantime_60d_30k %></td>
        <td><%= smsloan.newdebtor_loantime_90d_5h %></td>
        <td><%= smsloan.newdebtor_loantime_90d_1k %></td>
        <td><%= smsloan.newdebtor_loantime_90d_2k %></td>
        <td><%= smsloan.newdebtor_loantime_90d_3k %></td>
        <td><%= smsloan.newdebtor_loantime_90d_4k %></td>
        <td><%= smsloan.newdebtor_loantime_90d_5k %></td>
        <td><%= smsloan.newdebtor_loantime_90d_6k %></td>
        <td><%= smsloan.newdebtor_loantime_90d_7k %></td>
        <td><%= smsloan.newdebtor_loantime_90d_8k %></td>
        <td><%= smsloan.newdebtor_loantime_90d_9k %></td>
        <td><%= smsloan.newdebtor_loantime_90d_10k %></td>
        <td><%= smsloan.newdebtor_loantime_90d_15k %></td>
        <td><%= smsloan.newdebtor_loantime_90d_20k %></td>
        <td><%= smsloan.newdebtor_loantime_90d_25k %></td>
        <td><%= smsloan.newdebtor_loantime_90d_30k %></td>
        <td><%= smsloan.newdebtor_loantime_1year_5h %></td>
        <td><%= smsloan.newdebtor_loantime_1year_1k %></td>
        <td><%= smsloan.newdebtor_loantime_1year_2k %></td>
        <td><%= smsloan.newdebtor_loantime_1year_3k %></td>
        <td><%= smsloan.newdebtor_loantime_1year_4k %></td>
        <td><%= smsloan.newdebtor_loantime_1year_5k %></td>
        <td><%= smsloan.newdebtor_loantime_1year_6k %></td>
        <td><%= smsloan.newdebtor_loantime_1year_7k %></td>
        <td><%= smsloan.newdebtor_loantime_1year_8k %></td>
        <td><%= smsloan.newdebtor_loantime_1year_9k %></td>
        <td><%= smsloan.newdebtor_loantime_1year_10k %></td>
        <td><%= smsloan.newdebtor_loantime_1year_15k %></td>
        <td><%= smsloan.newdebtor_loantime_1year_20k %></td>
        <td><%= smsloan.newdebtor_loantime_1year_25k %></td>
        <td><%= smsloan.newdebtor_loantime_1year_30k %></td>
        <td><%= smsloan.newdebtor_loantime_2year_5h %></td>
        <td><%= smsloan.newdebtor_loantime_2year_1k %></td>
        <td><%= smsloan.newdebtor_loantime_2year_2k %></td>
        <td><%= smsloan.newdebtor_loantime_2year_3k %></td>
        <td><%= smsloan.newdebtor_loantime_2year_4k %></td>
        <td><%= smsloan.newdebtor_loantime_2year_5k %></td>
        <td><%= smsloan.newdebtor_loantime_2year_6k %></td>
        <td><%= smsloan.newdebtor_loantime_2year_7k %></td>
        <td><%= smsloan.newdebtor_loantime_2year_8k %></td>
        <td><%= smsloan.newdebtor_loantime_2year_9k %></td>
        <td><%= smsloan.newdebtor_loantime_2year_10k %></td>
        <td><%= smsloan.newdebtor_loantime_2year_15k %></td>
        <td><%= smsloan.newdebtor_loantime_2year_20k %></td>
        <td><%= smsloan.newdebtor_loantime_2year_25k %></td>
        <td><%= smsloan.newdebtor_loantime_2year_30k %></td>
        <td><%= smsloan.newdebtor_loantime_3year_5h %></td>
        <td><%= smsloan.newdebtor_loantime_3year_1k %></td>
        <td><%= smsloan.newdebtor_loantime_3year_2k %></td>
        <td><%= smsloan.newdebtor_loantime_3year_3k %></td>
        <td><%= smsloan.newdebtor_loantime_3year_4k %></td>
        <td><%= smsloan.newdebtor_loantime_3year_5k %></td>
        <td><%= smsloan.newdebtor_loantime_3year_6k %></td>
        <td><%= smsloan.newdebtor_loantime_3year_7k %></td>
        <td><%= smsloan.newdebtor_loantime_3year_8k %></td>
        <td><%= smsloan.newdebtor_loantime_3year_9k %></td>
        <td><%= smsloan.newdebtor_loantime_3year_10k %></td>
        <td><%= smsloan.newdebtor_loantime_3year_15k %></td>
        <td><%= smsloan.newdebtor_loantime_3year_20k %></td>
        <td><%= smsloan.newdebtor_loantime_3year_25k %></td>
        <td><%= smsloan.newdebtor_loantime_3year_30k %></td>
        <td><%= smsloan.newdebtor_loantime_4year_5h %></td>
        <td><%= smsloan.newdebtor_loantime_4year_1k %></td>
        <td><%= smsloan.newdebtor_loantime_4year_2k %></td>
        <td><%= smsloan.newdebtor_loantime_4year_3k %></td>
        <td><%= smsloan.newdebtor_loantime_4year_4k %></td>
        <td><%= smsloan.newdebtor_loantime_4year_5k %></td>
        <td><%= smsloan.newdebtor_loantime_4year_6k %></td>
        <td><%= smsloan.newdebtor_loantime_4year_7k %></td>
        <td><%= smsloan.newdebtor_loantime_4year_8k %></td>
        <td><%= smsloan.newdebtor_loantime_4year_9k %></td>
        <td><%= smsloan.newdebtor_loantime_4year_10k %></td>
        <td><%= smsloan.newdebtor_loantime_4year_15k %></td>
        <td><%= smsloan.newdebtor_loantime_4year_20k %></td>
        <td><%= smsloan.newdebtor_loantime_4year_25k %></td>
        <td><%= smsloan.newdebtor_loantime_4year_30k %></td>
        <td><%= smsloan.newdebtor_loantime_5year_5h %></td>
        <td><%= smsloan.newdebtor_loantime_5year_1k %></td>
        <td><%= smsloan.newdebtor_loantime_5year_2k %></td>
        <td><%= smsloan.newdebtor_loantime_5year_3k %></td>
        <td><%= smsloan.newdebtor_loantime_5year_4k %></td>
        <td><%= smsloan.newdebtor_loantime_5year_5k %></td>
        <td><%= smsloan.newdebtor_loantime_5year_6k %></td>
        <td><%= smsloan.newdebtor_loantime_5year_7k %></td>
        <td><%= smsloan.newdebtor_loantime_5year_8k %></td>
        <td><%= smsloan.newdebtor_loantime_5year_9k %></td>
        <td><%= smsloan.newdebtor_loantime_5year_10k %></td>
        <td><%= smsloan.newdebtor_loantime_5year_15k %></td>
        <td><%= smsloan.newdebtor_loantime_5year_20k %></td>
        <td><%= smsloan.newdebtor_loantime_5year_25k %></td>
        <td><%= smsloan.newdebtor_loantime_5year_30k %></td>
        <td><%= link_to 'Show', smsloan %></td>
        <td><%= link_to 'Edit', edit_smsloan_path(smsloan) %></td>
        <td><%= link_to 'Destroy', smsloan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Smsloan', new_smsloan_path %>
