<p id="notice"><%= notice %></p>

<p>
  <strong>Bank:</strong>
  <%= @smsloan.bank %>
</p>

<p>
  <strong>Min loanamoun:</strong>
  <%= @smsloan.min_loanamoun %>
</p>

<p>
  <strong>Max loanamoun:</strong>
  <%= @smsloan.max_loanamoun %>
</p>

<p>
  <strong>Mobile friendly site:</strong>
  <%= @smsloan.mobile_friendly_site %>
</p>

<p>
  <strong>Smsloan payment note:</strong>
  <%= @smsloan.smsloan_payment_note %>
</p>

<p>
  <strong>Smsloan min age:</strong>
  <%= @smsloan.smsloan_min_age %>
</p>

<p>
  <strong>Cost free loan:</strong>
  <%= @smsloan.cost_free_loan %>
</p>

<p>
  <strong>New borrower 5k:</strong>
  <%= @smsloan.new_borrower_5K %>
</p>

<p>
  <strong>New borrower 10k:</strong>
  <%= @smsloan.new_borrower_10K %>
</p>

<p>
  <strong>No uc:</strong>
  <%= @smsloan.no_uc %>
</p>

<p>
  <strong>Skef member:</strong>
  <%= @smsloan.skef_member %>
</p>

<p>
  <strong>Bankid:</strong>
  <%= @smsloan.bankid %>
</p>

<p>
  <strong>Open on saturdays:</strong>
  <%= @smsloan.open_on_saturdays %>
</p>

<p>
  <strong>Weblink:</strong>
  <%= @smsloan.weblink %>
</p>

<p>
  <strong>Loantime 14d 1k:</strong>
  <%= @smsloan.loantime_14d_1k %>
</p>

<p>
  <strong>Loantime 14d 2k:</strong>
  <%= @smsloan.loantime_14d_2k %>
</p>

<p>
  <strong>Loantime 14d 3k:</strong>
  <%= @smsloan.loantime_14d_3k %>
</p>

<p>
  <strong>Loantime 14d 4k:</strong>
  <%= @smsloan.loantime_14d_4k %>
</p>

<p>
  <strong>Loantime 14d 5k:</strong>
  <%= @smsloan.loantime_14d_5k %>
</p>

<p>
  <strong>Loantime 14d 6k:</strong>
  <%= @smsloan.loantime_14d_6k %>
</p>

<p>
  <strong>Loantime 14d 7k:</strong>
  <%= @smsloan.loantime_14d_7k %>
</p>

<p>
  <strong>Loantime 14d 8k:</strong>
  <%= @smsloan.loantime_14d_8k %>
</p>

<p>
  <strong>Loantime 14d 9k:</strong>
  <%= @smsloan.loantime_14d_9k %>
</p>

<p>
  <strong>Loantime 14d 10k:</strong>
  <%= @smsloan.loantime_14d_10k %>
</p>

<p>
  <strong>Loantime 14d 15k:</strong>
  <%= @smsloan.loantime_14d_15k %>
</p>

<p>
  <strong>Loantime 14d 20k:</strong>
  <%= @smsloan.loantime_14d_20k %>
</p>

<p>
  <strong>Loantime 14d 25k:</strong>
  <%= @smsloan.loantime_14d_25k %>
</p>

<p>
  <strong>Loantime 14d 30k:</strong>
  <%= @smsloan.loantime_14d_30k %>
</p>

<p>
  <strong>Loantime 21d 1k:</strong>
  <%= @smsloan.loantime_21d_1k %>
</p>

<p>
  <strong>Loantime 21d 2k:</strong>
  <%= @smsloan.loantime_21d_2k %>
</p>

<p>
  <strong>Loantime 21d 3k:</strong>
  <%= @smsloan.loantime_21d_3k %>
</p>

<p>
  <strong>Loantime 21d 4k:</strong>
  <%= @smsloan.loantime_21d_4k %>
</p>

<p>
  <strong>Loantime 21d 5k:</strong>
  <%= @smsloan.loantime_21d_5k %>
</p>

<p>
  <strong>Loantime 21d 6k:</strong>
  <%= @smsloan.loantime_21d_6k %>
</p>

<p>
  <strong>Loantime 21d 7k:</strong>
  <%= @smsloan.loantime_21d_7k %>
</p>

<p>
  <strong>Loantime 21d 8k:</strong>
  <%= @smsloan.loantime_21d_8k %>
</p>

<p>
  <strong>Loantime 21d 9k:</strong>
  <%= @smsloan.loantime_21d_9k %>
</p>

<p>
  <strong>Loantime 21d 10k:</strong>
  <%= @smsloan.loantime_21d_10k %>
</p>

<p>
  <strong>Loantime 21d 15k:</strong>
  <%= @smsloan.loantime_21d_15k %>
</p>

<p>
  <strong>Loantime 21d 20k:</strong>
  <%= @smsloan.loantime_21d_20k %>
</p>

<p>
  <strong>Loantime 21d 25k:</strong>
  <%= @smsloan.loantime_21d_25k %>
</p>

<p>
  <strong>Loantime 21d 30k:</strong>
  <%= @smsloan.loantime_21d_30k %>
</p>

<p>
  <strong>Loantime 30d 1k:</strong>
  <%= @smsloan.loantime_30d_1k %>
</p>

<p>
  <strong>Loantime 30d 2k:</strong>
  <%= @smsloan.loantime_30d_2k %>
</p>

<p>
  <strong>Loantime 30d 3k:</strong>
  <%= @smsloan.loantime_30d_3k %>
</p>

<p>
  <strong>Loantime 30d 4k:</strong>
  <%= @smsloan.loantime_30d_4k %>
</p>

<p>
  <strong>Loantime 30d 5k:</strong>
  <%= @smsloan.loantime_30d_5k %>
</p>

<p>
  <strong>Loantime 30d 6k:</strong>
  <%= @smsloan.loantime_30d_6k %>
</p>

<p>
  <strong>Loantime 30d 7k:</strong>
  <%= @smsloan.loantime_30d_7k %>
</p>

<p>
  <strong>Loantime 30d 8k:</strong>
  <%= @smsloan.loantime_30d_8k %>
</p>

<p>
  <strong>Loantime 30d 9k:</strong>
  <%= @smsloan.loantime_30d_9k %>
</p>

<p>
  <strong>Loantime 30d 10k:</strong>
  <%= @smsloan.loantime_30d_10k %>
</p>

<p>
  <strong>Loantime 30d 15k:</strong>
  <%= @smsloan.loantime_30d_15k %>
</p>

<p>
  <strong>Loantime 30d 20k:</strong>
  <%= @smsloan.loantime_30d_20k %>
</p>

<p>
  <strong>Loantime 30d 25k:</strong>
  <%= @smsloan.loantime_30d_25k %>
</p>

<p>
  <strong>Loantime 30d 30k:</strong>
  <%= @smsloan.loantime_30d_30k %>
</p>

<p>
  <strong>Loantime 45d 1k:</strong>
  <%= @smsloan.loantime_45d_1k %>
</p>

<p>
  <strong>Loantime 45d 2k:</strong>
  <%= @smsloan.loantime_45d_2k %>
</p>

<p>
  <strong>Loantime 45d 3k:</strong>
  <%= @smsloan.loantime_45d_3k %>
</p>

<p>
  <strong>Loantime 45d 4k:</strong>
  <%= @smsloan.loantime_45d_4k %>
</p>

<p>
  <strong>Loantime 45d 5k:</strong>
  <%= @smsloan.loantime_45d_5k %>
</p>

<p>
  <strong>Loantime 45d 6k:</strong>
  <%= @smsloan.loantime_45d_6k %>
</p>

<p>
  <strong>Loantime 45d 7k:</strong>
  <%= @smsloan.loantime_45d_7k %>
</p>

<p>
  <strong>Loantime 45d 8k:</strong>
  <%= @smsloan.loantime_45d_8k %>
</p>

<p>
  <strong>Loantime 45d 9k:</strong>
  <%= @smsloan.loantime_45d_9k %>
</p>

<p>
  <strong>Loantime 45d 10k:</strong>
  <%= @smsloan.loantime_45d_10k %>
</p>

<p>
  <strong>Loantime 45d 15k:</strong>
  <%= @smsloan.loantime_45d_15k %>
</p>

<p>
  <strong>Loantime 45d 20k:</strong>
  <%= @smsloan.loantime_45d_20k %>
</p>

<p>
  <strong>Loantime 45d 25k:</strong>
  <%= @smsloan.loantime_45d_25k %>
</p>

<p>
  <strong>Loantime 45d 30k:</strong>
  <%= @smsloan.loantime_45d_30k %>
</p>

<p>
  <strong>Loantime 60d 1k:</strong>
  <%= @smsloan.loantime_60d_1k %>
</p>

<p>
  <strong>Loantime 60d 2k:</strong>
  <%= @smsloan.loantime_60d_2k %>
</p>

<p>
  <strong>Loantime 60d 3k:</strong>
  <%= @smsloan.loantime_60d_3k %>
</p>

<p>
  <strong>Loantime 60d 4k:</strong>
  <%= @smsloan.loantime_60d_4k %>
</p>

<p>
  <strong>Loantime 60d 5k:</strong>
  <%= @smsloan.loantime_60d_5k %>
</p>

<p>
  <strong>Loantime 60d 6k:</strong>
  <%= @smsloan.loantime_60d_6k %>
</p>

<p>
  <strong>Loantime 60d 7k:</strong>
  <%= @smsloan.loantime_60d_7k %>
</p>

<p>
  <strong>Loantime 60d 8k:</strong>
  <%= @smsloan.loantime_60d_8k %>
</p>

<p>
  <strong>Loantime 60d 9k:</strong>
  <%= @smsloan.loantime_60d_9k %>
</p>

<p>
  <strong>Loantime 60d 10k:</strong>
  <%= @smsloan.loantime_60d_10k %>
</p>

<p>
  <strong>Loantime 60d 15k:</strong>
  <%= @smsloan.loantime_60d_15k %>
</p>

<p>
  <strong>Loantime 60d 20k:</strong>
  <%= @smsloan.loantime_60d_20k %>
</p>

<p>
  <strong>Loantime 60d 25k:</strong>
  <%= @smsloan.loantime_60d_25k %>
</p>

<p>
  <strong>Loantime 60d 30k:</strong>
  <%= @smsloan.loantime_60d_30k %>
</p>

<p>
  <strong>Loantime 90d 1k:</strong>
  <%= @smsloan.loantime_90d_1k %>
</p>

<p>
  <strong>Loantime 90d 2k:</strong>
  <%= @smsloan.loantime_90d_2k %>
</p>

<p>
  <strong>Loantime 90d 3k:</strong>
  <%= @smsloan.loantime_90d_3k %>
</p>

<p>
  <strong>Loantime 90d 4k:</strong>
  <%= @smsloan.loantime_90d_4k %>
</p>

<p>
  <strong>Loantime 90d 5k:</strong>
  <%= @smsloan.loantime_90d_5k %>
</p>

<p>
  <strong>Loantime 90d 6k:</strong>
  <%= @smsloan.loantime_90d_6k %>
</p>

<p>
  <strong>Loantime 90d 7k:</strong>
  <%= @smsloan.loantime_90d_7k %>
</p>

<p>
  <strong>Loantime 90d 8k:</strong>
  <%= @smsloan.loantime_90d_8k %>
</p>

<p>
  <strong>Loantime 90d 9k:</strong>
  <%= @smsloan.loantime_90d_9k %>
</p>

<p>
  <strong>Loantime 90d 10k:</strong>
  <%= @smsloan.loantime_90d_10k %>
</p>

<p>
  <strong>Loantime 90d 15k:</strong>
  <%= @smsloan.loantime_90d_15k %>
</p>

<p>
  <strong>Loantime 90d 20k:</strong>
  <%= @smsloan.loantime_90d_20k %>
</p>

<p>
  <strong>Loantime 90d 25k:</strong>
  <%= @smsloan.loantime_90d_25k %>
</p>

<p>
  <strong>Loantime 90d 30k:</strong>
  <%= @smsloan.loantime_90d_30k %>
</p>

<p>
  <strong>Loantime 1year 1k:</strong>
  <%= @smsloan.loantime_1year_1k %>
</p>

<p>
  <strong>Loantime 1year 2k:</strong>
  <%= @smsloan.loantime_1year_2k %>
</p>

<p>
  <strong>Loantime 1year 3k:</strong>
  <%= @smsloan.loantime_1year_3k %>
</p>

<p>
  <strong>Loantime 1year 4k:</strong>
  <%= @smsloan.loantime_1year_4k %>
</p>

<p>
  <strong>Loantime 1year 5k:</strong>
  <%= @smsloan.loantime_1year_5k %>
</p>

<p>
  <strong>Loantime 1year 6k:</strong>
  <%= @smsloan.loantime_1year_6k %>
</p>

<p>
  <strong>Loantime 1year 7k:</strong>
  <%= @smsloan.loantime_1year_7k %>
</p>

<p>
  <strong>Loantime 1year 8k:</strong>
  <%= @smsloan.loantime_1year_8k %>
</p>

<p>
  <strong>Loantime 1year 9k:</strong>
  <%= @smsloan.loantime_1year_9k %>
</p>

<p>
  <strong>Loantime 1year 10k:</strong>
  <%= @smsloan.loantime_1year_10k %>
</p>

<p>
  <strong>Loantime 1year 15k:</strong>
  <%= @smsloan.loantime_1year_15k %>
</p>

<p>
  <strong>Loantime 1year 20k:</strong>
  <%= @smsloan.loantime_1year_20k %>
</p>

<p>
  <strong>Loantime 1year 25k:</strong>
  <%= @smsloan.loantime_1year_25k %>
</p>

<p>
  <strong>Loantime 1year 30k:</strong>
  <%= @smsloan.loantime_1year_30k %>
</p>

<p>
  <strong>Loantime 2year 1k:</strong>
  <%= @smsloan.loantime_2year_1k %>
</p>

<p>
  <strong>Loantime 2year 2k:</strong>
  <%= @smsloan.loantime_2year_2k %>
</p>

<p>
  <strong>Loantime 2year 3k:</strong>
  <%= @smsloan.loantime_2year_3k %>
</p>

<p>
  <strong>Loantime 2year 4k:</strong>
  <%= @smsloan.loantime_2year_4k %>
</p>

<p>
  <strong>Loantime 2year 5k:</strong>
  <%= @smsloan.loantime_2year_5k %>
</p>

<p>
  <strong>Loantime 2year 6k:</strong>
  <%= @smsloan.loantime_2year_6k %>
</p>

<p>
  <strong>Loantime 2year 7k:</strong>
  <%= @smsloan.loantime_2year_7k %>
</p>

<p>
  <strong>Loantime 2year 8k:</strong>
  <%= @smsloan.loantime_2year_8k %>
</p>

<p>
  <strong>Loantime 2year 9k:</strong>
  <%= @smsloan.loantime_2year_9k %>
</p>

<p>
  <strong>Loantime 2year 10k:</strong>
  <%= @smsloan.loantime_2year_10k %>
</p>

<p>
  <strong>Loantime 2year 15k:</strong>
  <%= @smsloan.loantime_2year_15k %>
</p>

<p>
  <strong>Loantime 2year 20k:</strong>
  <%= @smsloan.loantime_2year_20k %>
</p>

<p>
  <strong>Loantime 2year 25k:</strong>
  <%= @smsloan.loantime_2year_25k %>
</p>

<p>
  <strong>Loantime 2year 30k:</strong>
  <%= @smsloan.loantime_2year_30k %>
</p>

<p>
  <strong>Loantime 3year 1k:</strong>
  <%= @smsloan.loantime_3year_1k %>
</p>

<p>
  <strong>Loantime 3year 2k:</strong>
  <%= @smsloan.loantime_3year_2k %>
</p>

<p>
  <strong>Loantime 3year 3k:</strong>
  <%= @smsloan.loantime_3year_3k %>
</p>

<p>
  <strong>Loantime 3year 4k:</strong>
  <%= @smsloan.loantime_3year_4k %>
</p>

<p>
  <strong>Loantime 3year 5k:</strong>
  <%= @smsloan.loantime_3year_5k %>
</p>

<p>
  <strong>Loantime 3year 6k:</strong>
  <%= @smsloan.loantime_3year_6k %>
</p>

<p>
  <strong>Loantime 3year 7k:</strong>
  <%= @smsloan.loantime_3year_7k %>
</p>

<p>
  <strong>Loantime 3year 8k:</strong>
  <%= @smsloan.loantime_3year_8k %>
</p>

<p>
  <strong>Loantime 3year 9k:</strong>
  <%= @smsloan.loantime_3year_9k %>
</p>

<p>
  <strong>Loantime 3year 10k:</strong>
  <%= @smsloan.loantime_3year_10k %>
</p>

<p>
  <strong>Loantime 3year 15k:</strong>
  <%= @smsloan.loantime_3year_15k %>
</p>

<p>
  <strong>Loantime 3year 20k:</strong>
  <%= @smsloan.loantime_3year_20k %>
</p>

<p>
  <strong>Loantime 3year 25k:</strong>
  <%= @smsloan.loantime_3year_25k %>
</p>

<p>
  <strong>Loantime 3year 30k:</strong>
  <%= @smsloan.loantime_3year_30k %>
</p>

<p>
  <strong>Loantime 4year 1k:</strong>
  <%= @smsloan.loantime_4year_1k %>
</p>

<p>
  <strong>Loantime 4year 2k:</strong>
  <%= @smsloan.loantime_4year_2k %>
</p>

<p>
  <strong>Loantime 4year 3k:</strong>
  <%= @smsloan.loantime_4year_3k %>
</p>

<p>
  <strong>Loantime 4year 4k:</strong>
  <%= @smsloan.loantime_4year_4k %>
</p>

<p>
  <strong>Loantime 4year 5k:</strong>
  <%= @smsloan.loantime_4year_5k %>
</p>

<p>
  <strong>Loantime 4year 6k:</strong>
  <%= @smsloan.loantime_4year_6k %>
</p>

<p>
  <strong>Loantime 4year 7k:</strong>
  <%= @smsloan.loantime_4year_7k %>
</p>

<p>
  <strong>Loantime 4year 8k:</strong>
  <%= @smsloan.loantime_4year_8k %>
</p>

<p>
  <strong>Loantime 4year 9k:</strong>
  <%= @smsloan.loantime_4year_9k %>
</p>

<p>
  <strong>Loantime 4year 10k:</strong>
  <%= @smsloan.loantime_4year_10k %>
</p>

<p>
  <strong>Loantime 4year 15k:</strong>
  <%= @smsloan.loantime_4year_15k %>
</p>

<p>
  <strong>Loantime 4year 20k:</strong>
  <%= @smsloan.loantime_4year_20k %>
</p>

<p>
  <strong>Loantime 4year 25k:</strong>
  <%= @smsloan.loantime_4year_25k %>
</p>

<p>
  <strong>Loantime 4year 30k:</strong>
  <%= @smsloan.loantime_4year_30k %>
</p>

<p>
  <strong>Loantime 5year 1k:</strong>
  <%= @smsloan.loantime_5year_1k %>
</p>

<p>
  <strong>Loantime 5year 2k:</strong>
  <%= @smsloan.loantime_5year_2k %>
</p>

<p>
  <strong>Loantime 5year 3k:</strong>
  <%= @smsloan.loantime_5year_3k %>
</p>

<p>
  <strong>Loantime 5year 4k:</strong>
  <%= @smsloan.loantime_5year_4k %>
</p>

<p>
  <strong>Loantime 5year 5k:</strong>
  <%= @smsloan.loantime_5year_5k %>
</p>

<p>
  <strong>Loantime 5year 6k:</strong>
  <%= @smsloan.loantime_5year_6k %>
</p>

<p>
  <strong>Loantime 5year 7k:</strong>
  <%= @smsloan.loantime_5year_7k %>
</p>

<p>
  <strong>Loantime 5year 8k:</strong>
  <%= @smsloan.loantime_5year_8k %>
</p>

<p>
  <strong>Loantime 5year 9k:</strong>
  <%= @smsloan.loantime_5year_9k %>
</p>

<p>
  <strong>Loantime 5year 10k:</strong>
  <%= @smsloan.loantime_5year_10k %>
</p>

<p>
  <strong>Loantime 5year 15k:</strong>
  <%= @smsloan.loantime_5year_15k %>
</p>

<p>
  <strong>Loantime 5year 20k:</strong>
  <%= @smsloan.loantime_5year_20k %>
</p>

<p>
  <strong>Loantime 5year 25k:</strong>
  <%= @smsloan.loantime_5year_25k %>
</p>

<p>
  <strong>Loantime 5year 30k:</strong>
  <%= @smsloan.loantime_5year_30k %>
</p>

<%= link_to 'Edit', edit_smsloan_path(@smsloan) %> |
<%= link_to 'Back', smsloans_path %>
