<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<p class="navbar-text pull-right">
<% if admin_signed_in? %>
  Logged in as <strong><%= current_admin.email %></strong>.
  <%= link_to "Logout", destroy_admin_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Login", new_admin_session_path, :class => 'navbar-link'  %>
<% end %>

<h1>Listing mortgageloans</h1>

<table>
  <thead>
    <tr>
      <th>Bank</th>
      <th>Fixation rate 3months</th>
      <th>Fixation rate 1years</th>
      <th>Fixation rate 2years</th>
      <th>Fixation rate 3years</th>
      <th>Fixation rate 5years</th>
      <th>Fixation rate 7years</th>
      <th>Fixation rate 10years</th>
      <th>Weblink</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mortgageloans.each do |mortgageloan| %>
      <tr>
        <td><%= mortgageloan.bank %></td>
        <td><%= mortgageloan.fixation_rate_3months %></td>
        <td><%= mortgageloan.fixation_rate_1years %></td>
        <td><%= mortgageloan.fixation_rate_2years %></td>
        <td><%= mortgageloan.fixation_rate_3years %></td>
        <td><%= mortgageloan.fixation_rate_5years %></td>
        <td><%= mortgageloan.fixation_rate_7years %></td>
        <td><%= mortgageloan.fixation_rate_10years %></td>
        <td><%= mortgageloan.weblink %></td>
        <td><%= link_to 'Show', mortgageloan %></td>
        <td><%= link_to 'Edit', edit_mortgageloan_path(mortgageloan) %></td>
        <td><%= link_to 'Destroy', mortgageloan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mortgageloan', new_mortgageloan_path %>
