.row
  .span2
    / Facebook
    .fb-like-box{"data-colorscheme" => "light", "data-header" => "true", "data-href" => "https://www.facebook.com/pages/B%C3%A4stasparr%C3%A4ntorse/1503464366587097?fref=ts", "data-show-border" => "true", "data-show-faces" => "false", "data-stream" => "false"}

  / Google+
  .span2.google-likes
    %a{:href => "//plus.google.com/u/0/102393660669382846167?prsrc=3", :rel => "publisher", :style => "text-decoration:none;", :target => "_top"}
      %img{:alt => "Google+", :src => "//ssl.gstatic.com/images/icons/gplus-32.png", :style => "border:0;width:32px;height:32px;"}/


%h1 Sparräntor
%p Söker du ett sparkonto som ger en bra sparränta? Nedan listas banker och finansiella institut som erbjuder sparkonton där du kan få möjlighet till en förmånlig sparränta. Du kan klicka på rubrikerna i listan för att sortera.

%table.content-top#resultTable{cellpadding: "1", cellspacing: "1"}
  %thead
    %tr
      %th Bank
      %th
        Lägsta
        %br>/
        räntan
      %th
        Högsta
        %br>/
        räntan
      %th Bindningstid
      %th Fria uttag
      %th 
        Insättnings-
        %br>/
        garanti
      %th
        Insättnings
        %br>/
        belopp
      %th
  %tbody
    - @rates.each do |rate|
      %tr
        %td.bank-padding= rate.bank
        %td.column-center= number_to_percentage(rate.min_rate, strip_insignificant_zeros: true)
        %td.column-center= number_to_percentage(rate.max_rate, strip_insignificant_zeros: true)
        %td.column-center= rate.conditions
        %td= rate.withdrawal
        %td.column-center= rate.deposit_guarantee
        %td= rate.amount_limit
        %td= rate.web_link.to_s.html_safe

%p.top-buffer Bästasparräntor.se garanterar inte att information gällande sparräntor samt övrig information är korrekt. För att säkerställa att informationen är korrekt vänligen besök bankernas hemsidor.
