%h1 SparräntorHEJ!
%table.content-top#resultTable{cellpadding: "1", cellspacing: "1"}
  %thead
    %tr
      %th Bank
      %th
        Lägsta
        %br>/
        räntan
      %th
        Högsta
        %br>/
        räntan
      %th Tidsvillkor
      %th Uttag
      %th 
        Insättnings
        %br>/
        belopp
      %th 
        Insättnings-
        %br>/
        garanti

      %th Ansök   
  %tbody
    - @rates.each do |rate|
      %tr
        %td.bank-padding= rate.bank
        %td.column-center= number_to_percentage(rate.min_rate, strip_insignificant_zeros: true)
        %td.column-center= number_to_percentage(rate.max_rate, strip_insignificant_zeros: true)
        %td= rate.conditions
        %td= rate.withdrawal
        %td= rate.amount_limit
        %td.column-center= rate.deposit_guarantee
        %td= rate.web_link.to_s.html_safe
