<!DOCTYPE html>
<html lang="en">
  <head>

    <%= favicon_link_tag 'favicon.ico' %>
    
    <meta charset="utf-8">
    <meta name="google-site-verification" content="VtdEH7zhYHz6CaihcENT2lRMqI0BR8wq5uX55UWYMl8" />
    <meta name="google-site-verification" content="bzqmsweAUZ_e6buU4OGRM6m6c9LjeFGqjTCn2QWITtk" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">


    <title><%= yield(:title) %></title>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  

    <%= csrf_meta_tags %>

    <!-- Checkbox CSS -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />


    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-18624650-4', 'auto');
      ga('send', 'pageview');

    </script>


    <!-- TradeDoubler site verification 2460789 -->
    <!-- TradeDoubler site verification 2549466 -->
    <%= yield(:header) %>


    <!-- Google + Place this tag in your head or just before your close body tag. -->
    <script src="https://apis.google.com/js/platform.js" async defer>
      {lang: 'sv'}
    </script>

    <!-- Adservice code to connect Adwords account with Adwords -->
    <script src="https://online.adservicemedia.dk/cgi-bin/publisher/tools/asjs.pl?id=8021"></script>

  </head>


  <body>
    


    <div class="navbar-fix navbar-static-top">
    <nav class="navbar navbar-default">
      <div class="container-fluid ">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#demo">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
          </button>
          <img class="logo" src="new_logo.png" alt="M" height="50" width="50">
          <a class="navbar-brand fonts" href="smslan">Moneylabs.se</a>
        </div>
        <div class="navbar-a-fix">
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><a href="smslan">
              <%= submit_tag "Topplistan", class: 'btn fonts' %>
            </a></li>
            <li class="minimize fonts"><a href="smslan">
              <%= form_tag smslan_path, :method => "get", id: "search_form_dropdown", remote: true do %>
                <%= select_tag :search1, options_for_select([["14 dagar", "1",], ["21 dagar", "2"], ["30 dagar", "3"], ["45 dagar", "4"], ["60 dagar", "5"], ["90 dagar", "6"], ["1 år", "7"]], params[:search1]), :class => "smsdropdown hidden-smsdropdown", :prompt => "Välj löptid på lånet" %>
                <%= select_tag :search2, options_for_select([["1000 kr", "2"]], params[:search2]), :class => "smsdropdown hidden-smsdropdown" %>
                <%= submit_tag "Låna 1000 kr", class: 'btn' %>
              <% end %>
            </a></li>

            <li class="minimize fonts"><a href="smslan">
              <%= form_tag smslan_path, :method => "get", id: "search_form_dropdown", remote: true do %>
                <%= select_tag :search1, options_for_select([["14 dagar", "1",], ["21 dagar", "2"], ["30 dagar", "3"], ["45 dagar", "4"], ["60 dagar", "5"], ["90 dagar", "6"], ["1 år", "7"]], params[:search1]), :class => "smsdropdown hidden-smsdropdown", :prompt => "Välj löptid på lånet" %>
                <%= select_tag :search2, options_for_select([["3000 kr", "4"]], params[:search2]), :class => "smsdropdown hidden-smsdropdown" %>
                <%= submit_tag "Låna 3000 kr", class: 'btn' %>
              <% end %>
            </a></li>

            <li class="minimize fonts"><a href="smslan">
              <%= form_tag smslan_path, :method => "get", id: "search_form_dropdown", remote: true do %>
                <%= select_tag :search1, options_for_select([["14 dagar", "1",], ["21 dagar", "2"], ["30 dagar", "3"], ["45 dagar", "4"], ["60 dagar", "5"], ["90 dagar", "6"], ["1 år", "7"]], params[:search1]), :class => "smsdropdown hidden-smsdropdown", :prompt => "Välj löptid på lånet" %>
                <%= select_tag :search2, options_for_select([["5000 kr", "6"]], params[:search2]), :class => "smsdropdown hidden-smsdropdown" %>
                <%= submit_tag "Låna 5000 kr", class: 'btn' %>
              <% end %>
            </a></li>

            <li class="minimize fonts"><a href="smslan">
              <%= form_tag smslan_path, :method => "get", id: "search_form_dropdown", remote: true do %>
                <%= select_tag :search1, options_for_select([["14 dagar", "1",], ["21 dagar", "2"], ["30 dagar", "3"], ["45 dagar", "4"], ["60 dagar", "5"], ["90 dagar", "6"], ["1 år", "7"]], params[:search1]), :class => "smsdropdown hidden-smsdropdown", :prompt => "Välj löptid på lånet" %>
                <%= select_tag :search2, options_for_select([["10000 kr", "11"]], params[:search2]), :class => "smsdropdown hidden-smsdropdown" %>
                <%= submit_tag "Låna 10000 kr", class: 'btn' %>
              <% end %>
            </a></li>

            <li class="minimize fonts"><a href="smslan">
              <%= form_tag smslan_path, :method => "get", id: "search_form_dropdown", remote: true do %>
                <%= select_tag :search1, options_for_select([["14 dagar", "1",], ["21 dagar", "2"], ["30 dagar", "3"], ["45 dagar", "4"], ["60 dagar", "5"], ["90 dagar", "6"], ["1 år", "7"]], params[:search1]), :class => "smsdropdown hidden-smsdropdown", :prompt => "Välj löptid på lånet" %>
                <%= select_tag :search2, options_for_select([["15000 kr", "12"]], params[:search2]), :class => "smsdropdown hidden-smsdropdown" %>
                <%= submit_tag "Låna 15000 kr", class: 'btn' %>
              <% end %>
            </a></li>

            <li class="minimize fonts"><a href="smslan">
              <%= form_tag smslan_path, :method => "get", id: "search_form_dropdown", remote: true do %>
                <%= select_tag :search1, options_for_select([["14 dagar", "1",], ["21 dagar", "2"], ["30 dagar", "3"], ["45 dagar", "4"], ["60 dagar", "5"], ["90 dagar", "6"], ["1 år", "7"]], params[:search1]), :class => "smsdropdown hidden-smsdropdown", :prompt => "Välj löptid på lånet" %>
                <%= select_tag :search2, options_for_select([["15000 kr", "13"]], params[:search2]), :class => "smsdropdown hidden-smsdropdown" %>
                <%= submit_tag "Låna 20000 kr", class: 'btn' %>
              <% end %>
            </a></li>

          </ul>
          
          <!-- <ul class="nav navbar-nav navbar-right"> -->
          <!--   <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>  -->
          <!--   <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>  -->
          </ul>
        </div>
        </div>
      </div>
    </nav>
    </div>


      <div class="content">

        <%= yield %>

      </div>
    <div class="application-field">

      <div class="row-fluid">
      <div class="footer span12">
        <p class="white2">&copy; Moneylabs.se 2014-2015 All rights reserved</p>

        <div class="logo-credits">
        Searching,Science graphics by <a href="http://www.freepik.com/">Freepik</a> from <a href="http://www.flaticon.com/">Flaticon</a> are licensed under <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a>. Made with <a href="http://logomakr.com" title="Logo Maker">Logo Maker</a>
        </div>
        </div>

      </div>
     </div>
    </div> <!-- /container -->

    <script type="text/javascript"> var uri = 'http://impse.tradedoubler.com/imp?type(inv)g(17588024)a(2460789)' + new String (Math.random()).substring (2, 11); document.write('<img src="'+uri +'">'); </script>



    <script type="text/javascript" src="https://track.adtraction.com/t/t?as=1090730078&t=1&tk=0&trt=2" charset="ISO-8859-1"></script>

    <!-- SessionCam Client Integration v6.0 -->
    <script type="text/javascript">
    //<![CDATA[
    var scRec=document.createElement('SCRIPT');
    scRec.type='text/javascript';
    scRec.src="//d2oh4tlt9mrke9.cloudfront.net/Record/js/sessioncam.recorder.js";
    document.getElementsByTagName('head')[0].appendChild(scRec);
    //]]>
    </script>
    <!-- End SessionCam -->

    
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300' rel='stylesheet' type='text/css'>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>



     <!-- Google Code for Click Conversion Page -->
    <script type="text/javascript">
    / <![CDATA[ /
    var google_conversion_id = 1003001125;
    var google_conversion_language = "en";
    var google_conversion_format = "3";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "W1Q6CKew6l8Qpaqi3gM";
    var google_remarketing_only = false;
    / ]]> /
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
    <div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/1003001125/?label=W1Q6CKew6l8Qpaqi3gM&amp;guid=ON&amp;script=0"/>
    </div>
    </noscript>

  </body>
</html>
