<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="google-site-verification" content="VtdEH7zhYHz6CaihcENT2lRMqI0BR8wq5uX55UWYMl8" />
    <meta name="google-site-verification" content="bzqmsweAUZ_e6buU4OGRM6m6c9LjeFGqjTCn2QWITtk" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= yield(:title) %></title>
    



<script type="text/javascript">
    $(document).ready(function() {
        function cookieController() {
            // Cookie setting scripts in here
        }  
 
        $.cookiesDirective({
            privacyPolicyUri: 'my-privacy-policy.html',
            cookieScripts: 'Google Analytics,My Stats',
            scriptWrapper: cookieController
        });
    });
</script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

    <%= csrf_meta_tags %>





<script>
/**
* Function that tracks a click on an outbound link in Google Analytics.
* This function takes a valid URL string as an argument, and uses that URL string
* as the event label.
*/
var trackOutboundLink = function(url) {
   ga('send', 'event', 'outbound', 'click', url, {'hitCallback':
     function () {
     document.location = url;
     }
   });
}
</script> 



<!-- Google + Place this tag in your head or just before your close body tag. -->


  <!-- TradeDoubler site verification 2460789 -->

<%= yield(:header) %>



  </head>

  <body>






    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <!-- <div class="container-narrow"> -->
    <div class="application-field">
      <div class="masthead">
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container-fluid">

            <img class="logo" src="experiment3.jpg" alt="M" height="60" width="60">
            <a class="navbar-brand fonts" href="sparrantor">Moneylabs.se</a>
            <ul class="nav nav-pills fonts">
                <li><a href="smslan">Jämför SMSlån</a></li>
                <li><a href="gratislan">Hitta Gratislån</a></li>
                <li><a class="vanliga-fragor">Vanliga frågor</a></li>
                <li><a href="om">Om</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>


      <hr>
      <div class="content">
        <%= yield %>
      </div>
      <hr>
    <div class="application-field">
      <div class="footer">
        <p>&copy; Moneylabs.se 2014-2015 All rights reserved</p>
      </div>
     </div>
    </div> <!-- /container -->



<!-- code for cookies disclaimer -->
<script type="text/javascript">
    $(document).ready(function() {
        $.cookiesDirective({
            privacyPolicyUri: 'my-privacy-policy.html'
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function() {
        $.cookiesDirective({
            privacyPolicyUri: 'my-privacy-policy.html',
            cookieScripts: 'Google Analytics,My Stats',
            scriptWrapper: cookieController
        });
    });
</script>






  </body>

<script type="text/javascript">
    $(document).ready(function() {
        function cookieController() {
            // Load Google Analytics to header
            $.cookiesDirective.loadScript({
                uri:'google.js',
                appendTo: 'header'
            });
 
            // Load My Stats to body (default)
            $.cookiesDirective.loadScript({
                uri:'mystats.js'
            });
        }  
 
        $.cookiesDirective({
            privacyPolicyUri: 'my-privacy-policy.html',
            cookieScripts: 'Google Analytics,My Stats',
            scriptWrapper: cookieController
        });
    });
</script>

</html>
